@{
    ViewBag.Title = "AngularAppDevelopmentCompanyINDIA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}
@section AdditionalMeta
{
    <title>Hire Top Angular App Developers in India | Avidclan Technologies</title>
    <meta name="description"
          content="Build beautiful, scalable mobile apps faster with Avidclan Technologies - your expert Flutter app development company in India. Get a free quote today!" />
    <link rel="canonical" href="https://www.avidclan.com/flutter-app-development-company-india/" />
    <link href="~/assets/css/Avidclan/flutter_app_development_usa.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />

}


<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">
                <h1 class="title-54">
                    India’s Leading <span class="primary-color">Angular Development Company </span> for Digital Solutions
                </h1>
                <div class="sub-desc description-18">
                    Looking for exceptional Angular Development Services? Avidclan Technologies is here to serve you, delivering tailor-made answers to your enterprise needs across India. We transform complex ideas into intuitive, high-performance, and scalable web applications. Experience excellence in every project.
                </div>
                <div class="btn-box mt-3">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                        <span>
                            Launch Your Project Now
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner-com.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>


<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Angular Development Milestones That Highlight Our Expertise

                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="Client Served" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="Project Completed" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="Team" />
                    <div class="c-number">40+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="Success Rate" />
                    <div class="c-number">99%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">
                            Your Trusted Angular Development Solution in India
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-md-none d-flex justify-content-center align-items-center img-col my-3 my-lg-0 my-md-0 my-xl-0">
                <img src="~/assets/images/locations/about-us-image.svg" alt="about-us-banner" srcset="~/assets/images/locations/about-us-image.svg 400w, ~/assets/images/locations/about-us-image.svg 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only">
                        Your Trusted Angular Development Solution in India
                    </h2>
                    <div class="text description-18 my-0 gap-25_description">
                        <div>Leverage cutting-edge Angular solutions to unleash the full potential of dynamic web applications. At Avidclan Technologies, we employ our extensive frontend development expertise to craft responsive, single-page applications that boost your digital presence and enhance user engagement. Our passionate team of Angular specialists is committed to pushing boundaries in all aspects, from creating intuitive user interfaces to optimizing performance for lightning-fast loading times.</div>
                        <div>
                            Our ability to translate intricate business logic into seamless, interactive experiences fosters user satisfaction and drives growth.
                        </div>
                        <div>
                            Let’s revolutionize your online presence together. Choose Avidclan Technologies, your trusted Angular development company in India, and watch your digital vision come to life in the vibrant Indian tech landscape!
                        </div>
                    </div>
                </div>
                <div class="btn-box mt-3">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                        <span>
                            Seek our Angular Expertise!
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Bespoke Angular Solutions Tailored for India's Digital Landscape</h2>
                        <p class="text m-0 header_description">At Avidclan Technologies, we design scalable, swift, and dynamic applications using Angular. From single-page apps to enterprise solutions, our skilled Angular developers create web and mobile solutions that boost productivity and drive business growth in the Indian market.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Custom-Angular-Development.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4 class="title-26">Custom Angular Development</h4>
                        <p class="description-16">
                            With Angular's rich features and modular architecture, we create scalable and adaptable web apps that optimize revenue and grow with your company. You can easily incorporate future improvements and modifications into them.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Full-Stack-Angular-Development.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Full Stack Angular Development</h4>
                        <p class="description-16">
                            Our company offers full-stack development services that combine Angular on the front end with powerful back-end technologies like Node.js, Laravel, or Python to create successful web solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Consulting-Services.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Consultancy Services</h4>
                        <p class="description-16">
                            Our expert consultants offer guidance and insightful strategies that help you to make informed decisions regarding optimization, application performance, security, and alignment with your business goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-API-Integration.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular API Integration</h4>
                        <p class="description-16">
                            You can rely on us to expertly incorporate third-party APIs into your Angular apps. This will allow for powerful features like improved performance, real-time data changes, and seamless interaction between front-end and back-end systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Migration-Services.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Migration Services</h4>
                        <p class="description-16">
                            Hire a specialized Angular developer to assess the functionality, dependencies, and architecture of your existing Angular application and to design a migration plan that meets your needs precisely.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Responsive-PWAs-Development.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Responsive PWAs Development</h4>
                        <p class="description-16">
                            Leveraging the latest Angular Framework capabilities, We build Progressive Web Apps (PWAs) with Angular for all screen sizes, offering a mobile-like experience with offline capabilities, fast load times, and responsive design to enhance user engagement across all devices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-SAPs-Development.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular SAP Development</h4>
                        <p class="description-16">
                            Using Angular, our expert developers build an interactive, smooth, and fast-loading user experience without the need for frequent page reloads. We specialize in creating dynamic single-page applications (SPAs).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Maintenance-and-Support.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Maintenance and Support</h4>
                        <p class="description-16">
                            Our continuous support services ensure that the Angular applications are always secured, updated, and optimized to maintain their operational speed and clear out any bugs or problems that may appear.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">Your Go-To Angular Development Services Provider in India</h2>
                    <div class="text color-offWhite description-18">
                        @*Collaborate with our knowledgeable .NET developers to confidently launch your project. In response to your needs, we provide dependable and scalable solutions. Use our experience to improve your application's performance and advance your company. Together, let's create success!*@
                        <ul>
                            <li class="dotnet-whyus-li">

                                <strong>Expert Angular Development:</strong>  Skilled developers creating scalable, high-performance web apps using agile practices for rapid delivery.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>Swift, Optimized Solutions:</strong> Fast time-to-market with performance-focused, responsive web apps for diverse devices and speeds.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>Client-Centric Approach:</strong> Prioritizing transparent communication, reliable reporting, and tailored solutions that exceed client expectations.
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box mt-3">
                        <a href="~/about-us/"
                           class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                            <span>
                                Discover More
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Hire Expert Angular Developers
                                </b>
                            </span>
                            <h2 class="my-0 py-0">Ignite Your Digital Solutions with Angular Development Company</h2>
                        </div>
                        <div class="description-16">
                            <span class="b-txt description-18">
                                Bring your idea to life by collaborating with our knowledgeable Angular developers. Following your needs, we provide scalable and responsive systems. Boost the interactivity of your application and advance your business by utilizing our experience. Together, let's create the web of the future.
                            </span>
                        </div>
                        <div class="btn-box m-0">
                            <a href="/contact-us/" class=" btn position-relative fw-bold rounded-5 overflow-hidden align-middle text-capitalize theme-btn btn-dark-bg custom-btn-padding shadow-none">
                                <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Ready to get started?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Best Angular Development Company in India for Web App Excellence
                        </h2>
                        <p class="text m-0 header_description">At Avidclan Technologies, we take a client-first approach, guiding you through the entire Angular development lifecycle, from concept to completion. Our structured process ensures timely delivery with uncompromising quality.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/Hire .NET Developers-com.svg" alt="Working Process Demonstration" class="lg_only" />
                        <img src="~/assets/images/locations/net_mobile-com.svg" alt="Working Process Demonstration" class="sm_only px-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Transforming Industries with Scalable Angular Development Services
                        </h2>
                        <p class="text m-0 header_description">
                            Avidclan Technologies delivers custom Angular solutions to various Indian industries, including retail, healthcare, and finance, empowering businesses to overcome challenges, drive innovation, and enhance growth through dynamic, scalable web applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            Our company develops user-friendly software that streamlines business management. It has efficient checkout systems that satisfy cashiers and delight consumers with quick service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            Personalized software solutions that we develop improve healthcare, which in turn saves lives. Imagine revolutionary apps for doctors, nurses, and patients to improve communication and workflows.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            Oil and gas companies must become digital! Our strong software helps them function efficiently and succeed in today's competitive landscape.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We create cutting-edge platforms that enable businesses to sell online using dynamic cloud solutions, making the process easier than before.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            No more boring paperwork! We automate financial and insurance operations to improve efficiency and streamline processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            Our team creates customized learning platforms, from basic online courses to advanced learning management systems for successful training.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Successful Angular Portfolio Delivering Scalable, Modern Web Applications</h2>
                        <p class="text m-0 header_description">
                            Our portfolio showcases a range of Angular projects successfully deployed across various Indian industries. Each project demonstrates our commitment to delivering high-quality, market-appropriate solutions that drive business growth and enhance user engagement in the Indian context.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/grizzlybolt-portfolio.jpg" alt="grizzlybolt-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_restaurant_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">GrizzlyBolt</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/reebonz-portfolio.jpg" alt="reebonz-portfolio-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background essentials_and_houseware_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Reebonz</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/elite-portfolio.jpg" alt="elite-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_recipes_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Elite</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="SRG-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background health_care_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">SRG</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section -->
<section class="testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>Reliable, Professional, and Goal-Driven Experts</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Gregoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">
                            Key Insights on Angular Development Services
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Why choose Angular for building enterprise-level applications?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Angular's component-based architecture, high scalability, and maintainability make it an excellent fit for building enterprise applications. Furthermore, its seamless integration with other technologies as well as advanced performance tools such as RxJS and Angular CL make Angular an excellent choice.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                How does Angular improve web application performance?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Angular helps web application performance through features like lazy loading, which loads only necessary parts on demand, and ahead-of-time compilation (AOT), which compiles templates ahead of runtime. One-time bindings reduce the overhead of two-way data binding, while tracking by functionality in ng-repeat optimizes rendering for faster user experiences in web apps.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Does Angular Enable Mobile Applications?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Yes, absolutely. Developers have utilized Angular in conjunction with frameworks like Ionic and NativeScript to create mobile applications. Despite their initial intended use for web application development, these frameworks allow developers to harness their responsive features to build hybrid mobile applications with interactive user interfaces. These tools help developers extend their reach into mobile app development efficiently.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                Why should I select Avidclan Technologies for Angular development in India?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Avidclan Technologies brings together local expertise with global standards. Our highly trained team understands the unique needs of the Indian market, offering customized Angular solutions that enhance user engagement and facilitate growth. Through quality and innovation, we ensure your projects are executed quickly while meeting both deadlines and budget constraints efficiently.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                What is Avidclan Technologies process for hiring Angular developers?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Our hiring process begins with an initial consultation to assess your project needs. From there, we present a tailored proposal and contract agreement and pair you with experienced Angular developers. Throughout your project, we ensure an open communication flow to ensure alignment and satisfaction with both team goals and objectives.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                What are the benefits of using Angular for web development?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Angular development benefits many sectors, such as e-commerce, healthcare, education, finance, and so on. Its ability to scale with flexible business planning gives a web application sensitivity that will heighten customer interaction, perform activities with minimal interruptions, and provide better deliverables in services. Using Angular helps companies meet the demands of digital transformation and be competitive in their respective markets.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                What industries benefit from Angular development?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Many industries benefit from the advantage of Angular in the process of its development. Because Angular is scalable and flexible, it's simple for businesses in the e-commerce, health, education, and finance sectors to make responsive web apps that keep customers interested while streamlining operations and improving service delivery. This helps them deal with the challenges of digital transformation and the competition in their markets.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
<section class="section our_blog style-three pt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="avidclan_section_title text-center mb-50">
                        <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                        <div class="sec-title">
                            <h2 class="p-0 header_subtitle">Explore the Latest in Angular Development</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row our_blog-block">
                <div class="col-lg-4 col-md-6 col-our_blog">
                    <div class="inner-box bg1">
                        <div class="content-box">
                            <a href="/blog/angular-v19-vs-angular-v20-major-differences-features-and-performance-upgrades/" class="icon">
                                <img src="~/assets/images/locations/angular-19-vs-20.jpg" class="angular-19-20" alt="POS-and-Retail" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-our_blog">
                    <div class="inner-box bg2">
                        <div class="content-box">
                            <a href="/blog/what-is-the-difference-between-angularjs-and-angular-2-or-later-versions/" class="icon">
                                <img src="~/assets/images/locations/angular-20-here.jpg" alt="angular-here" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-our_blog">
                    <div class="inner-box bg3">
                        <div class="content-box">
                        <a href="/blog/angular-20-is-here-ultimate-guide-everything-you-need-to-know-about-new-features-and-performance/" class="icon">
                                <img src="~/assets/images/locations/angularjs-angular2.png" alt="angular-2" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Bring Your Angular Vision to Life with Our Experts</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>Avidclan Technologies is an Angular development company in India that helps bring your app ideas to life. Our team can scale to match your project needs and timelines.</div>
                        <div>
                            We keep our skills updated with the latest Angular tools so we can build apps that work well and are easy to maintain. You will always know how your project is going, with regular updates and a clear point of contact throughout.

                        </div>
                        <div>
                            We build apps that work anywhere in the world and adjust our working hours to match your time zone, making it easy to stay in touch.
                        </div>
                        <div>
                            If you are looking to build your app, get in touch with Avidclan Technologies today.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
                <form method="post"
                      @*action="contact-form-handler.php"*@
                      class="form_contact contact-form location_form dark-blue-bg w-100"
                      name="locationforminfo"
                      id="location_form">
                    <div class="row" style="flex-direction:column;">
                        <div class="col form-group">
                            <div class="input-group">
                                <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <div class="input-group">
                                <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <div class="input-group d-block">
                                <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" maxlength="10" placeholder="Mobile" autocomplete="off" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                        </div>

                        <div class="col form-group">
                            <div class="btn-box mt-3">
                                @*<a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn">*@
                                <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                    <span class="btn-title">
                                        Send Message
                                        <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                        <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")
<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>

