@{
    ViewBag.Title = "AngularAppDevelopmentCompanyUSA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}
@section AdditionalMeta
{
    <title>Hire Top Angular App Developers in India | Avidclan Technologies</title>
    <meta name="description"
          content="Build beautiful, scalable mobile apps faster with Avidclan Technologies - your expert Flutter app development company in India. Get a free quote today!" />
    <link rel="canonical" href="https://www.avidclan.com/flutter-app-development-company-india/" />
    <link href="~/assets/css/Avidclan/flutter_app_development_usa.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    
}


<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">
                <h1 class="title-54">
                    Articulate your vision with Premier Angular Development Company <span class="primary-color">in the USA</span>
                </h1>
                <div class="sub-desc description-18">
                    Want to experience unparalleled Angular Development? Avidclan Technologies is there for you, providing tailored solutions to all your business needs across the USA. At Avidclan Technologies, we turn complex ideas into intuitive, high-performance, and scalable web applications. Experience precision in every project. Join with us!!!
                </div>
                <div class="btn-box mt-3">
                    <a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Start Your Project Today
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>


<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Significant Angular Development Metrics that Highlight our Expertise
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">
                            Your Premier Angular Development  Partner in the USA
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-md-none d-flex justify-content-center align-items-center img-col my-3 my-lg-0 my-md-0 my-xl-0">
                <img src="~/assets/images/locations/about-us-image.svg" alt="about-us-banner" srcset="~/assets/images/locations/about-us-image.svg 400w, ~/assets/images/locations/about-us-image.svg 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only">
                        Your Premier Angular Development  Partner in the USA
                    </h2>
                    <div class="text description-18 my-0 gap-25_description">
                        <div>Utilize state-of-the-art Angular solutions to unleash the potential of dynamic web applications. At Avidclan Technologies, we leverage our extensive experience in frontend development to create single-page, responsive applications that improve your online presence and increase user engagement. Our enthusiastic group of Angular experts is committed to pushing the envelope in everything from creating user-friendly user interfaces to streamlining performance for blazingly quick load times.</div>
                        <div>
                            Our ability to translate intricate business logic into smooth, interactive experiences promotes user satisfaction and growth.
                        </div>
                        <div>
                            Together, let's transform your online presence. Choose Avidclan to work with you on Angular development, and you'll see your digital vision come to life!
                        </div>
                    </div>
                </div>
                <div class="btn-box mt-3">
                    <a href="~/angular-development-company/" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Discover our expertise
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Our Tailored Angular Services in the USA</h2>
                        <p class="text m-0 header_description">At Avidclan Technologies, we create scalable, quick, and dynamic apps with Angular. From single-page apps to corporate solutions, our skilled Angular developers build web and mobile solutions for productivity and business growth.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Custom-Angular-Development.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4 class="title-26">Custom Angular Development</h4>
                        <p class="description-16">
                            With Angular’s modular architecture, we build scalable web apps that grow with your business, allowing easy future enhancements and seamless modifications to optimize revenue.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Full-Stack-Angular-Development.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Full Stack Angular Development</h4>
                        <p class="description-16">
                            Our company offers full-stack development services that combine Angular on the front end with powerful back-end technologies like Node.js, Laravel, or Python to create successful web solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-API-Integration.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular API Integration</h4>
                        <p class="description-16">
                            You can rely on us to expertly incorporate third-party APIs into your Angular apps. This will allow for powerful features like improved performance, real-time data changes, and seamless interaction between front-end and back-end systems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Consulting-Services.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Consulting Services</h4>
                        <p class="description-16">
                            Our expert consultants offer guidance and insightful strategies that helps you to make informed decisions regarding optimization, application performance, security, and alignment with your business goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Migration-Services.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Migration Services</h4>
                        <p class="description-16">
                            Hire a specialized Angular developer to assess the functionality, dependencies, and architecture of your existing Angular application and to design a migration plan that meets your needs precisely.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/dotnetIndia/Angular-Responsive-PWAs-Development.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Angular Responsive PWAs Development</h4>
                        <p class="description-16">
                            Leveraging the latest Angular framework capabilities, we build Progressive Web Apps (PWAs) with Angular for all screen sizes, offering a mobile-like experience with offline capabilities, fast load times, and responsive design to enhance user engagement across all devices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
            <div class="inner-box bg6">
                <div class="content-box">
                    <div class="icon">
                        <img src="~/assets/images/locations/dotnetIndia/Angular-SAPs-Development.svg" alt="finance-and-insurance-market" class="img-fluid" />
                    </div>
                    <h4 class="title-26">Angular SAPs Development</h4>
                    <p class="description-16">
                        Using Angular, our expert developers build an interactive, smooth, and fast-loading user experience without the need for frequent page reloads; we specialize in creating dynamic Single Page Applications (SPAs).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 service-block-five">
            <div class="inner-box bg5">
                <div class="content-box">
                    <div class="icon">
                        <img src="~/assets/images/locations/dotnetIndia/Angular-Maintenance-and-Support.svg" alt="education-and-training" class="img-fluid" />
                    </div>
                    <h4 class="title-26">Angular Maintenance and Support</h4>
                    <p class="description-16">
                        Our continuous support services ensure that the Angular applications are always secured, updated, and optimized to maintain their operational speed and clear out any bugs or problems that may appear.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">Premium Custom Angular Development Services</h2>
                    <div class="text color-offWhite description-18">
                        @*Collaborate with our knowledgeable .NET developers to confidently launch your project. In response to your needs, we provide dependable and scalable solutions. Use our experience to improve your application's performance and advance your company. Together, let's create success!*@
                        <ul>
                            <li class="dotnet-whyus-li">

                                <strong>Client-Centric Approach:</strong>  We tailor solutions to your unique needs, ensuring each project is aligned with your business goals.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>On-Time Delivery:</strong> We guarantee the timely delivery of high-quality Angular web applications, ensuring your project stays on schedule.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>Cutting-Edge Technology Stack:</strong> We use the latest Angular features and tools to build innovative, scalable, and future-proof applications for your business.
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box mt-3">
                        <a href="~/about-us/"
                           class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                            <span>
                                Discover More
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Innovation with every Angular component
                                </b>
                            </span>
                            <h2 class="my-0 py-0">Hire Expert Angular Developers Across The USA</h2>
                        </div>
                        <div class="description-16">
                            <span class="b-txt description-18">
                                Bring your idea to life by collaborating with our knowledgeable Angular developers. In accordance with your needs, we provide scalable and responsive systems. Boost the interactivity of your application and advance your business by utilizing our experience. Together, let's create the web of the future.
                            </span>
                        </div>
                        <div class="btn-box m-0">
                            <a href="~/contact-us/" class="theme-btn btn-style-one btn-dark-bg">
                                <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Ready to get started?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">From Single Page Applications to Progressive Web Applications, Mastery in Every Solution</h2>
                        <p class="text m-0 header_description">We at Avidclan Technologies simplify the creation of web applications from conception to implementation. Our agile processes and emphasis on client collaboration will ensure that your Angular projects are completed on schedule, within budget, and exactly to your specifications.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/UiUxDesignCompyUSAImage.jpg" alt="Working Process Demonstration" class="lg_only" />
                        <img src="~/assets/images/locations/UiUxDesignCompyUSAMobview.jpg" alt="Working Process Demonstration" class="sm_only px-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Elevating Industries Through Angular Development Solutions
                        </h2>
                        <p class="text m-0 header_description">
                            Avidclan Technologies delivers cutting-edge Angular solutions, expertly designed to meet the unique demands of industries such as retail, education, healthcare, and finance in the US. We help businesses optimize performance, enhance user experience, and accelerate innovation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            Our company develops user-friendly software that streamlines business management. It has efficient checkout systems that satisfy cashiers and delight consumers with quick service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            Personalized software solutions that we develop improve healthcare, which in turn saves lives. Imagine revolutionary apps for doctors, nurses, and patients to improve communication and workflows.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            Oil and gas companies must become digital! Our strong software helps them function efficiently and succeed in today's competitive landscape.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We create cutting-edge platforms that enable businesses to sell online using dynamic cloud solutions, making the process easier than before.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            No more boring paperwork! We automate financial and insurance operations to improve efficiency and streamline processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            Our team creates customized learning platforms, from basic online courses to advanced learning management systems for successful training.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Bringing Ideas to Life with Angular Development, Explore Our Portfolio in the USA</h2>
                        <p class="text m-0 header_description">
                            Our portfolio includes a wide variety of accomplished Angular projects from different industries. Every project is a reflection of our dedication to excellence, creativity, and client pleasure. See how our concepts have been turned into effective digital solutions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/salon-portfolio.jpg" alt="salon-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Grabdeal</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/hotel-lemonade-portfolio.jpg" alt="hotel-lemonade-portfilio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Hotel Lemonade</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/medicinedeck-portfolio.jpg" alt="medicineneck-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Medsure</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/boltwellM-portfolio.jpg" alt="boltwellM-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Boltwell</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section -->
<section class="testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>Words from our client</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Gregoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">FAQs on Angular Development Services in the USA</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What is Angular, and why should we opt for Angular for the next project?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                An effective open-source framework for creating dynamic web applications is called Angular. It is perfect for developing intricate, scalable applications because it provides two-way data binding, dependency injection, and a component-based architecture. Angular is a good option for contemporary web development projects because of its strong ecosystem and Google support, which guarantee ongoing development and long-term support.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                In what ways Angular differs from React and Vue?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Angular is a full-featured framework that provides a complete solution right out of the box, whereas React and Vue are libraries primarily focused on user interface. Large teams may produce code that is more consistent thanks to Angular's increased structure and built-in features. Its learning curve is more severe, though. The decision is based on the intended development strategy, team experience, and project requirements.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                How long does it typically take to develop an Angular application?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Angular applications vary a lot in terms of development time based on the features, team experience, and complexity of the project. It could take four to six weeks for a simple application and several months for a complex enterprise solution. Timeline impacts are also caused by elements like testing requirements, integration requirements, and design complexity. Following a thorough understanding of your unique needs, our staff can offer a more precise estimate.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                Can you help with migrating my existing application to Angular?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Yes, we can!!! There are multiple steps involved in moving to Angular: evaluating the existing application, organizing the architecture, swapping out components one at a time, and rewriting code to conform to Angular's paradigms. To minimize disruption, we usually advise taking an incremental approach and migrating features one at a time. Although the process can be complicated, our knowledgeable staff can effectively walk you through it to ensure a seamless transition without sacrificing functionality.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                What is the hiring process of Angular developer?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Transparency and simplicity describe our approach to the employment process. It starts with a consultation to understand your needs and then proceeds further with the detailed plan. After agreeing on this, we conclude the contract and then select the most suitable developers for the project; after this, we proceed to the kickoff project.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                How does Avidclan Technologies ensure the quality and performance of Angular applications?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Our quality assurance methodology is all-inclusive and involves the use of tools such as Jasmine and Protractor for unit, integration, and end-to-end testing. Furthermore, we prioritize optimizing performance via code splitting, lazy loading, and appropriate implementation of change detection techniques. To produce high-caliber, performant applications, our team adheres to Angular best practices and regularly reviews the code.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                What kind of continuous upkeep and support is provided by Avidclan Technologies for Angular projects?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                For all projects using Angular, Avidclan Technologies offers thorough post-launch support and upkeep. Bug fixes, performance enhancements, security patches, and frequent updates to the most recent Angular versions are all included in this. We provide varying levels of support, based on your requirements, ranging from routine upkeep to round-the-clock assistance. In addition, as your company expands, our team can scale your application and add new functionality.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
@*<section class="section our_blog style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Explore the Latest in Angular Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row our_blog-block">
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <a href="/blog/simplifying-app-development-with-flutter-essential-tools-and-strategies" class="icon">
                            <img src="~/assets/images/locations/India_blog1.jpg" class="img-fluid" alt="POS-and-Retail" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <a href="/blog/flutter-cross-platform-app-development-a-profitable-business-strategy" class="icon">
                            <img src="~/assets/images/locations/India_blog2.jpg" alt="life-and-healthcare" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <a href="/blog/react-native-vs-flutter-which-cross-platform-development-framework-to-choose" class="icon">
                            <img src="~/assets/images/locations/India_blog3.jpg" alt="petroleum-industry" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Get Started with Angular Solutions Tailored to Your Needs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>Avidclan Technologies boasts a team of leading Angular developers in the USA equipped to tackle any app concept. We offer scalable development teams to fit your project size and timeline perfectly. Committed to staying ahead of the curve, Avidclan Technologies invests in continuous developer training on the latest tools and techniques.</div>
                        <div>
                            Transparency and communication are core values at Avidclan Technologies. You'll have a dedicated point of contact and receive regular updates on your app's progress. They deliver globally compliant apps that function flawlessly anywhere in the world. Their team offers flexible working hours to accommodate diverse time zones and ensure smooth communication.

                        </div><div>
    Transform your app idea into a success today!!!! Contact Avidclan Technologies right now!!!
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <form method="post"
                              @*action="contact-form-handler.php"*@
                              class="form_contact contact-form location_form dark-blue-bg"
                              name="locationforminfo"
                              id="location_form">
                            <div class="row">
                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                        <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" maxlength="10" placeholder="Mobile" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                                </div>

                                <div class="col form-group">
                                    <div class="btn-box mt-3">
                                        @*<a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn">*@
                                        <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                            <span class="btn-title">
                                                Send Message
                                                <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                                <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")
<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>

