
@{
    ViewBag.Title = "DotNetDevelopmentUSA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}



@section AdditionalMeta
{
    <meta property="og:url" content="https://www.avidclan.com/dot-net-development-company-usa/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Top-Tier .NET Development Company in the USA" />
    <meta property="og:description" content="Looking for a reliable .NET development company in the USA? We offer expert solutions, ensuring high-quality, scalable, and secure applications. Get a free consultation today!" />
    <meta property="og:image" content="https://www.avidclan.com/assets/images/logo.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://twitter.com/AvidclanT" />
    <meta name="twitter:title" content="Top-Tier .NET Development Company in the USA" />
    <meta name="twitter:description" content="Looking for a reliable .NET development company in the USA? We offer expert solutions, ensuring high-quality, scalable, and secure applications. Get a free consultation today!" />
    <meta name="twitter:image" content=" https://twitter.com/AvidclanT/header_photo " />

    <title>Top-Tier .NET Development Company in the USA</title>
    <meta name="description" content="Looking for a reliable .NET development company in the USA? We offer expert solutions, ensuring high-quality, scalable, and secure applications. Get a free consultation today!" />
    <link rel="canonical" href="https://www.avidclan.com/dot-net-development-company-usa/" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>

    <link href="~/assets/css/Avidclan/dotnet_development_locationPage.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    
}

<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">
                <h1 class="title-54">We are the Premier .NET Development Company<span class="primary-color"> in the USA</span></h1>
                <div class="sub-desc description-18">
                    Looking for top .NET Development services? Avidclan Technologies leads the way in .NET Development across the globe and USA providing robust, scalable, and groundbreaking solutions tailored to your company’s demand. Collaborate with us for unparalleled business development and technical excellence.
                </div>
                <div class="btn-box">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 mt-2 ">
                        <span class="py-2 px-3">
                            Start Your Project Today
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>

            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>

<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title"><h2 class="pb-3 p-0 header_subtitle">Significant .NET Development Metrics that Highlight our Expertise</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="Clients Served Globally" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="Projects Accomplished" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="Team Strength" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="Success Ratio" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">Your Preferred .NET Development Partner in the USA</h2>
                        @*<p class="text m-0">We believe in providing the best service to our clients to ensure a long-term partnership. </p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center img-col my-3">
                <img src="/assets/images/locations/about-us-image.svg"
                     alt="about-us-banner"
                     width="400"
                     height="400"
                     class="img-fluid" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only">Your Preferred .NET Development Partner in the USA</h2>
                    @*<span class="sub-text">
                Avidclan Technologies has been providing software development services for over 4 successful years.
            </span>*@
                    <div class="text description-18 my-0 gap-25_description">
                        <div>
                            <div>Consider a digital solution that not merely meets your business demands but even anticipates them. At Avidclan Technologies, we offer years of experience in .NET development, helping companies reach their objectives with unique solutions that are both efficient and effective, therefore providing unmatched performance and scalability.</div>
                            <br />
                            <div>Our team is committed to providing end-to-end services that deliver value and generate results, from the initial consultation to the final deployment of every project, from the web to the desktop app.</div>
                            <br />
                            <div>From development to launch, together we can make your dreams a formidable reality.  Let Avidclan Technologies be your partner in success!!</div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="/dot-net-development-company/" class="btn btn-primary fw-bold rounded-5 mt-2 ">
                        <span class="py-2 px-3">
                            Discover our Expertise
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Our Tailored .NET Development Services in the USA</h2>
                        <p class="text m-0 header_description">At Avidclan Technologies, we harness the power of .NET Technology to create scalable, secure, high-performance applications. From enterprise solutions to dynamic web applications, Our skilled .NET developers provide customized solutions for web, desktop, and cloud platforms that leverage productivity and business growth.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Web Development.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4 class="title-26">Custom .NET Application Development</h4>
                        <p class="description-16">
                            Our .NET experts craft bespoke .NET applications suited to your specific business requirements. From enterprise-level systems to small-scale applications, we ensure your application perfectly corresponds with your operational requirements and growth objectives.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/UI_UX Design.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4 class="title-26">End-to-End .NET Core Development</h4>
                        <p class="description-16">
                            We offer full-cycle .NET Core development, from development to deployment. Providing scalable, robust, and cross-platform applications as per your needs and integrating seamlessly into your existing systems.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/QA Services.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4 class="title-26">.NET Consultancy Services</h4>
                        <p class="description-16">
                            Our .NET consultants offer you expert guidance and insightful strategies to help you make informed decisions regarding optimization, application performance, security, and alignment with your business goals.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Internet-marketing.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Migration and Integration services</h4>
                        <p class="description-16">
                            Migrate and integrate your legacy systems to the .NET Framework with cloud solutions. Our .NET developers ensure smooth transitions, enhanced performance, and efficient data synchronization, leveraging .NET’s power and cloud scalability for optimal results.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/IOT Service.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Enterprise App Development</h4>
                        <p class="description-16">
                            Specializing in the development of enterprise-grade applications for businesses using .NET technology. Our products are designed to be as efficient, scalable, and integrated as possible, providing precise and dependable answers to challenging business problems.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Mobile Apps.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">.NET Application Development</h4>
                        <p class="description-16">
                            We make use of. NET technologies to develop robust, scalable enterprise applications that put an emphasis on precise and dependable fulfillment of complex business requirements, seamless integration, and high performance.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">Trusted Custom .NET Development Services Provider</h2>
                    <div class="text color-offWhite description-18">
                        @*Collaborate with our knowledgeable .NET developers to confidently launch your project. In response to your needs, we provide dependable and scalable solutions. Use our experience to improve your application's performance and advance your company. Together, let's create success!*@
                        <ul>
                            <li class="dotnet-whyus-li">
                                <strong>Expert team of  Developers:</strong>  Extensive .NET Framework experience, providing reliable enterprise-level solutions in a range of industries.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>Tailored Solutions:</strong> Our custom solutions guarantee relevance and optimize the impact of your project by perfectly aligning with your business objectives.
                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>Cost and Performance Optimization:</strong> Our primary objective is to provide economical solutions while enhancing efficiency to guarantee optimal return on investment
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href="/about-us/" class="btn btn-primary fw-bold rounded-5 mt-2">
                            <span class="py-2 px-3">
                                Discover More
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25">
                                    <path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Excellence in Every Line of Code
                                </b>
                            </span>
                            <h2 class="my-0 py-0">Hire our Expert  .NET Developers Now!</h2>
                        </div>
                        <div class="description-16">
                            @*<span class="b-txt description-18">
                                <b>Are you ready to create a stunning and user-friendly app on all phones?</b></span>*@
                            Collaborate with our knowledgeable .NET developers to confidently launch your project. In response to your needs, we provide dependable and scalable solutions. Use our experience to improve your application's performance and advance your company. Together, let's create success!
                        </div>
                        <div class="btn-box m-0">
                            <a href="/contact-us/" class=" btn position-relative fw-bold rounded-5 overflow-hidden align-middle text-capitalize theme-btn btn-dark-bg">
                                <span class="btn-title"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ion me-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512" data-icon="ion:call-sharp" data-height="25"><path fill="currentColor" d="M478.94 370.14c-5.22-5.56-23.65-22-57.53-43.75c-34.13-21.94-59.3-35.62-66.52-38.81a3.83 3.83 0 0 0-3.92.49c-11.63 9.07-31.21 25.73-32.26 26.63c-6.78 5.81-6.78 5.81-12.33 4c-9.76-3.2-40.08-19.3-66.5-45.78s-43.35-57.55-46.55-67.3c-1.83-5.56-1.83-5.56 4-12.34c.9-1.05 17.57-20.63 26.64-32.25a3.83 3.83 0 0 0 .49-3.92c-3.19-7.23-16.87-32.39-38.81-66.52c-21.78-33.87-38.2-52.3-43.76-57.52a3.9 3.9 0 0 0-3.89-.87a322.4 322.4 0 0 0-56 25.45A338 338 0 0 0 33.35 92a3.83 3.83 0 0 0-1.26 3.74c2.09 9.74 12.08 50.4 43.08 106.72c31.63 57.48 53.55 86.93 100 133.22S252 405.21 309.54 436.84c56.32 31 97 41 106.72 43.07a3.86 3.86 0 0 0 3.75-1.26A337.7 337.7 0 0 0 454.35 430a322.7 322.7 0 0 0 25.45-56a3.9 3.9 0 0 0-.86-3.86"></path></svg>Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">From Web to Desktop, We Simplify Every .NET Solution</h2>
                        <p class="text m-0 header_description">We at Avidclan Technology simplify software development solutions from concept to development. Your .NET projects will be completed on schedule, within budget, and in accordance with your exact specifications thanks to our agile approaches and emphasis on client collaboration.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/Process_dotnet_usa_Web.png" alt="Working Process Demonstration" class="lg_only w-100" />
                        <img src="~/assets/images/locations/Process_dotnet_usa_ Mobile.png" alt="Working Process Demonstration" class="sm_only px-2 w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Revolutionizing Industry Challenges with .NET Development Solutions</h2>
                        <p class="text m-0 header_description">Avidclan Technologies provides services to a broad spectrum of US industries, including retail, education, healthcare, and finance. Our .NET solutions are designed to address the particular difficulties faced by each industry, spurring development and innovation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            Our company develops user-friendly software that streamlines business management. It has efficient checkout systems that satisfy cashiers and delight consumers with fast service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            Personalized software solutions that we develop improve healthcare, which in turn saves lives. Imagine revolutionary apps for doctors, nurses, and patients to improve communication and workflows.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            Oil and gas companies must become digital! Our strong software helps them function efficiently and succeed in today's competitive landscape.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We create cutting-edge platforms that enable businesses to sell online using dynamic cloud solutions, making the process easier than before.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            No more boring paperwork! We automate financial and insurance operations to improve efficiency and streamline processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            Our team creates customized learning platforms, from basic online courses to advanced learning management systems for successful training.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Convert Your Ideas into Reality with .NET Development Company in the USA</h2>
                        <p class="text m-0 header_description">Our portfolio includes a wide variety of accomplished .NET projects from different industries. Every project is a reflection of our dedication to excellence, creativity, and client pleasure. See how our concepts have been turned into effective digital solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/grizzlybolt-portfolio.jpg" alt="grizzlybolt-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_restaurant_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">GrizzlyBolt</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/reebonz-portfolio.jpg" alt="reebonz-portfolio-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background essentials_and_houseware_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Reebonz</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/elite-portfolio.jpg" alt="elite-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_recipes_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Elite</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="SRG-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background health_care_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">SRG</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section-two bg-img-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>What Our Clients Say</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Grégoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Frequently Asked Questions of .NET Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What is .NET development, and why should we opt for .NET solutions?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                .NET is a flexible and open-source framework that is perfect for use in the development of web, desktop, mobile, and cloud applications. As a result of its powerful performance, vast library, and cross-platform features, it is increasingly becoming the platform of choice for software developers. Choosing solutions that are built on the .NET framework ensures scalability, security, and smooth integration across a variety of platforms, making them suitable for successfully supporting both small and large-scale projects.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                What time does it take to develop a .NET application?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                The amount of time needed to construct a .NET application is contingent on the complexity of the project, the size of the team, and the necessary features. The development of straightforward apps can take a few weeks, whilst the development of more complicated enterprise solutions might take several months or even years. It is possible to obtain a more precise estimate by doing a comprehensive evaluation of the project's scope and timing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Can you help with migrating my existing application to .NET?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Yes, we are experts in converting existing apps to .NET. Our procedure entails conducting an exhaustive analysis of the system that you are now using, making strategic preparations for the migration, and carrying out the move with as little disturbance as possible. We take measures to guarantee that functionality is maintained while simultaneously utilizing the sophisticated features of .NET to improve performance and scalability if necessary.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                What is the hiring process for .NET developers?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Transparency and simplicity characterize our approach to the employment process. It starts with an initial consultation to get a better understanding of your requirements, and then it moves on to a comprehensive proposal. After reaching an agreement, we finalize the contract, choose the developers who are the best fit for the project, and then go on to the project kickoff. In order to maintain alignment throughout the project, regular communication and updates are required.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                What are the costs associated with hiring a .NET Framework developer?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Experience, the level of difficulty of the project, and geography all play a role in determining the cost of employing a .NET Framework developer. It is possible to recruit developers on an hourly basis, per contract, or on a full-time basis. We provide variable pricing models that may be adapted to meet the requirements of your project. This ensures that we can maintain high-quality development standards while meeting cost-effectiveness criteria.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                Do you offer post-launch support for .NET applications?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                We do, in fact, offer complete post-launch support for apps built with the .NET framework. Our services include continuous maintenance, software updates, and bug patches. We also provide constant monitoring, performance optimization, and feature updates to guarantee that your application continues to be highly effective, safe, and up-to-date, thereby supporting its continued success over the long term.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                How do you handle project timelines and budgets?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                We use agile approaches to manage project timelines and budgets. As part of this strategy, the project is divided into sprints, regular communication with the client is maintained, and priorities are adjusted as necessary. We ensure that deadlines are met and budgets are kept by maintaining flexibility and focus. This allows us to deliver projects on time and within the scope of the project.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
<section class="section our_blog style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Our Popular Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row our_blog-block">
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <a class="icon" href="/blog/top-features-of-dot-net-7-what-is-new-and-improved/" target="_blank">
                            <img src="~/assets/images/locations/SVGThumbnail -Top Features of .NET 7_ What's New and Improved- Avidclan Technologies.svg" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <a class="icon" href="/blog/the-advantages-of-choosing-dot-net-core-for-modern-web-applications/" target="_blank">
                            <img src="~/assets/images/locations/SVGThumbnail-The Advantages of Choosing .NET Core for Modern Web Applications.svg" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <a class="icon" href="/blog/net-core-vs-net-framework-understand-them-for-modern-web-development/" target="_blank">
                            <img src="~/assets/images/locations/SVGThumbnail - .NET Core vs .NET Framework_ Understand Them for Modern Web Development.svg" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Bring Your Software Ideas to Life with Our Committed .NET Experts</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>
                            Avidclan Technologies boasts a team of leading .NET developers in the USA, ready to turn your application concept into reality. We specialize in  building robust web applications, scalable desktop applications, and cloud-based solutions tailored to your project size and timeline perfectly. Committed to innovation, Avidclan Technologies invests in continuous developer training on the latest .NET frameworks and tools.
                        </div>
                        <div>
                            Transparency and communication are core values at Avidclan Technologies. You'll have a dedicated point of contact and receive regular updates on your project’s progress. We deliver globally-compliant apps that function flawlessly across the world. Our team offers flexible working hours to accommodate diverse time zones and ensure smooth communication.
                        </div>
                        <div>
                            Ready to transform  your  .NET application  idea into a success? Contact Avidclan Technologies today!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
               
                    
                        <form method="post"
                              @*action="contact-form-handler.php"*@
                              class="form_contact contact-form location_form dark-blue-bg w-100"
                              name="locationforminfo"
                              id="location_form">
                            <div class="row" style="flex-direction:column ;">
                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group d-block">
                                        <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                        <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" placeholder="Mobile" maxlength="10" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                                </div>

                                <div class="col form-group">
                                    <div class="btn-box">
                                        @*<a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn">*@
                                        <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                            <span class="btn-title">
                                                Send Message
                                                <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                                <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    
               
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")

<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>
