
@{
    ViewBag.Title = "Flutter App Development Company USA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@section AdditionalMeta
{
    <title>Flutter App Development Company USA | Expert Developers for Cross-Platform Apps</title>
    <meta name="description"
          content="We're the #1 Flutter app development company in the USA! Build beautiful, functional apps for iPhone, Android & more with our professional developers." />
    <link rel="canonical" href="https://www.avidclan.com/flutter-app-development-company-usa/" />
    <link href="~/assets/css/Avidclan/flutter_app_development_usa.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What types of apps can you build with Flutter?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Flutter builds mobile applications of all kinds! From games and social media to shopping carts and fitness trackers, Flutter can bring any idea you have for an app idea into reality."
    }
  },{
    "@type": "Question",
    "name": "What are the main advantages of flutter development services?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Hiring a Flutter development company gives you access to experienced Flutter developers who can create your app faster, at lower costs and with an appealing and user-friendly design."
    }
  },{
    "@type": "Question",
    "name": "Is Flutter suitable for mobile app development?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Absolutely! Flutter is an ideal platform for creating mobile applications as it is fast, creates attractive designs quickly, and works for both iPhone and Android phones."
    }
  },{
    "@type": "Question",
    "name": "How do I track the progress of my Flutter app development?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Reputable companies provide progress reports and communication channels."
    }
  },{
    "@type": "Question",
    "name": "What advantages does Flutter offer over traditional native app development?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "With Flutter, one codebase covers both Android and iOS operating systems - saving time and resources while creating seamless performance and appealing aesthetics in your apps."
    }
  },{
    "@type": "Question",
    "name": "I already have an app. Can it be migrated to a Flutter app?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Potentially, yes. Consult it with a Flutter development company to assess complexity."
    }
  },{
    "@type": "Question",
    "name": "How much time does it take to develop an application using Flutter?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, Flutter can often be faster than native development due to code reuse."
    }
  }]
}
    </script>
}

<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">
                <h1 class="title-54">We are the #1 choice as a Flutter App Development Company<span class="primary-color"> in the USA</span></h1>
                <div class="sub-desc description-18">
                    Are you searching for an innovative app that runs perfectly on any device? Look no further than Flutter! Our professional flutter developers specialize in crafting beautiful and highly functional apps for iPhone, Android, and other platforms.
                </div>
                <div class="btn-box">
                    <a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Find consultant
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>

<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title"><h2 class="pb-3 p-0 header_subtitle">Numerous Reasons Why We're the Perfect Software Development Company</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="Clients Served Globally" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="Projects Accomplished" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="Team Strength" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="Success Ratio" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">Hire Expert Flutter App Developers to Bring your Ideas to Life</h2>
                        @*<p class="text m-0">We believe in providing the best service to our clients to ensure a long-term partnership. </p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-md-none d-flex justify-content-center align-items-center img-col my-3 my-lg-0 my-md-0 my-xl-0">
                <img src="~/assets/images/locations/about-us-image.svg" alt="about-us-banner" srcset="~/assets/images/locations/about-us-image.svg 400w, ~/assets/images/locations/about-us-image.svg 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only">Hire Expert Flutter App Developers to Bring your Ideas to Life</h2>
                    @*<span class="sub-text">
                            Avidclan Technologies has been providing software development services for over 4 successful years.
                        </span>*@
                    <div class="text description-18 my-0 gap-25_description">
                        <div>Imagine building one app that runs flawlessly on phones, tablets, and computers! That is the power of Flutter development; here at Avidclan Technologies, we look forward to helping your mobile application idea come to life across devices!</div><div>At Avidclan Technologies, we don't simply create code; we craft experiences. Working closely with you, our expert designers will collaborate to design an app that's powerful and seamless to use. From mobile games and productivity tools to anything in between, we ensure your mobile app looks stunning and works perfectly wherever someone uses it.</div><div>So, if you are looking for the right company to build your mobile application, look no further! Our experienced Flutter developers can assist in every stage, from brainstorming your idea through development and launch.</div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="https://www.avidclan.com/flutter-app-development-company/" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Discover More
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Our Flutter App Development Services in the USA</h2>
                        <p class="text m-0 header_description">At Avidclan Technologies, our expert mobile app developers can assist with every stage of app creation to ensure high performance and user-friendliness for your app. Our range of Flutter app development services provides all-encompassing solutions from concept through production.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Web Development.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4 class="title-26">Custom Flutter App Development</h4>
                        <p class="description-16">
                            Are you expected to bring your unique mobile app idea to life? We are just one call away from delivering custom Flutter app development services! We are always ready to craft an app tailored to your needs without being limited by pre-made templates.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/UI_UX Design.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Cross-Platform Flutter App Development</h4>
                        <p class="description-16">
                            Does developing apps mean developing separate versions for iPhone and Android? Not with Flutter! This fantastic technology lets you develop one codebase that runs seamlessly on both platforms—imagine reaching millions of users across devices by writing only once! Plus, time and money savings allow more room for creativity in crafting something truly phenomenal for each platform!
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/QA Services.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Advanced Flutter App Development</h4>
                        <p class="description-16">
                            Our experienced Flutter app developers are looking to push the limits of Flutter's ability. Think about building apps with features such as real-time chat, fancy animations, or connecting wearable devices! Our developers help craft impressive apps that leave users speechless!
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Internet-marketing.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Flutter for IoT App Development</h4>
                        <p class="description-16">
                            Flutter joins its ranks as the world becomes more innovative with IoT technology! Flutter is an ideal tool for developing apps connecting all your smart devices—from controlling lights or tracking fitness goals with user-friendly apps built with Flutter to receiving live data from a smart fridge to controlling thermostats—and it allows you to develop powerful and reliable IoT apps.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/IOT Service.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Flutter App Design Services</h4>
                        <p class="description-16">
                            An app's engaging design keeps users coming back for more. That's where Flutter app design services can help: our experts specialize in crafting beautiful user interfaces (UI) and user experiences (UX) that make using apps enjoyable. From eye-catching layouts to engaging animations, these services ensure your app looks and feels its best!
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Mobile Apps.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Flutter Code Audit and Optimization</h4>
                        <p class="description-16">
                            Even the best apps can benefit from being audited! We deliver Flutter code audit and optimization services to analyze an app's codebase, identify areas for improvement, and fine-tune for optimal performance—creating faster, smoother apps that users will love! It's like overhauling it so it keeps performing smoothly for years.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">Build custom Flutter apps with us</h2>
                    <div class="text color-offWhite description-18">
                        Our passionate team of Flutter developers excels in creating game-changing mobile apps across industries. We put all our heart and expertise into every project, and the results speak for themselves—multiple awards are granted for our remarkable efforts!
                    </div>
                    <div class="btn-box">
                        <a href="https://www.avidclan.com/about-us/" class="theme-btn btn-style-one">
                            <span class="btn-title">
                                Discover More
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Are you Ready to Build your Dream Mobile App?
                                </b>
                            </span>
                            <h2 class="my-0 py-0">Hire our Expert Flutter App Developers Now!</h2>
                        </div>
                        <div class="description-16">
                            <span class="b-txt description-18"><b>Are you ready to create a stunning and user-friendly app on all phones?</b></span> We use Flutter, a brilliant technology that lets us build beautiful applications for iPhones and Android phones. Let's collaborate and bring your idea to fruition! Let's chat and turn your vision into reality.
                        </div>
                        <div class="btn-box m-0">
                            <a href="https://www.avidclan.com/contact-us/" class="theme-btn btn-style-one btn-dark-bg">
                                <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">We Simplify Flutter App Development Process</h2>
                        <p class="text m-0 header_description">Need an app from scratch or want your app to stand out? Here is an in-depth explanation of professional mobile app development processes, making them straightforward even for non-IT persons!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/flutter-working_process_path_light.png" alt="Working Process Demonstration" class="lg_only" />
                        <img src="~/assets/images/locations/flutter-working_process_path_light_mobile.png" alt="Working Process Demonstration" class="sm_only px-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Empowering Industries with Top Flutter App Development Services</h2>
                        <p class="text m-0 header_description">Are you ready to turn your app idea into reality? Our professional mobile app developers can help! From games to productivity tools, our expertise in Android app development ensures high-quality, user-friendly apps built specifically to your requirements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            We create software to make managing stores a breeze - with user-friendly checkout systems designed specifically to keep cashiers happy while simultaneously serving happy customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            We design custom software to improve healthcare and make people's lives better. Imagine helpful apps for doctors, nurses, and patients!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            The world is digital, and even oil & gas companies need to keep up! We build software that helps them run smoothly in today's world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We create top-of-the-line platforms for businesses to sell online through flexible cloud solutions that make selling easier than ever.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            Automated systems, no more paperwork, forget pen and paper! We build systems that make finance and insurance run smoothly and efficiently.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            We can design any kind of learning platform you need, from simple online courses to complex learning management systems.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Discover Portfolio of Mobile Apps Built by a Leading Flutter App Development Company in the USA</h2>
                        <p class="text m-0 header_description">Avidclan Technologies builds stunning business apps with Flutter. We assist businesses of all sizes, from startups launching new ideas to established companies expanding their reach. Our expertise in Flutter helps us create beautiful and practical applications.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="/assets/images/gallery/e-shala-portfolio.jpg" alt="e-shala-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_restaurant_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">E-Shala</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="/assets/images/gallery/hotel-lemonade-portfolio.jpg" alt="hotel-lemonade-portfilio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background essentials_and_houseware_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Hotel Lemonade</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="/assets/images/gallery/ecafe360-portfolio.jpg" alt="medicineneck-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background food_and_recipes_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">ecafe 360</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="/assets/images/gallery/boltwellM-portfolio.jpg" alt="boltwellM-portfolio" class="w-100 h-100">
                    </div>
                    @*<div class="portfolio_background health_care_bg"></div>*@
                    <a href="https://www.avidclan.com/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Boltwell</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section-two bg-img-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>What Our Clients Say</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Grégoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Frequently Asked Questions of Flutter Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What types of apps can you build with Flutter?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Flutter builds mobile applications of all kinds! From games and social media to shopping carts and fitness trackers, Flutter can bring any idea you have for an app idea into reality.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                What are the main advantages of flutter development services?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Hiring a Flutter development company gives you access to experienced Flutter developers who can create your app faster, at lower costs and with an appealing and user-friendly design.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Is Flutter suitable for mobile app development?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Absolutely! Flutter is an ideal platform for creating mobile applications as it is fast, creates attractive designs quickly, and works for both iPhone and Android phones.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                How do I track the progress of my Flutter app development?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Reputable companies provide progress reports and communication channels.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                What advantages does Flutter offer over traditional native app development?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                With Flutter, one codebase covers both Android and iOS operating systems - saving time and resources while creating seamless performance and appealing aesthetics in your apps.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                I already have an app. Can it be migrated to a Flutter app?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Potentially, yes. Consult it with a Flutter development company to assess complexity.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                How much time does it take to develop an application using Flutter?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Yes, Flutter can often be faster than native development due to code reuse.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
<section class="section our_blog style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Our Popular Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row our_blog-block">
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <a class="icon" href="/blog/top-ten-flutter-widgets-for-improving-user-experience" target="_blank">
                            <img src="~/assets/images/locations/our_blogs-1.svg" class="img-fluid" alt="POS-and-Retail" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <a class="icon" href="/blog/is-ai-really-the-future-exploring-the-rise-of-artificial-intelligence" target="_blank">
                            <img src="~/assets/images/locations/our_blogs-2.svg" alt="life-and-healthcare" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <a class="icon" href="/blog/ten-essential-ui-design-principles-for-a-better-user-experience" target="_blank">
                            <img src="~/assets/images/locations/our_blogs-3.svg" alt="petroleum-industry" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Get a Free Consultation on Flutter App Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>Avidclan Technologies boasts a team of leading Flutter app developers in the USA equipped to tackle any app concept. They offer scalable development teams to fit your project size and timeline perfectly. Committed to staying ahead of the curve, Avidclan Technologies invests in continuous developer training on the latest tools and techniques.</div>
                        <div>
                            Transparency and communication are core values at Avidclan Technologies. You'll have a dedicated point of contact and receive regular updates on your app's progress. They deliver globally-compliant apps that function flawlessly anywhere in the world. Their team offers flexible working hours to accommodate diverse time zones and ensure smooth communication.
                        </div><div>
                            Ready to turn your app idea into a success? Contact Avidclan Technologies today!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <form method="post"
                              @*action="contact-form-handler.php"*@
                              class="form_contact contact-form location_form dark-blue-bg"
                              name="locationforminfo"
                              id="location_form">
                            <div class="row">
                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                        <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" maxlength="10" placeholder="Mobile" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                                </div>

                                <div class="col form-group">
                                    <div class="btn-box">
                                        @*<a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn">*@
                                        <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                            <span class="btn-title">
                                                Send Message
                                                <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                                <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")

<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }
     

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>
