@{
    ViewBag.Title = "Index";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@section AdditionalMeta
{
    <meta property="og:url" content="https://www.avidclan.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Top Web and Mobile App Development Company | Internet Marketing Company">
    <meta property="og:description" content="Avidclan, is a top mobile app development company that provides Web Development, UI/UX Design, Internet Marketing, IoT, and QA Services for startup to enterprise level company.">
    <meta property="og:image" content="https://www.avidclan.com/assets/images/logo.svg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://twitter.com/AvidclanT">
    <meta name="twitter:title" content="Top Web and Mobile App Development Company | Internet Marketing Company">
    <meta name="twitter:description" content="Avidclan, is a top mobile app development company that provides Web Development, UI/UX Design, Internet Marketing, IoT, and QA Services for startup to enterprise level company.">
    <meta name="twitter:image" content=" https://twitter.com/AvidclanT/header_photo ">

    <title>Premier Web and Mobile App Development Company | Digital Transformation at Avidclan</title>
    <meta name="description" content="Avidclan: Your premier web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, UI/UX Design, Digital Marketing, IoT, and QA Services. Get a quote now!">
    <link rel="canonical" href="https://www.avidclan.com/" />

    <script type="application/ld+json">
    {
      "@context":"https://schema.org/",
      "@graph":[
            {
              "@context": "https://schema.org",
              "@type": "Corporation",
              "name": "Avidclan Technologies",
              "alternateName": "Avidclan",
              "url": "https://www.avidclan.com/",
              "logo": "https://www.avidclan.com/assets/images/logo.svg",
              "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "955-845-0670",
                "contactType": "sales",
                "areaServed": "IN",
                "availableLanguage": "en"
              }],
              "sameAs": [
                "https://www.facebook.com/avidclan/",
                "https://www.linkedin.com/company/avidclan-technologies/",
                "https://twitter.com/AvidclanT",
                "https://www.instagram.com/avidclan_technologies/"
              ]
            },
            {
                  "@context": "https://schema.org",
                  "@type": "WebSite",
                  "url": "https://www.avidclan.com/",
                  "potentialAction": {
                    "@type": "SearchAction",
                    "target": "https://www.avidclan.com/?s={search_term_string}",
                    "query-input": "required name=search_term_string"
                  }
            },
            {
              "@context": "https://schema.org",
              "@type": "ProfessionalService",
              "name": "Avidclan",
              "image": "https://www.avidclan.com/assets/images/logo.svg",
              "@id": "",
              "url": "https://www.avidclan.com/",
              "telephone": "704-661-8869",
              "priceRange": "2 Lacs - 15 Lacs",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "726, Shivalik Shilp, Iskcon Cross Roads,
            S.G. Highway",
                "addressLocality": "Ahmedabad",
                "postalCode": "380015",
                "addressCountry": "IN"
              }
            }
            ]
            }
    </script>
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Avidclan Technologies",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "726, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway",
    "addressLocality": "Ahmedabad",
    "addressRegion": "Gujarat",
    "postalCode": "380015"
  },
  "image": "https://www.avidclan.com/assets/images/logo.svg",
  "email": "mailto:info@avidclan.com",
  "telePhone": "9558450670",
  "url": "https://www.avidclan.com/",
  "paymentAccepted": [
    "invoice",
    "paypal"
  ],
  "openingHours": "Mo,Tu,We,Th,Fr 10:00-19:00",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "10:00",
      "closes": "19:00"
    }
  ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "23.027142938222806",
    "longitude": "72.506707928836008"
  },
  "priceRange": "$"
}
    </script>
}

<!-- Banner Section -->
<section class="banner-section-two">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pl-2">
                        <h1>Simplifying Business Needs Using <span class="primary-color">Technology</span></h1>
                        <p class="text">
                            Avidclan is a renowned and leading web and mobile app development company with a vision to fulfill
                            business requirements using innovative solutions.We assist our clients in a way that they can
                            provide a superior digital experience for their clients worldwide.
                        </p>
                        <div class="btn-box">
                            <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Find Consultant
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="~/assets/images/dev.svg" width="400" height="400" alt="development"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-md-none d-lg-block">
                <img src="~/assets/images/aboutus-new.png" alt="about-us-banner" srcset="~/assets/images/aboutus-new.png 400w, ~/assets/images/aboutus-new.png 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6">
                <p class="avidclan_ralign_subtitle">ABOUT US</p>
                <div class="sec-title">
                    <h2>We are a one-stop solution for all your software problems!</h2>
                    <span class="sub-text">
                        Avidclan Technologies has been providing software development services for over 4 successful years.
                    </span>
                    <div class="text">
                        We develop solutions that are not only visually appealing but also have great usability and that are
                        engaging to its users. Our commitment and dedication to providing quality services have won the
                        confidence of leading global players. We are a team of highly talented, passionate developers working
                        hard to transform business needs into software solutions.
                    </div>
                </div>
                <div class="btn-box">
                    <a href="~/about-us/" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Discover More
                            <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Process Section -->
<section class="process-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">WORKING PROCESS</p>
                    <div class="sec-title"><h2>We Simplify Software Development Process</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="ic:outline-content-paste-search" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Discover</h3>
                    <div class="text">Filter our client's demands into software features to be included.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="fluent:design-ideas-16-regular" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Design</h3>
                    <div class="text">Breaking a project into segments and providing an ease-of-change.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="octicon:code-square-16" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Build</h3>
                    <div class="text">Converting ideas into an efficient code ensures smooth functioning.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="charm:rocket" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Deliver</h3>
                    <div class="text">Provide a bug-free application that meets the requirements.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section-four lightblue-bg homesec">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">OUR CORE SERVICES</p>
                    <div class="sec-title"><h2>What We Provide</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image"
                                 src="~/assets/images/web-dev.svg"
                                 data-src="~/assets/images/resource/image-31.jpg"
                                 alt="Web Development Service Company"
                                 data-was-processed="true"
                                 width="100"
                                 height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>Web Development</h3>
                            <div class="text">
                                We build and maintain websites that look great, work fast and perform well with a seamless user
                                experience.
                            </div>
                            <a href="~/web-development-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/UI-design.svg" alt="UI/UX-Design-Agency" width="100" height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>UI/UX Design</h3>
                            <div class="text">
                                End-to-end services including adaptive intelligent interfaces, interactive experiences and UI
                                automation.
                            </div>
                            <a href="~/design/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/mobile-app.svg" alt="mobile-app-development-company" width="100" height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>Mobile Apps</h3>
                            <div class="text">
                                Designing and developing softwares specifically to adhere to the unique features offered by a
                                mobile device.
                            </div>
                            <a href="~/mobile-application-development/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/Internet-marketing.svg" alt="internet-marketing-company" width="100" height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>Internet Marketing</h3>
                            <div class="text">
                                Use and apply strategies that can market products and services online through various digital
                                platforms.
                            </div>
                            <a href="~/internet-marketing-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/IoT.svg" alt="iot-internet-of-things" width="100" height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>IoT</h3>
                            <div class="text">
                                Provide reliable and efficient interconnectivity to all your digital devices by syncing them to a
                                cloud.
                            </div>
                            <a href="~/iot-service-providers/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/QA-services.svg" alt="qa-testing-services" width="100" height="100" loading="lazy"/>
                        </div>
                        <div class="content">
                            <h3>QA Services</h3>
                            <div class="text">
                                Checking for bugs and making sure your software works efficiently and to your satisfaction.
                            </div>
                            <a href="~/quality-assurance-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TECHNOLOGIES</p>
                    <div class="sec-title"><h2>Technologies We Work with</h2></div>
                </div>
            </div>
        </div>
        <!--Sortable Galery-->
        <div class="sortable-masonry">
            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter=".fe-tech">Front End</li>
                    <li class="filter" data-role="button" data-filter=".be-tech">Backend</li>
                    <li class="filter" data-role="button" data-filter=".mobile-tech">Mobile</li>
                    <li class="filter" data-role="button" data-filter=".db-tech">Database</li>
                </ul>
            </div>

            <div class="items-container row clearfix justify-content-center">
                <!-- Case Block -->
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/ios-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/ios.svg" alt="ios-app-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>iOS</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/android-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/android.svg" alt="android-app-development-company" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Android</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/react-native-app-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/react-native.svg" alt="react-native-app-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>React Native</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/reactjs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/react-native.svg" alt="react-native-app-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>React Js</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/flutter-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/flutter.svg" alt="flutter-app-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Flutter</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/ionic-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/ionic.svg" alt="ionic-framework" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Ionic</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/angular-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/angular.svg" alt="angular-programming" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Angular JS</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/xamarin-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/xamarin.svg" alt="xamarin-mobile-app-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Xamarin</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/typescript-web-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/typescript.svg" alt="typescript-web-development-services" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>TypeScript</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/vuejs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/vuejs.svg" alt="vuejs-development-company" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Vue</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/html5-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/html5.svg" alt="responsive-web-design-with-html5" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>HTML5</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/microsoft-sql-server-manage/">
                        <div class="image">
                            <img src="~/assets/images/icons/sql-server.svg" alt="sql-server-management-studio" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>MS SQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/mysql-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/mysql.svg" style="width: 100px" alt="php-mysql" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>MySQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/mongodb-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/mongodb.svg" alt="mongodb-nodejs-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Mongo DB</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/postgresql-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/postgresql.svg" alt="python-postgresql" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>PostgreSQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/firebase-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/firebase.svg" alt="react-native-firebase" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Firebase</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/redis-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/redis.svg" alt="python-redis-docker" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Redis</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/microsoft-azure-cosmos-db/">
                        <div class="image">
                            <img src="~/assets/images/icons/azure-cosmos-DB.svg" alt="azure-cosmos-DB" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Azure Cosmos DB</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/dot-net-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/dotnet.svg" alt="dot-net-framework" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>.NET</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/java-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/java.svg" alt="java-jdk-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Java</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/php-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/php.svg" alt="php-development-company" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>PHP</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/nodejs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/nodejs.svg" alt="nodejs-development" width="60" height="60" loading="lazy"/>
                        </div>
                        <p>Node.JS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="testimonials">
    @Html.Partial("_ClientFeedback")
</div>

<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_FooterWith190")
