@{
    ViewBag.Title = "Index";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@section AdditionalMeta
{
    <meta property="og:url" content="https://www.avidclan.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies" />
    <meta property="og:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!" />
    <meta property="og:image" content="https://www.avidclan.com/assets/images/logo.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://twitter.com/AvidclanT" />
    <meta name="twitter:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies" />
    <meta name="twitter:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!" />
    <meta name="twitter:image" content=" https://twitter.com/AvidclanT/header_photo " />

    <title>Custom Web and Mobile App Development Company | Avidclan Technologies</title>
    <meta name="description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!" />
    <link rel="canonical" href="https://www.avidclan.com/" />

    <link href="~/assets/css/swiper-bundle-min.css" rel="stylesheet" />

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Avidclan Technologies",
        "alternateName": "Avidclan Technologies",
        "url": "https://www.avidclan.com/",
        "logo": "https://www.avidclan.com/assets/images/logo.svg",
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "955-845-0670",
        "contactType": "sales",
        "areaServed": "IN",
        "availableLanguage": ["en","Hindi"]
        },
        "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
        ]
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Avidclan Technologies",
      "image": "https://www.avidclan.com/assets/images/logo.svg",
      "email": "solutions@avidclan.com",
      "@id": "https://www.avidclan.com/",
      "url": "https://www.avidclan.com/",
      "telephone": "955-845-0670",
      "priceRange": "$$$",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1206, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway",
        "addressLocality": "Ahmedabad",
        "postalCode": "380015",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 23.0270316,
        "longitude": 72.5062509
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Wednesday",
          "Tuesday",
          "Friday",
          "Thursday"
        ],
        "opens": "10:30",
        "closes": "19:30"
      },
     "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
      ]
    }
    </script>
}

<!-- Banner Section -->
<section class="banner-section-two">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pl-2">
                        <h1>Simplifying Business Needs Using <span class="primary-color">Technology</span></h1>
                        <p class="text">
                            Avidclan Technologies is a renowned and leading web and mobile app development company with a vision to fulfill
                            business requirements using innovative solutions.We assist our clients in a way that they can
                            provide a superior digital experience for their clients worldwide.
                        </p>
                        <div class="btn-box">
                            <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Find Consultant
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="~/assets/images/dev.svg" width="400" height="400" alt="development" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section-->

<section class="section ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By The Numbers</h5>
                    <div class="sec-title"><h2>Drive Growth and Efficiency with Our Custom Software Development</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-md-none d-lg-block">
                <img src="~/assets/images/aboutus-new.png" alt="about-us-banner" srcset="~/assets/images/aboutus-new.png 400w, ~/assets/images/aboutus-new.png 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6">
                <p class="avidclan_ralign_subtitle">ABOUT US</p>
                <div class="sec-title">
                    <h2>Your trusted partner for custom software, web and mobile app development</h2>
                    <span class="sub-text">
                        Over the past 7 years, Avidclan Technologies has built a successful track record in custom software development.
                    </span>
                    <div class="text">
                        We craft solutions that are not only visually stunning but also boast exceptional usability and keep users engaged. Our unwavering commitment to quality services has earned the trust of leading global players. At Avidclan Technologies, our team of highly talented web developers transforms business needs into innovative software solutions.
                    </div>
                </div>
                <div class="btn-box">
                    <a href="~/about-us/" class="theme-btn btn-style-one">
                        <span class="btn-title">
                            Discover More
                            <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- badges section -->
<section class="badges-section" id="badges">
    <div class="container text-center">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">Trusted By</p>
                    <div class="sec-title"><h2>Industry Recognitions and Awards</h2></div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row badges-row swiper">
            <div class="card-content">
                <div class="swiper-wrapper">
                    <!--<div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                    <div class="badge-card">
                        <div class="body">
                            <hr class="bottom-bar" />
                            <div class="text-center">-->
                    @*<h6 class="title"></h6>*@
                    <!--<p class="subtitle m-0">
                                        Top-Rated Custom Software Development Company
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://www.appfutura.com/companies/avidclan-technologies" target="_blank" class="stretched-link">
                                    <img src="https://www.appfutura.com/img/badges/badge-top-software-development-company-gray.png" class="icon" width="75" height="75" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Follow Us on AmbitionBox
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://www.ambitionbox.com/overview/avidclan-technologies-overview?utm_source=employer-dashboard&utm_campaign=avidclan-technologies&utm_medium=badges" target="_blank" class="stretched-link">
                                    <img src="/assets/images/badges/Avidclan Technologies-Rating Badge 6 on AmbitionBox.png" class="icon" width="75" height="75" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Software Development Company by Design Rush
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://www.designrush.com/agency/profile/avidclantechnologies" target="_blank" class="stretched-link">
                                    <img src="/assets/images/badges/Design Rush - Avidclan.png" class="icon" width="75" height="75" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Custom Software Development Company
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://itrate.co/developers/all" target="_blank" class="stretched-link">
                                    <img src="https://itrate.co/storage/mediakit/12-original.png?t=1652160380" class="icon" width="75" height="75" alt="Custom Software Development">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Clutch's Top Application Management Company 2024
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://clutch.co/profile/avidclan-technologies" target="_blank" class="stretched-link">
                                    <img alt="Top Application Management & Support Company" src="/assets/images/badges/top_clutch.co_application_management__support_company_ahmedabad_2024.png" class="icon" width="75" height="75" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Web Development Company 2024
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://techreviewer.co/companies/avidclan-technologies" target="_blank" class="stretched-link">
                                    <img src="assets/images/badges/techReview-web-developers.svg" alt="flag" class="icon" width="75" height="75" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Mobile App Developers 2023
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://www.topdevelopers.co/profile/avidclan-technologies" target="_blank" class="stretched-link">
                                    <img src="https://www.topdevelopers.co/assets/badges/app-2023/Mobile-App/Global/badge-top-mobile-app-developers-2023.png" alt="Mobile App Development Companies" title="Mobile App Development Companies" class="icon" width="75" height="75">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Web Design Agency 2024
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="http://www.pandia.com/us/sterling-va/web-design" target="_blank" class="stretched-link">
                                    <img alt="Pandia Badge 5" src="https://content.pandia.com/badges/webdesign-badge5.png" title="Top Web Design Agency" class="icon" width="75" height="75" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                    <div class="badge-card">
                        <div class="body">
                            <hr class="bottom-bar" />
                            <div class="text-center">
                                <p class="subtitle m-0">
                                    Top Web Development Company by Good Firms
                                </p>
                            </div>
                            <hr class="top-bar" />-->
                    @*<div class="goodfirm-widget frame-img" data-widget-type="goodfirms-widget-t1" data-height="198" data-company-id="114972"></div>*@
                    <!--<div class="goodfirm-widget frame-img" data-widget-type="goodfirms-widget-t6" data-widget-pattern="star-no-review" data-height="100" data-company-id="114972"></div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Top Software Development Company 2024
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://selectedfirms.co/companies/software-development?utm_source=avidclan_technologies&utm_medium=badge&utm_campaign=software_development&utm_term=top_software_development_company&utm_content=agency_badge&utm_marketing_tactic=badge_organic" target="_blank" class="stretched-link">
                                    <img alt="Top Software Development Company" src="https://selectedfirms.co/public/assets/frontend/img/services/round/software-development.png" title="Top Software Development Company" class="icon" width="75" height="75" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-2 col-xl-2 pb-md-4 swiper-slide">
                        <div class="badge-card">
                            <div class="body">
                                <hr class="bottom-bar" />
                                <div class="text-center">
                                    <p class="subtitle m-0">
                                        Sortlist Verified Agency 2024
                                    </p>
                                </div>
                                <hr class="top-bar" />
                                <a href="https://www.sortlist.com/agency/avidclan-technologies" target="_blank" class="stretched-link">
                                    <img src="https://core.sortlist.com//_/apps/core/images/badges-en/badge-flag-black-dark-xl.svg" alt="Sortlist Verified Agency" title="Sortlist Verified Agency" class="icon" width="75" height="75" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- end of row -->
            </div>
            <!-- Navigation Buttons -->
            <div class="swiper-button-next bg-none">
                <i class="ri-arrow-right-s-line"></i>
            </div>

            <div class="swiper-button-prev bg-none">
                <i class="ri-arrow-left-s-line"></i>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- end of service section -->
<!--  Process Section -->
<section class="process-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">WORKING PROCESS</p>
                    <div class="sec-title"><h2>We Simplify Software Development Process</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="ic:outline-content-paste-search" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Discover</h3>
                    <div class="text">Filter our client's demands into software features to be included.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="fluent:design-ideas-16-regular" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Design</h3>
                    <div class="text">Breaking a project into segments and providing an ease-of-change.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="octicon:code-square-16" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Build</h3>
                    <div class="text">Converting ideas into an efficient code ensures smooth functioning.</div>
                </div>
            </div>
            <div class="col-lg-3 process-block-one">
                <div class="inner-box">
                    <div class="icon">
                        <div class="ic-block">
                            <div class="ic-bg">
                                <span class="iconify" data-icon="charm:rocket" data-height="55"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Deliver</h3>
                    <div class="text">Provide a bug-free application that meets the requirements.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Require a solution to your software problems?</p>
                        <h2>Want to get in touch?</h2>
                        <div>
                            <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan Technologies would love
                            to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section-four lightblue-bg homesec">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">OUR CORE SERVICES</p>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0">Our Custom Software Development Services</h2>
                        <p class="text m-0 header_description">Avidclan Technologies, a pioneer in AI/ML-powered app development, empowers businesses across industries with cutting-edge digital solutions that optimize business operations and drive growth.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image"
                                 src="~/assets/images/web-dev.svg"
                                 data-src="~/assets/images/resource/image-31.jpg"
                                 alt="Web Development Service Company"
                                 data-was-processed="true"
                                 width="100"
                                 height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>Web Development</h3>
                            <div class="text">
                                We build and maintain websites that look great, work fast and perform well with a seamless user
                                experience.
                            </div>
                            <a href="~/web-development-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/UI-design.svg" alt="UI/UX-Design-Agency" width="100" height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>UI/UX Design</h3>
                            <div class="text">
                                End-to-end services including adaptive intelligent interfaces, interactive experiences and UI
                                automation.
                            </div>
                            <a href="~/design/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/mobile-app.svg" alt="mobile-app-development-company" width="100" height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>Mobile Apps</h3>
                            <div class="text">
                                Designing and developing softwares specifically to adhere to the unique features offered by a
                                mobile device.
                            </div>
                            <a href="~/mobile-application-development/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/Internet-marketing.svg" alt="internet-marketing-company" width="100" height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>Internet Marketing</h3>
                            <div class="text">
                                Use and apply strategies that can market products and services online through various digital
                                platforms.
                            </div>
                            <a href="~/internet-marketing-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/IoT.svg" alt="iot-internet-of-things" width="100" height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>IoT</h3>
                            <div class="text">
                                Provide reliable and efficient interconnectivity to all your digital devices by syncing them to a
                                cloud.
                            </div>
                            <a href="~/iot-service-providers/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <img class="lazy-image" src="~/assets/images/QA-services.svg" alt="qa-testing-services" width="100" height="100" loading="lazy" />
                        </div>
                        <div class="content">
                            <h3>QA Services</h3>
                            <div class="text">
                                Checking for bugs and making sure your software works efficiently and to your satisfaction.
                            </div>
                            <a href="~/quality-assurance-services/" class="theme-btn btn-style-one">
                                <span class="btn-title">
                                    Learn About
                                    <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRIES</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Industries We Serve</h2>
                        <p class="text m-0 header_description">We tackle challenges across industries, from healthcare to finance. Let's unlock your potential.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4>POS & Retail</h4>
                        <p>
                            We can create checkout systems that are super easy to use, both for your cashiers and your customers. No more long lines or frustration!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4>Life & Health Care</h4>
                        <p>
                            We design custom apps to make things easier for doctors, nurses, and patients alike. Imagine helpful tools to keep everyone organized and healthy!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            The world runs on computers these days, and that includes keeping track of oil and gas. We build software that helps these companies run smoothly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We can create top-notch online stores for your business. Our systems are easy to use and can be accessed from anywhere with an internet connection.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4>Finance & Insurance Market</h4>
                        <p>
                            We build systems that automate tasks, so you can spend less time pushing paper and more time helping your customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/education.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4>Education & Training</h4>
                        <p>
                            We design all sorts of learning platforms, from simple online courses to more complex systems that can manage everything for you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-section lightblue-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TECHNOLOGIES</p>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0">Technologies and Platforms We Use</h2>
                        <p class="text m-0 header_description">From AI and machine learning to cloud solutions, we craft solutions for your unique technological needs.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Sortable Galery-->
        <div class="sortable-masonry">
            <!--Filter-->
            <div class="filters clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="filter active" data-role="button" data-filter=".fe-tech">Front End</li>
                    <li class="filter" data-role="button" data-filter=".be-tech">Backend</li>
                    <li class="filter" data-role="button" data-filter=".mobile-tech">Mobile</li>
                    <li class="filter" data-role="button" data-filter=".db-tech">Database</li>
                </ul>
            </div>

            <div class="items-container row clearfix justify-content-center">
                <!-- Case Block -->
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/ios-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/ios.svg" alt="ios-app-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>iOS</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/android-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/android.svg" alt="android-app-development-company" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Android</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/react-native-app-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/react-native.svg" alt="react-native-app-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>React Native</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/reactjs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/react-native.svg" alt="react-native-app-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>React Js</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/flutter-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/flutter.svg" alt="flutter-app-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Flutter</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/ionic-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/ionic.svg" alt="ionic-framework" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Ionic</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/angular-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/angular.svg" alt="angular-programming" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Angular JS</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item mobile-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/xamarin-app-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/xamarin.svg" alt="xamarin-mobile-app-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Xamarin</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/typescript-web-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/typescript.svg" alt="typescript-web-development-services" width="60" height="60" loading="lazy" />
                        </div>
                        <p>TypeScript</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/vuejs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/vuejs.svg" alt="vuejs-development-company" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Vue</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item fe-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/html5-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/html5.svg" alt="responsive-web-design-with-html5" width="60" height="60" loading="lazy" />
                        </div>
                        <p>HTML5</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/microsoft-sql-server-manage/">
                        <div class="image">
                            <img src="~/assets/images/icons/sql-server.svg" alt="sql-server-management-studio" width="60" height="60" loading="lazy" />
                        </div>
                        <p>MS SQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/mysql-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/mysql.svg" style="width: 100px" alt="php-mysql" width="60" height="60" loading="lazy" />
                        </div>
                        <p>MySQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/mongodb-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/mongodb.svg" alt="mongodb-nodejs-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Mongo DB</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/postgresql-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/postgresql.svg" alt="python-postgresql" width="60" height="60" loading="lazy" />
                        </div>
                        <p>PostgreSQL</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/firebase-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/firebase.svg" alt="react-native-firebase" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Firebase</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/redis-development/">
                        <div class="image">
                            <img src="~/assets/images/icons/redis.svg" alt="python-redis-docker" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Redis</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item db-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/microsoft-azure-cosmos-db/">
                        <div class="image">
                            <img src="~/assets/images/icons/azure-cosmos-DB.svg" alt="azure-cosmos-DB" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Azure Cosmos DB</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/dot-net-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/dotnet.svg" alt="dot-net-framework" width="60" height="60" loading="lazy" />
                        </div>
                        <p>.NET</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/java-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/java.svg" alt="java-jdk-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Java</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/php-development-company/">
                        <div class="image">
                            <img src="~/assets/images/icons/php.svg" alt="php-development-company" width="60" height="60" loading="lazy" />
                        </div>
                        <p>PHP</p>
                    </a>
                </div>
                <div class="case-block-one masonry-item be-tech col-4 col-sm-4 col-md-3 col-lg-2">
                    <a class="inner-box" href="~/nodejs-development-services/">
                        <div class="image">
                            <img src="~/assets/images/icons/nodejs.svg" alt="nodejs-development" width="60" height="60" loading="lazy" />
                        </div>
                        <p>Node.JS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="testimonials">
    @Html.Partial("_ClientFeedback")
</div>

<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Facing a software challenge?</p>
                        <h2>Have a brilliant idea for mobile application?</h2>
                        <div>
                            <span class="b-txt"><b>Avidclan Technologies is here to help!</b></span> Whether you need a complete software solution or expert guidance, we're passionate about turning your vision into reality. Simply click "Contact Us" to connect and hire dedicated web and mobile application developers for your project.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Hire Developers</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/js/swiper-bundle-min.js"></script>
<script>
    // Siwper JS

    let swiperCard = new Swiper(".card-content", {
        loop: true,
        spaceBetween: 32,
        grabCursor: true,

        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
        },

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            768: { slidesPerView: 3 },
            1200: { slidesPerView: 6 },
        },
    });

</script>

@Html.Partial("_FooterWith190")
