
@{
    ViewBag.Title = "JavaDevelopment";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@*<title>Java Development Company, Java Development Services</title>*@
@section AdditionalMeta
{
    <title>Java Development Services | Hire Dedicated Java Developer</title>
    <meta name="description" content="Choose Avidclan Technologies for top Java development services. Our experienced Java developers deliver custom solutions for enterprise, web, and mobile applications." />
    <link rel="canonical" href="https://www.avidclan.com/java-development-company/" />
    <link rel="stylesheet" href="~/assets/css/Avidclan/technologies.css" />
}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Are Java solutions expensive at Avidclan?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Java is a highly flexible, cost-effective platform, and open source language. Avidclan offers holistic and insightful Java solutions for many industries at a relatively low fee. But the exact cost can be determined depending on the requirements. Java softwares is supported by many open source libraries and frameworks allowing developers to create highly cost effective projects."
    }
  },{
    "@type": "Question",
    "name": "Does Avidclan offer Java Migration?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We at Avidclan offer a well rounded end to end Java migration service. We deliver hassle-free migration services for all your traditional cross platform applications to the latest Java technology. We create highly robust and secure transitions with robust tech stacks and ensure the essence of your apps retain whilst adding the much needed Java boost at the base."
    }
  },{
    "@type": "Question",
    "name": "Can Java be leveraged to create Remote Access Solutions?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Absolutely! Java offers one of the best resources out there for thorough Remote Access solutions. With the pandemic, the demand for Remote Access solutions skyrocketed, and Java did not disappoint with its resource-rich platform and various libraries. Remote apps can be easily created with Java."
    }
  },{
    "@type": "Question",
    "name": "Does Avidclan offer post-sales support?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! At Avidclan, we support our clients through all projects' full development life cycle. Our expert team of Java developers takes care of maintenance, support and upgrades for all our software and custom solutions."
    }
  },{
    "@type": "Question",
    "name": "Is licensing available for Java?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, licensing for multiple versions of Java is available under different publics licences including GNU for OpenSDK Java."
    }
  },{
    "@type": "Question",
    "name": "Is Java free?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Java’s OpenSDK has been free for over a decade now, and is available for scrutiny and additions from the open source community."
    }
  },{
    "@type": "Question",
    "name": "What is the Java plug in software?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Not all applications built with Java need a server side system to launch. Java enables developers to launch applications via browser using the Java plug in software. This is not a standalone software, applications built on the JRE can be launched on browsers via the Java plug in software."
    }
  },{
    "@type": "Question",
    "name": "What is JRE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "JRE stands for Java Runtime Environment, it is a platform to build and run Java applications. It comprises the Java Virtual Machine, or JVM, Java’s classes and libraries."
    }
  },{
    "@type": "Question",
    "name": "What is Java SE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Java SE is short for Java Platform, Standard Edition. This is a software development kit to write and create apps."
    }
  },{
    "@type": "Question",
    "name": "What is Java EE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Java EE is short for Java Platform, Enterprise Edition. This is an environment to write, create and build web specific Java applications."
    }
  }]
}
</script>

<section class="inner-page">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div>
                        <h1><span class="primary-color">Java Software </span>Development Company</h1>
                        <div class="text">
                            Java is one of the most popular, and top notch programming languages and platforms. It is the first
                            choice of developers for creating enterprise grade software. From extremely simple and small to
                            large scale, highly complex applications, Java does it all. It follows a write once, run anywhere
                            code concept. At Avidclan Technologies we leverage the power of Java to create high performance software with
                            complex customizations and a highly flexible deployment environment.
                        </div>
                        <div class="btn-box">
                            <a href="~/contact-us/" class="theme-btn btn-style-one">
                                <span class="btn-title">Talk to Experts <span class="iconify ms-1" data-icon="bx:chat" data-height="25"></span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="image col-md-12 col-lg-4">
                    <img src="~/assets/images/java-img.svg" alt="java-img" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section technologies-sub">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="~/assets/images/agile-img.svg" alt="agile-img" class="img-fluid" />
            </div>
            <div class="col-lg-6">
                <h4 class="avidclan_ralign_subtitle">WHY US</h4>
                <div class="sec-title">
                    <h2>Hassle Free Custom Java Development</h2>
                    <div class="text mt-0">
                        Avidclan Technologies' expert team of Java Software developers delivers high performance and interactive app
                        experience. Are you looking to build power-packed software? We create tailor-made applications to
                        offer a seamless, highly interactive user experience on all platforms.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="icon-content">
                    <div class="icon">
                        <div class="i-block">
                            <span class="iconify" data-icon="gg:edit-black-point" data-height="34"></span>
                        </div>
                    </div>
                    <div class="txt-content">
                        <h3>Expertise</h3>
                        <p>
                            At Avidclan Technologies, we've been experimenting with Java Software for business operation solutions
                            for our clients for quite a bit of time now. Our Java Software developers team is fetching powerful tools
                            for our clients to help stay atop of the game. We work with multiple tools and deploy solutions
                            catering to expanding markets, and growing organizations. We offer a variety of services leveraging
                            the power of Java.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-content">
                    <div class="icon">
                        <div class="i-block">
                            <span class="iconify" data-icon="gg:edit-black-point" data-height="34"></span>
                        </div>
                    </div>
                    <div class="txt-content">
                        <h3>Custom Solutions</h3>
                        <p>
                            At Avidclan Technologies, we understand the power of customization in software and in house applications.
                            Whatever you are looking for, we make the right concoction of the Java Software ecosystem to
                            implement high impact, and high performing, custom software. With years of experience in different
                            industries, we are well versed with trending and classic Java libraries and frameworks like Gails,
                            Springs, Struts, Hadoop and EJB.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk">
    <div class="container">
        <div class="inner-block">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="sec-title mb-0">
                        <p class="m-1">Create your own development team now</p>
                        <h2>Hire Java Developers</h2>
                        <div>
                            If you are interested in a hands free, no-stress deployment, just drop a "Hi!". Our expert
                            developers are eager to help you create business solutions that WORK for YOU! We take immense
                            pleasure in creating business solutions, and will be sure to keep you satisfied. If not, the first 7
                            days are on us!
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one btn-light">
                            <span class="btn-title">
                                Hire Java Developers
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lightblue-bg expertise-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">OUR EXPERTISE</h5>
                    <div class="sec-title mb-0"><h2>Our Expertise with Java Development</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Custom Solutions</span>
                    <p>
                        At Avidclan Technologies, we hold expertise in developing custom, cross-platform Java based software
                        solutions. Our Java Software developers can create high-performance solutions for various business
                        operations requirements, incorporating unique, nuanced features.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Result Driven Solutions</span>
                    <p>
                        As an experienced Java Software solutions development company, we leverage the correct mix of Java’s
                        ecosystem and tools to create an ideal high-impact, result-driven solution. We ensure that customer
                        information and updates reach your team in real-time.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Spring Framework</span>
                    <p>
                        At Avidclan Technologies, we fully leverage the power of our rich Java Software developer ecosystem to
                        give our clients the dream software experience. With Spring, we create cloud solutions, microservices,
                        and even complex data processing systems. Spring’s new updates offer a lightweight, easy to work with
                        the lightweight framework. A much-needed boost to the Java ecosystem.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Big Data</span>
                    <p>
                        Avidclan Technologies' team of expert Java software solutions developers doesn't restrict itself to traditional
                        apps. We are here with the power of data to provide you the next generation of analytics and stay atop
                        your game. Powered by Apache Hadoop, Apache Mahout, and Deeplearning4j, our teams are creating
                        industry’s best Big Data solutions with Java.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Java 9-17</span>
                    <p>
                        We create state-of-the-art, responsive, native mobile applications with the power of Java. Our teams
                        are equipped with the latest technologies Java offers with Java 9, 10 and 17. Avidclan Technologies’ Java
                        Development team is well-versed with the updates, and module changes in Jigsaw and Reactive streams.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="expertise-block">
                    <span class="title">Serverless Architecture</span>
                    <p>
                        The burden of physical servers in software development had been quite high for some time! With
                        serverless architecture, Java is making waves amongst the community for cloud development platforms.
                        Among Avidclan Technologies’ rich Java tech stacks are Oracle Java Cloud Service, AWS SDK for Java,
                        and Google App Engine for a seamless serverless architecture.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tech-services-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">WHAT WE DO</h5>
                    <div class="sec-title"><h2>Our Java Services</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block">
                    <div class="content">
                        <div class="title">Java AI-Driven Apps</div>
                        <p>
                            AI apps are a must for growing businesses! Our Java development teams create high-performance
                            AI-driven apps by leveraging Java’s high portability ecosystem.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block">
                    <div class="content">
                        <div class="title">SaaS Solutions</div>
                        <p>
                            We deliver power-packed and highly robust SaaS solutions with Java. At Avidclan Technologies,
                            we develop interactive, enterprise-grade business solutions for B2B companies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block">
                    <div class="content">
                        <div class="title">Android</div>
                        <p>
                            Avidclan Technologies offers Java mobile applications that are cross-platform and highly interactive.
                            We create a native mobile experience with a rich array of features, and result-driven, high-performance
                            apps.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block">
                    <div class="content">
                        <div class="title">Servlet API</div>
                        <p>
                            Are you looking for highly nuanced web app solutions? Our highly skilled team of Java developers
                            modular, scalable, reliable, web apps with JSP, Servlet API, JSF, and much more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block">
                    <div class="content">
                        <div class="title">Integration Testing</div>
                        <p>
                            Avidclan Technologies' highly dedicated team of Java Development solutions developers enables
                            integration testing with JUnit, Robot Framework, Selenium, REST-Assured!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tech-service-block CTA">
                    <div class="content">
                        <div class="title">Want to get in touch?</div>
                        <p>
                            Do you need some help with it? Avidclan Technologies would love to help you! Kindly click on
                            ‘Contact Us’ to reach us and share your query.
                        </p>
                        <div class="btn-box">
                            <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                                <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="22"></span>Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="key-benefit-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">KEY BENEFITS OF</h5>
                    <div class="sec-title"><h2>Key Benefits of Java</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="key-block">
                    <img src="~/assets/images/icons/easy-to-use-ic.svg" alt="easy-to-use-ic" />
                    <div class="title">Simple</div>
                    <p>
                        Java is a one of a kind object oriented programming language, and is super easy to learn and
                        implement. Developer community is very well versed with Java and find it really easy to traverse
                        through bugs, new ideas with Java. Making Java development feature rich, and highly robust.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="key-block">
                    <img src="~/assets/images/icons/scalable-ic.svg" alt="scalable-ic" />
                    <div class="title">Scalable</div>
                    <p>
                        Java not just offers an easy programming language but a highly scalable environment to work in. The
                        Java platform takes into account the growth of the company, and is one of the easiest platforms to
                        work with for scalability. No matter how complex the software, at Avidclan Technologies we leverage
                        the power ofJava to create extensible, scalable apps.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="key-block">
                    <img src="~/assets/images/icons/flexible-ic.svg" alt="flexible-ic" />
                    <div class="title">Flexible</div>
                    <p>
                        Java offers a great deal of flexibility. With Java code reusability is a big boon, because any module
                        can be reused. And this is extremely helpful in highly complex, enterprise grade applications where
                        there is a lot of overlap. Following a clean coding environment, developers get a highly flexible
                        space to create nuanced solutions.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="key-block">
                    <img src="~/assets/images/icons/cost-effective-ic.svg" alt="cost-effective-ic" />
                    <div class="title">Cost-Efficient</div>
                    <p>
                        Not only are Java solutions extremely cost-efficient but they are also highly scalable. Code
                        reusability and easy to scale Java solutions, such as those created by our Java developer team at
                        Avidclan Technologies make Java a go to choice for developers. In addition to this, Java is available
                        as an open source language.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="key-block">
                    <img src="~/assets/images/icons/secure-ic.svg" alt="secure-ic" />
                    <div class="title">Secure</div>
                    <p>
                        Java puts a lot of effort into keeping its platform highly secure. Java handles internal and external
                        security issues with agility and state of the art security measures. With high impact Java software
                        such as the ones we create at Avidclan Technologies, businesses get a complete, robust, end to end
                        solution that is highly secure.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="testimonials">
    @Html.Partial("_ClientFeedback")
</div>

<section class="FAQ-section testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">FIND USEFUL</h5>
                    <div class="sec-title"><h2>Frequently Asked Questions</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                Are Java solutions expensive at Avidclan Technologies?
                            </button>
                        </h2>
                        <div id="collapseOne"
                             class="accordion-collapse collapse show"
                             aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Java is a highly flexible, cost-effective platform, and open source language. Avidclan Technologies
                                offers holistic and insightful Java solutions for many industries at a relatively low fee. But the
                                exact cost can be determined depending on the requirements. Java softwares is supported by many
                                open source libraries and frameworks allowing developers to create highly cost effective projects.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Does Avidclan Technologies offer Java Migration?
                            </button>
                        </h2>
                        <div id="collapseTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                We at Avidclan Technologies offer a well rounded end to end Java migration service. We deliver
                                hassle-free migration services for all your traditional cross platform applications to the latest
                                Java technology. We create highly robust and secure transitions with robust tech stacks and ensure
                                the essence of your apps retain whilst adding the much needed Java boost at the base.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree">
                                Can Java be leveraged to create Remote Access Solutions?
                            </button>
                        </h2>
                        <div id="collapseThree"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Absolutely! Java offers one of the best resources out there for thorough Remote Access solutions.
                                With the pandemic, the demand for Remote Access solutions skyrocketed, and Java did not disappoint
                                with its resource-rich platform and various libraries. Remote apps can be easily created with
                                Java.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour">
                                Does Avidclan Technologies offer post-sales support?
                            </button>
                        </h2>
                        <div id="collapseFour"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes! At Avidclan Technologies, we support our clients through all projects' full development
                                life cycle. Our expert team of Java developers takes care of maintenance, support and upgrades
                                for all our software and custom solutions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive"
                                    aria-expanded="false"
                                    aria-controls="collapseFive">
                                Is licensing available for Java?
                            </button>
                        </h2>
                        <div id="collapseFive"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, licensing for multiple versions of Java is available under different publics licences
                                including GNU for OpenSDK Java.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix"
                                    aria-expanded="false"
                                    aria-controls="collapseSix">
                                Is Java free?
                            </button>
                        </h2>
                        <div id="collapseSix"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Java’s OpenSDK has been free for over a decade now, and is available for scrutiny and additions
                                from the open source community.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven"
                                    aria-expanded="false"
                                    aria-controls="collapseSeven">
                                What is the Java plug in software?
                            </button>
                        </h2>
                        <div id="collapseSeven"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Not all applications built with Java need a server side system to launch. Java enables developers
                                to launch applications via browser using the Java plug in software. This is not a standalone
                                software, applications built on the JRE can be launched on browsers via the Java plug in software.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight"
                                    aria-expanded="false"
                                    aria-controls="collapseEight">
                                What is JRE?
                            </button>
                        </h2>
                        <div id="collapseEight"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingEight"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                JRE stands for Java Runtime Environment, it is a platform to build and run Java applications. It
                                comprises the Java Virtual Machine, or JVM, Java’s classes and libraries.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseNine"
                                    aria-expanded="false"
                                    aria-controls="collapseNine">
                                What is Java SE?
                            </button>
                        </h2>
                        <div id="collapseNine"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingNine"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Java SE is short for Java Platform, Standard Edition. This is a software development kit to write
                                and create apps.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingten">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseten"
                                    aria-expanded="false"
                                    aria-controls="collapseten">
                                What is Java EE?
                            </button>
                        </h2>
                        <div id="collapseten"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingten"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Java EE is short for Java Platform, Enterprise Edition. This is an environment to write, create
                                and build web specific Java applications.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")

