
@{
    ViewBag.Title = "Reactjs App Development Company USA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@section AdditionalMeta
{
    <title>ReactJS Development Services | Expert ReactJS Developers USA</title>
    <meta name="description" content="Hire top-notch ReactJS developers in the USA. Our team specializes in crafting high-performance, scalable, and user-friendly ReactJS applications." />
    <link rel="canonical" href="https://www.avidclan.com/reactjs-app-development-company-usa/" />

    @*<link href="~/assets/css/Avidclan/flutter_app_development_usa.css" rel="stylesheet" />*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <link href="~/assets/css/Avidclan/dotnet_development_locationPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />

}

<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">
                <h1 class="title-54">Top <span class="primary-color">ReactJS Development Agency </span>in the UK for Businesses</h1>
                <div class="sub-desc description-18">
                    From designing captivating interfaces to transforming web applications, our expert ReactJS developers bring innovation and expertise into every project. At Avidclan Technologies, hire our talented ReactJS developers to turn your ideas into responsive, high-performance applications.
                </div>
                <div class="btn-box mt-3">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                        <span>
                            Start Your ReactJS Journey Today
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner-com.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>

<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Data-Driven Results Powering Innovation and Success
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="Client Served" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="Project Completed" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="Team" />
                    <div class="c-number">40+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="Success Rate" />
                    <div class="c-number">99%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->

<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">
                            Your Reliable Partner for Exceptional ReactJS Development in the UK
                        </h2>
                        @*<p class="text m-0">We believe in providing the best service to our clients to ensure a long-term partnership. </p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-md-none d-flex justify-content-center align-items-center img-col my-3 my-lg-0 my-md-0 my-xl-0">
                <img src="~/assets/images/locations/about-us-image.svg" alt="about-us-banner" srcset="~/assets/images/locations/about-us-image.svg 400w, ~/assets/images/locations/about-us-image.svg 1080w" sizes="400vw" width="400" height="400" class="lazyload" loading="lazy" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only">
                        Your Reliable Partner for Exceptional ReactJS Development in the UK
                    </h2>
                    @*<span class="sub-text">
                            Avidclan Technologies has been providing software development services for over 4 successful years.
                        </span>*@
                    <div class="text description-18 my-0 gap-25_description">
                        <div>
                            <div>
                                Avidclan Technologies stands at the forefront of ReactJS development in the UK, offering bespoke solutions to bring your digital vision to life. Our expert developers craft personalized web applications, guiding your project from concept through to completion. We combine technical know-how with creative insight to deliver intuitive, scalable, and high-performance digital solutions. Whether you're a growing startup or a seasoned enterprise, we leverage innovation to transform your goals into digital success.
                            </div>
                            <br />
                            <div>
                                Our ReactJS services are designed to improve user engagement, streamline performance, and ensure your business remains competitive in today’s fast-paced digital world.
                            </div>
                            <br />
                            <div>
                                Let’s work together to unlock the true power of ReactJS for your business. We're ready to make your vision a reality.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box mt-3">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                        <span>
                            Launch Your Project!
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Explore Premier ReactJS Development Services in the UK
                        </h2>
                        <p class="text m-0 header_description">
                            Our comprehensive ReactJS development services empower your business with cutting-edge web applications that offer exceptional performance, scalability, and innovation. From custom development to continuous support, we provide end-to-end solutions, carefully tailored to meet your specific needs and objectives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S1.svg" alt="custom-reactjs-dev" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Custom ReactJS Development</h4>
                        <p class="description-16">
                            ReactJS Provides a one-stop solution to build dynamic and customized web applications. Our services are focused on meeting the specific business needs of our clients with reliable and effective solutions, assuring excellent performance, scalability, and user experience.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S2.svg" alt="fullstack-reactjs-dev" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Full Stack ReactJS Development</h4>
                        <p class="description-16">
                            Our full-stack ReactJS development services will cover both front and backend aspects. We create consistent applications that connect databases, APIs, and server-side technologies for seamless and strong user experiences.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S3.svg" alt="reactjs-consultancy-services" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS Consultancy Services</h4>
                        <p class="description-16">
                            Use our consulting services to receive professional advice on how to perform the implementation of ReactJS, from architectural designing and scalability solutions to strategic advice aimed at ensuring your project meets business goals and reaches its full potential.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S4.svg" alt="reactjs-migration-integration" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS Migration and Integration</h4>
                        <p class="description-16">
                            Upgrade and integrate your systems instantly with ReactJS. Upgrading platforms, boosting performance, and taking care of seamless transfers-all these offer greater overall efficiency without interfering with the ongoing business processes of a company.
                        </p>
                        @*<div class="btn-box w-100 align-self-end">
                                <a href="#" class="theme-btn btn-style-card py-2">
                                    <span class="btn-title">
                                        Read More
                                    </span>
                                </a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S5.svg" alt="reactjs-plugin-and-component" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS Plugin and Component Development</h4>
                        <p class="description-16">
                            Use unique ReactJS components and plugins to increase functionality. To improve performance and allow for user interface customization, we create scalable, reusable solutions that are customized to meet your needs.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S6.svg" alt="reactjs-ui/ux-design" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS UI/UX Design</h4>
                        <p class="description-16">
                            Handle complex interactive user interfaces using ReactJS. Our design team will craft visually appealing and intuitive user experiences that continuously improve functionality and sustain user engagement across all platforms and devices.

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S7.svg" alt="reactjs-performance-optimization" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS Performance Optimization</h4>
                        <p class="description-16">
                            Our performance optimization services can help you make your app faster and more responsive. To ensure seamless operation, we debug and optimize the code, eliminate bottlenecks, and accelerate load times.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/S8.svg" alt="reactjs-maintanance-and-support" class="img-fluid" />
                        </div>
                        <h4 class="title-26">ReactJS Maintenance and Support</h4>
                        <p class="description-16">
                            Our continuous support services ensure that the ReactJS applications are always secured, updated, and optimized to maintain their operational speed and clear out any bugs or problems that may appear.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Choose Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">
                        We build fast and scalable ReactJS applications
                    </h2>
                    <div class="text color-offWhite description-18">

                        <ul>
                            <li class="dotnet-whyus-li">
                                <strong>
                                    Future-Proof and Scalable Solutions:
                                </strong>  Our ReactJS development is built with scalability in mind, ensuring that your applications grow seamlessly alongside your business. We design robust, adaptable architectures that evolve as your needs change.

                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>
                                    Uncompromising Quality Assurance:
                                </strong> We are committed to delivering excellence at every stage. Our team follows the highest industry standards for coding, testing, and deployment, ensuring that every app meets top-tier quality benchmarks.

                            </li>
                            <li class="dotnet-whyus-li">
                                <strong>
                                    Continuous Support, Always:
                                </strong> Our commitment doesn’t end with the launch. We provide comprehensive post-launch support to maintain optimal performance. Regular updates, swift bug fixes, and proactive monitoring ensure that your app remains reliable and secure.

                            </li>
                        </ul>
                    </div>
                    <div class="btn-box mt-3">
                        <a href="~/about-us/"
                           class="btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none">
                            <span>
                                Discover More
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Where Innovation Meets ReactJS Expertise
                                </b>
                            </span>
                            <h2 class="my-0 py-0">
                                Lead the Digital Evolution with ReactJS 
                            </h2>
                        </div>
                        <div class="description-16">

                            Our skilled ReactJS developers specialise in creating smooth, responsive user interfaces that offer both style and functionality. We turn your concepts into stunning web applications that deliver exceptional performance and user engagement. Whether you need dynamic solutions or bespoke designs, we ensure your digital vision stands out.
                            <br />
                        </div>
                        <div class="btn-box m-0">
                            <a href="/contact-us/" class=" btn position-relative fw-bold rounded-5 overflow-hidden align-middle text-capitalize theme-btn btn-dark-bg custom-btn-padding shadow-none">
                                <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Let’s Build Something Extraordinary</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Our ReactJS Development Process 
                        </h2>
                        <p class="text m-0 header_description">
                            At Avidclan Technologies, we streamline every step of your web application development, from concept to launch. Using agile methodologies and a collaborative approach with our clients, we ensure that your ReactJS project is delivered on time, within budget, and to the highest standards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/ReactJSDevelopment-USA/Our-Development-Process.png" alt="Working Process Demonstration" class="lg_only" />
                        <img src="~/assets/images/locations/ReactJSDevelopment-USA/Process_dotnet_usa_ Mobile.png" alt="Working Process Demonstration" class="sm_only px-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Shaping the Future of Industries Through ReactJS Excellence
                        </h2>
                        <p class="text m-0 header_description">
                            Avidclan Technologies offers tailored ReactJS development services to a wide range of UK industries, including retail, education, healthcare, and finance. Our bespoke ReactJS solutions are crafted to address the unique challenges of each sector, driving progress and fostering innovation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            Our company develops user-friendly software that streamlines business management. It has efficient checkout systems that satisfy cashiers and delight consumers with fast service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            Personalized software solutions that we develop improve healthcare, which in turn saves lives. Imagine revolutionary apps for doctors, nurses, and patients to improve communication and workflows.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            Oil and gas companies must become digital! Our strong software helps them function efficiently and succeed in today's competitive landscape.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We create cutting-edge platforms that enable businesses to sell online using dynamic cloud solutions, making the process easier than before.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            No more boring paperwork! We automate financial and insurance operations to improve efficiency and streamline processes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            Our team creates customized learning platforms, from basic online courses to advanced learning management systems for successful training.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Unleashing Creative Potential with ReactJS Development
                        </h2>
                        <p class="text m-0 header_description">
                            Explore our portfolio to discover how we harness the power of ReactJS to build interactive, high-performance web applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/ondeck-portfolio.jpg" alt="onedeck-portfolio" class="w-100 h-100">
                    </div>
                    <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Ondeck</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/eargoprise-portfolio.jpg" alt="eargoprise-portfolio" class="w-100 h-100">
                    </div>
                    <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Ergoprise</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/elite-portfolio.jpg" alt="elite-portfolio" class="w-100 h-100">
                    </div>
                    <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Elite</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <div class="image">
                        <img src="~/assets/images/gallery/SRG-portfolio.jpg" alt="SRG-portfolio" class="w-100 h-100">
                    </div>
                    <a href="~/portfolio/" class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">SRG</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section-two bg-img-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>
    Exceptional Service and Results!
</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Gregoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Frequently Asked Questions of ReactJS Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                How can ReactJS benefit businesses in the UK?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                ReactJS offers numerous benefits for businesses in the UK, including faster load times, improved performance, and a seamless user experience across devices. It allows companies to build interactive and dynamic web applications that scale efficiently, crucial for meeting the demands of UK customers who expect high-quality digital experiences.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                How long does it take to develop a ReactJS application in the UK?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                The development time for a ReactJS application varies depending on the complexity and features required. On average, a simple web application may take a few weeks, while larger, more complex projects could take several months. We work closely with clients to define clear timelines and milestones that align with business objectives.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                What industries in the UK benefit the most from ReactJS development?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                ReactJS is highly beneficial across various industries in the UK, including retail, finance, healthcare, education, and more. Whether it's enhancing e-commerce platforms, streamlining financial operations, or building interactive learning platforms, ReactJS provides robust solutions to meet industry-specific needs.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                How do you ensure the quality of ReactJS projects?

                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                We maintain high standards of quality by incorporating thorough testing, code reviews, and adherence to best development practices. Our team uses a combination of automated testing, performance optimisation, and client feedback to ensure the application meets UK market standards.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                Can you build Progressive Web Apps (PWAs) using ReactJS for the UK market?

                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Yes, we specialise in building Progressive Web Apps (PWAs) with ReactJS. These apps offer offline capabilities, fast loading times, and performance on par with native apps. PWAs are an ideal choice for the UK market, where mobile users expect seamless experiences even in low-connectivity environments.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                How do you handle ReactJS maintenance and support for UK clients?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                We offer comprehensive post-launch support and maintenance to ensure your ReactJS applications are always secure, updated, and performing at their best. From regular updates and bug fixes to security monitoring, we keep your app in peak condition to ensure smooth business operations.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                What makes your ReactJS services stand out in the UK?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Our ReactJS services stand out due to our commitment to high-quality, scalable solutions tailored to the specific needs of UK businesses. We blend creative design with technical expertise to deliver interactive, high-performance web applications. Our transparent processes, expert developers, and focus on client collaboration ensure the success of every project.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
                                How do you ensure compliance with UK data protection laws in ReactJS development?
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                We prioritise compliance with the UK’s data protection laws, including the GDPR. Our development practices ensure that your ReactJS application follows all necessary privacy and security protocols, protecting your customers' data while ensuring your application meets regulatory requirements.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseThree">
                                Can I hire ReactJS developers from Avidclan Technologies for my UK-based project?
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body accordion-bodyContent">
                                Absolutely! Our team of experienced ReactJS developers can work with your UK-based project, whether you need a full development team or just one expert. We provide flexible hiring options to suit the scope and budget of your project, ensuring seamless collaboration and timely delivery.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
<section class="section our_blog style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Our Popular Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row our_blog-block">
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <a class="icon" href="/blog/reactjs-development-services-the-ultimate-guide-for-2024-success/" target="_blank">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/Thumbnail - ReactJS Development Services.jpg" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <img src="" />
                        <a class="icon" href="/blog/reactjs-vs-nextjs-the-great-javascript-framework-debate/" target="_blank">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/Thumbnail - ReactJS vs NextJS_ The Great JavaScript Framework Debate.png" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <a class="icon" href="/blog/which-is-better-preact-or-reactjs-a-comparative-look-at-javascript-libraries/" target="_blank">
                            <img src="~/assets/images/locations/ReactJSDevelopment-USA/Thumbnail - Which is Better_ Preact or ReactJS_ A Comparative Look at JavaScript Libraries.jpg" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">
                            Turn Your Ideas into Impactful ReactJS Solutions
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>
                            At Avidclan Technologies, we pride ourselves on having some of the best ReactJS developers in the UK, ready to bring your app vision to life. Whether it’s a small project or a large-scale development, our teams are adaptable and ready to scale based on your specific needs and timeline.

                        </div>
                        <div>
                            Our developers stay ahead of the curve with continuous learning and cutting-edge ReactJS practices. We prioritise clear communication and transparency throughout the development process, with a dedicated project manager who keeps you updated and ensures smooth progress.
                        </div>
                        <div>
                            Our ReactJS applications are designed to work seamlessly across different regions, and our flexible working hours allow for efficient collaboration, no matter your time zone.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
                <form method="post"
                      @*action="contact-form-handler.php"*@
                      class="form_contact contact-form location_form dark-blue-bg w-100"
                      name="locationforminfo"
                      id="location_form">
                    <div class="row" style="flex-direction:column;">
                        <div class="col form-group">
                            <div class="input-group">
                                <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <div class="input-group">
                                <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <div class="input-group d-block">
                                <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" maxlength="10" placeholder="Mobile" autocomplete="off" />
                            </div>
                        </div>

                        <div class="col form-group">
                            <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                        </div>

                        <div class="col form-group">
                            <div class="btn-box mt-3">
                                @*<a href="https://www.avidclan.com/services#project_inquiry_form" class="theme-btn">*@
                                <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                    <span class="btn-title">
                                        Send Message
                                        <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                        <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")

<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>