
@{
    ViewBag.Title = "UiUxDesignCompanyUSA";
    var context = "@context";
    var type = "@type";
    var id = "@id";
    var graph = "@graph";
}

@section AdditionalMeta
{
    <title>Top UI/UX Design Company USA | Award-Winning User Experiences</title>
    <meta name="description"
          content=" Partner with a leading UI/UX design agency in the USA. We craft user-friendly interfaces that drive results. Get a free quote today!" />
    <link rel="canonical" href="https://www.avidclan.com/ui-ux-design-company-usa/" />
    <link href="~/assets/css/Avidclan/flutter_app_development_usa.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
   
    <link rel="stylesheet" href="~/assets/css/intlTelInput.css" />
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What is the difference between UI and UX Design?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Imagine designing the apartment of your dreams: UX (User Experience) involves selecting furniture, paint colors, and overall looks, while UI (User Interface) is responsible for selecting furniture, colors, paint effects, and overall designs. Together, they're essential in creating an aesthetically pleasing and functional living space!

User interface design (UI Design) refers to all of the visual and interactive elements and features present in an app or website, including buttons, menus, fonts, color schemes, and animations—anything that makes the app or website look and feels attractive.

UX Design delves deeper, considering all aspects of the user journey. It poses questions such as \"Will users find what they need easily? Are tasks completed efficiently? And will the app or website provide enjoyable usage experiences?\" A great UX designer makes their product intuitive and efficient so users are satisfied."
    }
  },{
    "@type": "Question",
    "name": "What are the benefits of good UI/UX design?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Consider an app you love - its design may be both visually pleasing and easy to use, a hallmark of great UI/UX design! Why is that important? Here's why it matters:
1. Engaging Users: An effective UI/UX design keeps users reverting for more, making the user experience enjoyable and hassle-free.
2. Increase Conversions: Successful UX/UI design increases conversion rates, whether by getting users to sign up, buy something, or complete desired actions.
3. An engaging app or website reflects positively on your brand, making you appear professional and trustworthy to users."
    }
  },{
    "@type": "Question",
    "name": "Do I need a UI/UX designer if I'm building a simple website?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Not necessarily for basic websites, but if you want something that stands out, is easy to navigate, and converts visitors into leads or customers, hiring a UI/UX designer would be a wise investment. They will help avoid common pitfalls while creating something truly suitable for both you and your users."
    }
  },{
    "@type": "Question",
    "name": "What skills are essential for UI/UX designers?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "1. Design Skills: Attention to aesthetics, knowledge of colour theory, typography and layout principles, along with usability testing capabilities which enable designers to gain an insight into user behaviours while guaranteeing optimal usability of designs, are necessary for designers.
2. Wireframing & Prototyping: Generating mockups and interactive models to visualize an app/website before development commences.
3. Communication & Collaboration: Collaborating efficiently between developers, clients and other project stakeholders on an app/website project."
    }
  },{
    "@type": "Question",
    "name": "What tools do UI/UX designers use?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "1. Figma & Sketchcan help create design mockups and prototypes.
2. Adobe XD provides another robust design and prototyping platform.
3. InVision allows interactive prototype creation for user testing purposes
4. Usability testing tools allow tracking user behavior while gathering feedback during testing sessions."
    }
  },{
    "@type": "Question",
    "name": "What are the benefits of hiring a UI/UX design agency?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Hiring an agency has many advantages, and these are some key ones:
1. Expertise & Experience: Agencies have teams of designers with extensive knowledge across multiple fields of design.
2. Fresh Perspectives: Agencies bring fresh perspectives that challenge existing assumptions while offering new ideas for innovation and improvement.
3. Project Management: They can take over the design process, saving both time and resources."
    }
  },{
    "@type": "Question",
    "name": "What should I look for when choosing a UI/UX design agency?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "1. Portfolio: Check if their past work aligns with your vision and target audience.
2. Process: Understand their design process and how they collaborate with clients.
3. Communication Style: Make sure they clearly communicate and keep you involved throughout the project.
4. Budget: Get quotes that correspond with your budget."
    }
  },{
    "@type": "Question",
    "name": "Is there any difference between UI/UX design and web design?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "User experience design (UI/UX design) refers to all interactive products - be they websites or apps. Website design focuses specifically on designing websites using elements like SEO (Search Engine Optimization) and responsive design (making sure the website looks good across devices). So, UI/UX is more of an umbrella term, while web design falls beneath it."
    }
  },{
    "@type": "Question",
    "name": "What is the expected timeline for a UI/UX design project?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Timing for UI/UX design projects varies based on complexity, size, and level of involvement—for instance, a simple app may take weeks, while more complex websites could take months!"
    }
  },{
    "@type": "Question",
    "name": "Do you offer support to the application after the launch?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Although we cannot make changes or code modifications directly for your app post-launch, we can be an invaluable asset in your design process. Our services can include assisting with:
1. User research and testing: We can assist in analyzing and identifying user feedback to identify areas for improvement.
2. Ideation & brainstorming: With our assistance, new ideas may emerge to enhance your product or service offering."
    }
  }]
}
    </script>
}


<style>
    .alphabet-list {
        padding: 1rem;
    }

        .alphabet-list li {
            list-style: lower-alpha;
        }

    .roman-list {
        padding: 1rem;
    }

        .roman-list li {
            list-style: lower-roman;
        }
</style>
<section class="banner-section banner-bg">
    @* inner-page *@
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center order-last order-lg-first order-md-first order-xl-first order-sm-last">

                <h1 class="title-54">
                    UI/UX Design <span class="primary-color">Company</span>
                </h1>
                <div class="sub-desc description-18">
                    We specialize in creating beautiful and functional user interfaces (UI) and user experiences (UX). Our team of experienced designers works closely with you to understand your vision and goals and then translate them into digital experiences that resonate with your target audience.
                </div>
                <div class="btn-box">
                    <a href="/services#project_inquiry_form" class="btn btn-primary fw-bold rounded-5 mt-2 ">
                        <span class="py-2 px-3">
                            Find Consultant
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="image col-md-5 order-first order-lg-last order-md-last order-xl-last order-sm-first py-3">
                <img src="../assets/images/locations/master-services-banner.svg" alt="banner-services" />
            </div>
        </div>
    </div>
</section>
<section class="ourfacts">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color">By the Numbers</h5>
                    <div class="sec-title"><h2 class="pb-3 p-0 header_subtitle">UI/UX Design Statistics That Showcase Our Expertise</h2></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/clients-ic.svg" alt="" />
                    <div class="c-number">100+</div>
                    <p>Clients Served Globally</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/delivered-ic.svg" alt="" />
                    <div class="c-number">150+</div>
                    <p>Projects Accomplished</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box">
                    <img src="~/assets/images/icons/developers-ic.svg" alt="" />
                    <div class="c-number">30+</div>
                    <p>Team Strength</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="count-box even">
                    <img src="~/assets/images/icons/satisfaction-rate-ic.svg" alt="" />
                    <div class="c-number">98%</div>
                    <p>Success Ratio</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row sm_only">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">ABOUT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle text-start">
                            Partner with Professional UI/UX Designers to Shape Your Vision
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center img-col my-3">
                <img src="/assets/images/locations/about-us-image.svg"
                     alt="about-us-banner"
                     width="400"
                     height="400"
                     class="img-fluid" />
            </div>
            <div class="col-lg-6 col-md-6 col-about_description">
                <p class="avidclan_ralign_subtitle lg_only">ABOUT US</p>
                <div class="sec-title">
                    <h2 class="lg_only"> Partner with Professional UI/UX Designers to Shape Your Vision </h2>
                    <div class="text description-18 my-0 gap-25_description">
                        <div>
                            Have you ever imagined an app that feels natural and effortless on any screen size or device? At Avidclan Technologies, our professional UI/UX designer makes this dream possible! Our company goes beyond designing apps to crafting user experiences that keep people engaged.
                        </div>
                        <div>
                            Our dedicated team of UI/UX designers will collaborate closely with you to understand your vision and target audience before designing an interface that is both visually stunning and user-friendly - be it mobile gaming, productivity software, or anything else - guaranteeing a pleasant user experience across devices.
                        </div>
                        <div>
                            Avidclan Technologies provides everything you need to design an outstanding mobile app. From concept development and prototyping to user experience design that keeps users hooked, we will guide your journey every step of the way. Let's create something truly stunning yet functional together.
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="/flutter-app-development-company/" class="btn btn-primary fw-bold rounded-5 mt-2 ">
                        <span class="py-2 px-3">
                            Discover More
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25"><path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path></svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section five -->
<section class="services-section-five style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">OUR SERVICE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Our UI/UX Design Services in the USA</h2>
                        <p class="text m-0 header_description">
                            We at Avidclan Technologies believe that UI/UX is the key to every successful application. Our experienced designers go beyond aesthetics and create engaging user experiences to keep users coming back. We can elevate your app in the following ways:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Web Development.svg" class="img-fluid" alt="POS-and-Retail" />
                        </div>
                        <h4 class="title-26">Design Analysis</h4>
                        <p class="description-16">
                            Don't settle for average! Our design analysis service examines existing apps or prototypes in detail to identify strengths, weaknesses, and user pain points. It then creates an action plan for improving them.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/UI_UX Design.svg" alt="life-and-healthcare" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Wireframing</h4>
                        <p class="description-16">
                            Wireframing forms the basis of any good user experience. This collaborative process allows us to quickly test ideas by creating low-fidelity blueprints of your app's layout and functionality.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/QA Services.svg" alt="petroleum-industry" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Custom Web Design</h4>
                        <p class="description-16">
                            Are you tired of generic templates that fail to connect with your target audience? Our custom web design services specialize in crafting user-friendly interfaces that convert visitors into customers, whether that means increasing sales, growing your email list, or making an impression statement about who you are as an organization.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Internet-marketing.svg" alt="ecommerce-development" class="img-fluid" />
                        </div>
                        <h4 class="title-26">UI/UX Design</h4>
                        <p class="description-16">
                            Avidclan Technologies' holistic approach to website design considers both usability and aesthetics. It employs talented designers who blend stunning visuals with intuitive navigation and clear information architecture to produce websites that are both visually striking and enjoyable for users.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/IOT Service.svg" alt="finance-and-insurance-market" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Mobile user interface design</h4>
                        <p class="description-16">
                            It is essential to today's mobile-centric society, and success requires it. We specialize in creating user interfaces for mobile devices, considering factors such as screen size and touch interaction patterns. We also consider user behavior.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="~/assets/images/locations/Mobile Apps.svg" alt="education-and-training" class="img-fluid" />
                        </div>
                        <h4 class="title-26">Design System</h4>
                        <p class="description-16">
                            A custom design system will promote consistency throughout your entire digital ecosystem. We can assist in creating reusable UI elements, design patterns, and branding guidelines to provide users with a standardized user experience across digital touchpoints, apps, and websites.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="why-us-section">
    <div class="container-flued">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WHY US?</h5>
                    <div class="sec-title"><h2 class="header_subtitle">Why Choose Us</h2></div>
                </div>
            </div>
        </div>
        <div class="row dark-blue-bg mb-0 mb-lg-5 mb-md-5 mb-xl-5">
            <div class="col-8 details-col">
                <div class="text-part">
                    <h2 class="title-40 text-light">Make Your Website or Mobile App Super Fun And Easy To Use!</h2>
                    <div class="text color-offWhite description-18">
                        Our highly creative UI/UX designers don't simply design interfaces; they develop experiences. We understand the importance of providing an intuitive user journey that keeps users coming back for more. By combining stunning visuals with user-friendly navigation systems, our interfaces drive engagement and business growth.
                    </div>
                    <div class="btn-box">
                        <a href="/about-us/" class="btn btn-primary fw-bold rounded-5 mt-2">
                            <span class="py-2 px-3">
                                Contact Us
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--entypo ms-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" data-icon="entypo:arrow-long-right" data-height="25">
                                    <path fill="currentColor" d="M14 15.5V12H1V8h13V4.5l5.25 5.5z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-lg-flex d-md-flex d-xl-flex img-col">
                <div class="image_div">
                    <img src="~/assets/images/locations/mobile_with_dashed_arrow.png" alt="Why Choose Us demonstration" class="lazyload mobile-image" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk section">
    <div class="container">
        <div class="inner-block mb-auto">
            <div class="row align-items-center justify-content-start lets_talk-row">
                <div class="col image-col mb-2">
                    <div class="image-block">
                        <img src="~/assets/images/locations/Get_In_Touch.png" alt="Get In Touch demonstration" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 col-xl-12 content-col">
                    <div class="sec-title mb-0">
                        <div>
                            <span class="b-txt description-18">
                                <b>
                                    Ready to create a user experience that makes a difference?
                                </b>
                            </span>
                            <h2 class="my-0 py-0">Hire UI/UX designer team to craft Beautiful, User-Friendly Mobile Apps & Websites Now</h2>
                        </div>
                        <div class="description-16">
                            <span class="b-txt description-18">
                                Our skilled team of UI/UX designers brings expertise and commitment to every project they take on. Particular attention is paid to understanding user needs while creating engaging interfaces that produce tangible results for businesses across industries. Thanks to this user-centric design approach, our designers have won multiple awards while satisfying clients in various sectors.
                            </span>
                        </div>
                        <div class="btn-box m-0">
                            <a href="/services#project_inquiry_form" class=" btn position-relative fw-bold rounded-5 overflow-hidden align-middle text-capitalize theme-btn btn-dark-bg">
                                <span class="btn-title"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ion me-2" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512" data-icon="ion:call-sharp" data-height="25"><path fill="currentColor" d="M478.94 370.14c-5.22-5.56-23.65-22-57.53-43.75c-34.13-21.94-59.3-35.62-66.52-38.81a3.83 3.83 0 0 0-3.92.49c-11.63 9.07-31.21 25.73-32.26 26.63c-6.78 5.81-6.78 5.81-12.33 4c-9.76-3.2-40.08-19.3-66.5-45.78s-43.35-57.55-46.55-67.3c-1.83-5.56-1.83-5.56 4-12.34c.9-1.05 17.57-20.63 26.64-32.25a3.83 3.83 0 0 0 .49-3.92c-3.19-7.23-16.87-32.39-38.81-66.52c-21.78-33.87-38.2-52.3-43.76-57.52a3.9 3.9 0 0 0-3.89-.87a322.4 322.4 0 0 0-56 25.45A338 338 0 0 0 33.35 92a3.83 3.83 0 0 0-1.26 3.74c2.09 9.74 12.08 50.4 43.08 106.72c31.63 57.48 53.55 86.93 100 133.22S252 405.21 309.54 436.84c56.32 31 97 41 106.72 43.07a3.86 3.86 0 0 0 3.75-1.26A337.7 337.7 0 0 0 454.35 430a322.7 322.7 0 0 0 25.45-56a3.9 3.9 0 0 0-.86-3.86"></path></svg>Find Consultant</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Working Progress Section five -->
<section class="section working-process style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">WORKING PROCESS</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Our Creative UI UX Design Process</h2>
                        <p class="text m-0 header_description">We're a UI/UX design agency that takes a step-by-step approach to perfect every detail of your project. Our goal? To create a user experience that's both beautiful and functional, hitting your business targets and exceeding expectations.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-block">
                    <div class="image-box">
                        <img src="~/assets/images/locations/FlutterAppDevINDIAImage.jpg" alt="Working Process Demonstration" class="lg_only" />
                        <img src="~/assets/images/locations/FlutterAppDevINDIAMobview.jpg" alt="Working Process Demonstration" class="sm_only px-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Industry Serve Section five -->
<section class="section industry-serve style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">INDUSTRY SERVE</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">
                            Boost Engagement with Powerful UI/UX Design Services in The USA
                        </h2>
                        <p class="text m-0 header_description">
                            Our expert UI/UX designers can help you craft an app that's both stunning and easy to use. Whether you're building a game, a productivity tool, or anything in between, we'll focus on creating a high-quality user experience that meets your specific needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/POS.svg" class="img-fluid" alt="POS-and-Retail">
                        </div>
                        <h4>POS &amp; Retail</h4>
                        <p>
                            Software developed by our company makes store management effortless - our user-friendly checkout systems ensure cashiers can do their jobs while providing excellent service to customers.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/healthcare.svg" alt="life-and-healthcare" class="img-fluid">
                        </div>
                        <h4>Life &amp; Health Care</h4>
                        <p>
                            We specialize in custom software development to advance healthcare and improve people's lives. It includes creating apps for physicians, nurses, and patients alike. Imagine helpful apps designed just for them!

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/petroleum.svg" alt="petroleum-industry" class="img-fluid">
                        </div>
                        <h4>Petroleum Industry</h4>
                        <p>
                            Oil & gas companies need to stay up-to-date in today's digitalized environment, which means we develop software to aid their operations and help ensure they run seamlessly in today's business landscape.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg4">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/ecommerce.svg" alt="ecommerce-development" class="img-fluid">
                        </div>
                        <h4>ECommerce</h4>
                        <p>
                            We develop top-of-the-line platforms for businesses to sell online through flexible cloud solutions that make selling more effortless than ever.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg6">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/finance.svg" alt="finance-and-insurance-market" class="img-fluid">
                        </div>
                        <h4>Finance &amp; Insurance Market</h4>
                        <p>
                            Automated Systems, No More Paperwork! We specialize in developing systems to ensure finance and insurance run efficiently and smoothly.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-block-five">
                <div class="inner-box bg5">
                    <div class="content-box">
                        <div class="icon">
                            <img src="/assets/images/education.svg" alt="education-and-training" class="img-fluid">
                        </div>
                        <h4>Education &amp; Training</h4>
                        <p>
                            We can create any learning platform you require - from simple online courses to complex learning management systems.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Protfolio Section -->
<section class="section portfolio style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">PORTFOLIO</h5>
                    <div class="sec-title">
                        <h2 class="pb-3 p-0 header_subtitle">Discover Portfolio Built by an Award-Winning UI/UX Design Agency in the USA</h2>
                        <p class="text m-0 header_description">
                            Avidclan Technologies is a premier UI/UX design agency specializing in creating user-friendly and visually attractive interfaces. We work with businesses of all kinds - from startups with innovative ideas to established companies seeking to improve user experience - offering user interface design services that enhance both aesthetics and function, driving user engagement while meeting your business goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-block">
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/expo-mobile-portfolio.jpg" alt="expo-mobile-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Expo Mobile</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/progress-retail-portfolio.jpg" alt="progress-retail-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Progress Retail</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/reebonz-portfolio.jpg" alt="reebonz-portfolio-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">Reebonz</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-portfolio">
                <div class="box-item">
                    <a href="~/portfolio/" class="image">
                        <img src="/assets/images/gallery/SRG-portfolio.jpg" alt="SRG-portfolio" class="w-100 h-100">
                    </a>
                    <div class="portfolio_content d-flex flex-column align-items-center justify-content-end text-center">
                        <h4 class="title-26">SRG</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial-section-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <p class="avidclan_sub_title primary-color">TESTIMONIAL</p>
                    <div class="sec-title"><h2>What Our Clients Say</h2></div>
                </div>
            </div>
        </div>
        <div class="cinkes_testimonial_spage_wrapper">
            <div class="swiper-container cinkes_testimonial_spage_active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                or requests. It was a great pleasure to work with the Avidclan Technologies team.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                We have worked with the team many times over different projects in the last few years, and always
                                value having them working with us. They are great communicators and the quality of work is
                                excellent.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted.
                                They understood the requirements very well and delivered well ahead of time.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Grégoire P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                to perfect their work and made sure that we were fully satisfied with the quality of work.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cinkes_testimonial_spage_content">
                            <p class="cinkes_testimonial_spage_message">
                                Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                were very easy to work with.
                            </p>
                            <div class="cinkes_testimonial_spage_author mt-35">
                                <span class="cinkes_testimonial_spage_author_img">
                                    <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                </span>
                                <div class="cinkes_testimonial_spage_author_text">
                                    <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                    <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                    <div class="cinkes_testimonial_spage_author_rating text-primary">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section class="section faq-section style-three">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">fAQ</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Frequently Asked Questions of UI/UX Development</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What is the difference between UI and UX Design?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Imagine designing the apartment of your dreams:
                                        <strong> UX (User Experience)</strong> involves selecting furniture, paint colors, and overall looks, while UI (User Interface) is responsible for selecting furniture, colors, paint effects, and overall designs. Together, they're essential in creating an aesthetically pleasing and functional living space!
                                        <br /><br /><strong>User interface design (UI Design)</strong> refers to all of the visual and interactive elements and features present in an app or website, including buttons, menus, fonts, color schemes, and animations—anything that makes the app or website look and feels attractive.
                                        <br /><br />
                                        UX Design delves deeper, considering all aspects of the user journey. It poses questions such as "Will users find what they need easily? Are tasks completed efficiently? And will the app or website provide enjoyable usage experiences?" A great UX designer makes their product intuitive and efficient so users are satisfied.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                What are the benefits of good UI/UX design?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Consider an app you love - its design may be both visually pleasing and easy to use, a hallmark of great UI/UX design! Why is that important? Here's why it matters:
                                        <ul class="roman-list">
                                            <li>
                                                <strong> Engaging Users:</strong> An effective UI/UX design keeps users reverting for more, making the user experience enjoyable and hassle-free.
                                            </li>
                                            <li>
                                                <strong>  Increase Conversions:</strong> Successful UX/UI design increases conversion rates, whether by getting users to sign up, buy something, or complete desired actions.
                                            </li>
                                            <li>
                                                <strong> An engaging app or website</strong> reflects positively on your brand, making you appear professional and trustworthy to users.
                                            </li>
                                        </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Do I need a UI/UX designer if I'm building a simple website?

                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Not necessarily for basic websites, but if you want something that stands out, is easy to navigate, and converts visitors into leads or customers, hiring a UI/UX designer would be a wise investment. They will help avoid common pitfalls while creating something truly suitable for both you and your users.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                What skills are essential for UI/UX designers?

                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        <strong>  Design Skills:</strong> Attention to aesthetics, knowledge of colour theory, typography and layout principles, along with usability testing capabilities which enable designers to gain an insight into user behaviours while guaranteeing optimal usability of designs, are necessary for designers.
                                    </li>
                                    <li>
                                        <strong>   Wireframing & Prototyping:</strong> Generating mockups and interactive models to visualize an app/website before development commences.
                                    </li>
                                    <li>
                                        <strong> Communication & Collaboration:</strong> Collaborating efficiently between developers, clients and other project stakeholders on an app/website project.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                                What tools do UI/UX designers use?

                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        <strong>Figma & Sketch</strong>can help create design mockups and prototypes.
                                    </li>
                                    <li><strong>Adobe XD</strong> provides another robust design and prototyping platform. </li>
                                    <li>
                                        <strong>InVision </strong> allows interactive prototype creation for user testing purposes
                                    </li>
                                    <li><strong>Usability testing tools</strong> allow tracking user behavior while gathering feedback during testing sessions.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                What are the benefits of hiring a UI/UX design agency?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Hiring an agency has many advantages, and these are some key ones:

                                        <ul class="roman-list">
                                            <li>
                                                <strong> Expertise & Experience:</strong>  Agencies have teams of designers with extensive knowledge across multiple fields of design.
                                            </li>
                                            <li>
                                                <strong>  Fresh Perspectives:</strong>  Agencies bring fresh perspectives that challenge existing assumptions while offering new ideas for innovation and improvement.

                                            </li>
                                            <li>
                                                <strong> Project Management:</strong>  They can take over the design process, saving both time and resources.

                                            </li>
                                        </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                What should I look for when choosing a UI/UX design agency?

                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        <strong>Portfolio:</strong>  Check if their past work aligns with your vision and target audience.
                                    </li>
                                    <li>
                                        <strong>Process:</strong>    Understand their design process and how they collaborate with clients.
                                    </li>
                                    <li>
                                        <strong>Communication Style:</strong>   Make sure they clearly communicate and keep you involved throughout the project.
                                    </li>
                                    <li><strong>Budget:</strong>  Get quotes that correspond with your budget. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-headingEight" aria-expanded="false" aria-controls="flush-collapseThree">
                                Is there any difference between UI/UX design and web design?
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        User experience design (UI/UX design) refers to all interactive products - be they websites or apps. Website design focuses specifically on designing websites using elements like SEO (Search Engine Optimization) and responsive design (making sure the website looks good across devices). So, UI/UX is more of an umbrella term, while web design falls beneath it.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseThree">
                                What is the expected timeline for a UI/UX design project?

                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Timing for UI/UX design projects varies based on complexity, size, and level of involvement—for instance, a simple app may take weeks, while more complex websites could take months!

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseThree">
                                Do you offer support to the application after the launch?

                            </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul class="alphabet-list">
                                    <li>
                                        Although we cannot make changes or code modifications directly for your app post-launch, we can be an invaluable asset in your design process. Our services can include assisting with:
                                        <ul class="roman-list">
                                            <li>
                                                <strong> User research and testing: We can assist in analyzing and identifying</strong> user feedback to identify areas for improvement.
                                            </li>
                                            <li>
                                                <strong>  Ideation & brainstorming:</strong> With our assistance, new ideas may emerge to enhance your product or service offering.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog Section five -->
<section class="section our_blog style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">BLOG</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Our Popular Blogs</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row our_blog-block">
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg1">
                    <div class="content-box">
                        <a href="/blog/ten-essential-ui-design-principles-for-a-better-user-experience" class="icon">
                            <img src="~/assets/images/locations/uid_blog3.jpg" class="img-fluid" alt="POS-and-Retail" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg2">
                    <div class="content-box">
                        <a href="/blog/ready-for-a-website-makeover-hire-a-front-end-developer-now" class="icon">
                            <img src="~/assets/images/locations/uid_blog2.jpg" alt="life-and-healthcare" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-our_blog">
                <div class="inner-box bg3">
                    <div class="content-box">
                        <a href="/blog/why-hiring-dedicated-developers-is-a-smart-investment-for-your-business" class="icon">
                            <img src="~/assets/images/locations/uid_blog1.jpg" alt="petroleum-industry" class="img-fluid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="section contact_us style-three pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="avidclan_section_title text-center mb-50">
                    <h5 class="avidclan_sub_title primary-color section_header">CONTACT US</h5>
                    <div class="sec-title">
                        <h2 class="p-0 header_subtitle">Bring Your Vision To Life With Our Dedicated UI/UX Designers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="sec-title">
                    <div class="text sub_title-18 description-18 gap-25_description">
                        <div>Avidclan Technologies' talented UI/UX designers are eager to meet any design challenge head-on. We can tailor our team size according to the size and schedule of your project, providing maximum attention for you as a client. Furthermore, they stay current on emerging design trends and tools to offer cutting-edge solutions.</div>
                        <div>
                            Transparency and clear communication are at the core of everything we do. Our UI/UX designer team will serve as your main point of contact, so if any concerns or ideas arise, you know who to reach out to. Furthermore, we'll keep you up-to-date with regular progress updates regarding your project so that you're engaged throughout.
                        </div>
                        <div>
                            Are you ready to create an experience that is both beautiful and functional? Avidclan Technologies can make your design dreams come to life! Reach out now, and let's begin making them come alive!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-md-none d-flex justify-content-center align-items-center img-col contact_form-col">
                        <form method="post"
                              @*action="contact-form-handler.php"*@
                              class="form_contact contact-form location_form dark-blue-bg w-100"
                              name="locationforminfo"
                              id="location_form">
                            <div class="row" style="flex-direction: column;">
                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="text" name="firstname" class="contact_input px-0" id="firstname" placeholder="Full Name" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group">
                                        <input type="email" name="email" class="contact_input px-0" id="email" placeholder="Email" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="input-group d-block">
                                        <input id="CountryCode" value="CountryCode" type="hidden" name="CountryCode" />
                                        <input type="tel" name="phone" class="contact_input numberonly py-0" id="phone" maxlength="10" placeholder="Mobile" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <textarea name="message" id="message" class="contact_input px-0 contact_msg" placeholder="Message..." maxlength="500"></textarea>
                                </div>

                                <div class="col form-group">
                                    <div class="btn-box">
                                        <button type="submit" name="submit" id="btnSubmit" class="theme-btn">
                                            <span class="btn-title">
                                                Send Message
                                                <span class="iconify ms-1" data-icon="line-md:email" data-height="25"></span>
                                                <div id="button-spinner" style="margin-left: 10px; width: 15px; height: 15px; display: none" class="spinner-border"></div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                  
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")


<script type="text/javascript">
    /*LOCATION PAGE FORM START*/
    var Contactform = $(".location_form"),
        message = $(".location_form"),
        form_data;

    function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/location-thank-you");
        grecaptcha.reset();
        setTimeout(function () {
            message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

    }

    Contactform.submit(function (e) {
        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".location_form").valid()) {
            return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
            FirstName: $("#firstname").val(),
            LastName: $("#lastname").val(),
            Email: $("#email").val(),
            Phoneumber: $("#phone").val(),
            Message: $("#message").val(),
            CountryCode: countrycode,
        }

        $.ajax({
            type: "POST",
            url: "/api/Mail/SendLocationPageDetails",
            contentType: 'application/json',
            data: JSON.stringify(data),
        }).done(done_func);
    });

    $("form[name='locationforminfo']").validate({
        errorPlacement: function (error, element) {
            if ($(element).is("#phone")) {
                element.closest(".intl-tel-input").after(error);
            } else {
                error.insertAfter(element);
            }
        },
        rules: {
            firstname: "required",
            lastname: "required",
            email: {
                required: true,
                email: true,
            },
            phone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 10
            },
            message: {
                required: true,
                minlength: 25,
            },
            fcaptcha: {
                required: true,
            },
        },
        messages: {
            firstname: "Please enter your First Name",
            lastname: "Please enter your Last Name",
            phone: {
                required: "Please enter phone number",
                digits: "Please enter valid phone number",
                minlength: "Please enter valid phone number",
                maxlength: "Please enter valid phone number",
            },
            email: {
                required: "Please enter email address",
                email: "Please enter a valid email address.",
            },
            message: {
                required: "Please write your Message",
                minlength: "Please write at least 25 characters",
            },
            fcaptcha: {
                required: "Please verify Captcha",
            },
        },
        submitHandler: function (Contactform) {
            /*Contactform.submit();*/
            Contactform.submit();
        },
    });

    /*LOCATION PAGE FORM END*/
</script>