
@{
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<button type="button" class="btn btn-primary" onclick="ShowEmployeRegisterModel()">
    Add New Employee
</button>

<div class="modal" id="EmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Registration</h5>
                <button type="button" class="btn-close" aria-label="Close" onclick="ResetForm()"></button>
            </div>
            <div class="modal-body">
                @*<body>*@
                <div class="login-form">
                    <form name="registration">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="EmployeeId">

                            <label for="firstName" class="required">FirstName</label>
                            <input type="text" class="form-control" name="firstname" id="FirstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="required">LastName</label>
                            <input type="text" class="form-control" name="lastname" id="LastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="required">Phone Number</label>
                            <input type="text" class="form-control" name="phonenumber" id="PhoneNumber" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="emaillAddress" class="required">Email Address</label>
                            <input type="email" class="form-control" name="emailaddress" id="EmailAddress" placeholder="Email Address" onfocusout="CheckExistingEmailAddress()">
                        </div>
                        <div class="form-group">
                            <label for="passWord" class="required">Password</label>
                            <input type="password" class="form-control" name="password" id="PassWord" placeholder="Pass Word">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmpassWord" class="required">Confirm Password</label>
                            <input type="password" class="form-control" name="Confirmpassword" id="ConfirmPassWord" placeholder="Confirm PassWord">
                        </div>
                        <div class="form-group">
                            <label for="joiningDate" class="required">Joining Date</label>
                            <input type="text" class="form-control" name="txtjoiningDate" id="JoiningDate" placeholder="Select Joining Date">
                        </div>
                        <div class="form-group">
                            <label for="probationPeriod" class="required">Probation Months</label>
                            <input type="text" class="form-control" name="txtprobationmonth" id="ProbationMonth" placeholder="Probation Month">
                        </div>
                        <div class="form-group">
                            <label for="role" class="required">Select Role</label>
                            <select class="form-control cls-role" name="role" id="RoleName">
                                <option value="">Roles</option>
                            </select>
                        </div>
                        <br />
                        @*<button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>*@
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="ResetForm()">Close</button>
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </form>
                </div>
                @*</body>*@
            </div>
        </div>
    </div>
</div>


<div class="table-responsive pt-3">
    <table id="EmployeeList" class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th> FirstName </th>
                <th> LastName </th>
                <th> JoiningDate </th>
                <th> Password </th>
                <th> ProbationPeriod </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    var validator;
    $(function () {
        validator = $("form[name='registration']").validate({
            rules: {
                firstname: {required: true},
                lastname: {required: true,
                },
                phonenumber: {
                    required: true,
                    minlength: 10,
                    maxlength: 10
                },
                emailaddress: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                },
                txtjoiningDate: { required: true, },
                role: {
                    required: true,
                },
                txtprobationmonth: { required: true, },
                Confirmpassword: {
                    required: true,
                    equalTo: "#PassWord"
                }
            },
            messages: {
                firstname: { required: "Please enter a firstname" },
                lastname: { required: "Please enter a lastname" },
                phonenumber: {
                    required: "Please enter a phonenumber",
                    minlength: "Please enter valid phone number",
                    maxlength: "Please enter valid phone number",
                },
                emailaddress: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address"
                },
                password: {
                    required: "Please enter a password",
                },
                txtjoiningDate: { required: "Select valid Date", },
                role: { required: "Please Select valid role" },
                txtprobationmonth: { required: "Please enter probation months" },
                Confirmpassword: {
                    required: 'Confirm Password is required',
                    equalTo: "Password is not same"
                }
            },
            submitHandler: function (form) {
                SaveNewUser();
            }
        });

        BindRoles();
        $('#JoiningDate').datepicker();
        GetEmployeeList();
    });

    function SaveNewUser() {
        var data = {
            Id: $("#EmployeeId").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            PhoneNumber: $("#PhoneNumber").val(),
            EmailId: $("#EmailAddress").val(),
            Password: $("#PassWord").val(),
            Role: $("#RoleName").val(),
            JoiningDate: $("#JoiningDate").val(),
            ProbationPeriod: $("#ProbationMonth").val()
        }
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddNewUser", "BlogVacancy")",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    if (result == "True") {
                        alert("User Created Successfully!")
                        ResetForm()
                        GetEmployeeList()
                    }
                    else {
                        alert("Something Went Wrong!")
                    }
                },
                error: function (result) {
                    alert("Failure");
                }
            });

    }
    function CheckExistingEmailAddress() {
        var Id = $("#EmployeeId").val();
        if (Id == 0) {
             var emailId = $("#EmailAddress").val();
                if (emailId == null || emailId == "") {
                    return
                }

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("CheckEmailAdress", "BlogVacancy")",
                    contentType: 'application/json',
                    data: {Email : emailId},
                    success: function (result) {
                        if (result == "") {

                        }
                        else {
                            alert(result)
                            $("#EmailAddress").val('');
                        }
                    },
                    error: function (result) {
                            alert("Failure");
                    }
                });
        }


    }
    function BindRoles() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRoles", "BlogVacancy")",
            contentType: 'application/json',
            success: function (result) {
                if (result != null) {
                    $.each(result, function (index, item) {
                        var opt = new Option(item.RoleName, item.Id);
                        $('.cls-role').append(opt);

                    });
                }
            },
            error: function (result) {
                    alert("Failure");
            }
        });
    }
    function ResetForm() {
      validator.resetForm();
      $("#EmployeeId").val(0);
      $("#FirstName").val(''),
      $("#LastName").val(''),
      $("#PhoneNumber").val(''),
      $("#EmailAddress").val(''),
      $("#PassWord").val(''),
      $("#ConfirmPassWord").val('')
      $("#RoleName").val(''),
      $("#JoiningDate").val(''),
      $("#ProbationMonth").val('')
      $("#EmployeeModal").modal('hide')
    }
    function ShowEmployeRegisterModel() {
        $("#EmployeeModal").modal('show')
    }
    function GetEmployeeList() {
         $.ajax({
            type: "Get",
             url: "@Url.Action("GetAllEmployees", "BlogVacancy")",
            success: function (result) {
                $('#EmployeeList').dataTable({
                    destroy: true,
                    data: result,
                    "columns": [
                        {
                            "data": "FirstName",
                        },
                        { "data": "LastName"},
                        {
                            "data": "JoiningDate",
                            "render": function (data) {
                                const dateValue = new Date(parseInt(data.substr(6)));
                                return moment(dateValue).format('DD/MM/YYYY');
                            }
                        },
                        { "data": "Password" },
                        { "data": "ProbationPeriod" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-info btn-sm" style="color: white;" onclick="GetEmployeeDetailsById(' + data + ')"><i class="mdi mdi-pencil"></i></a>';
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger btn-sm" style="color: white;" onclick=DeleteEmployee(' +data +')><i class="mdi mdi-delete"></i></a>';
                            }
                        }
                    ]
                });


            },
            error: function (result) {
                alert("failure");
            }
        });
    }
    function GetEmployeeDetailsById(id) {
        $("#EmployeeModal").modal('show');
        $.ajax({
            url: '@Url.Action("GetEmployeeById", "BlogVacancy")',
            contentType: 'application/json',
            data: { Id: id },
            type: "GET",
            success: function (result) {
                if (result != null) {
                    $("#EmployeeId").val(result.Id);
                    $("#FirstName").val(result.FirstName);
                    $("#LastName").val(result.LastName)
                    $("#PhoneNumber").val(result.PhoneNumber)
                    $("#EmailAddress").val(result.EmailId)
                    $("#PassWord").val(result.Password)
                    $("#ConfirmPassWord").val(result.Password)
                    var date = moment(result.JoiningDate).format('MM/DD/YYYY');
                    $("#JoiningDate").val(date)
                    $("#ProbationMonth").val(result.ProbationPeriod)
                    $("#RoleName").val(result.Role);
                }
            },
            error: function () {
                alert('failure');
            }
        });
    }

    function DeleteEmployee(id) {
         if (confirm('Are you sure want to delete Employee?')) {
            $.ajax({
                url: '@Url.Action("DeleteEmployee", "BlogVacancy")',
                contentType: 'application/json',
                data: { Id: id },
                type: "GET",
                success: function (result) {
                    GetEmployeeList();
                    alert('Delete Successully!');

                },
                error: function () {
                    alert('failure');
                }
            });
        }
    }
</script>


