This is the modifed text
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("AdditionalMeta", false)

    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <script src="https://www.googletagmanager.com/gtag/js?id=G-72R4P6376Q" async></script>
    <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-72R4P6376Q');
    </script>
    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-190354516-1" async></script>
    <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-190354516-1');
    </script>
    <meta name="msvalidate.01" content="C6EA7291CCD22012F734D3C6649F2F3F" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link rel="stylesheet" href="@Styles.Url("~/Content/css")" async />
    <link rel="stylesheet" href="@Styles.Url("~/bundles/modernizr")" async />
</head>
<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="loader-wrap">
            <div class="preloader"></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div>
        <!-- Main Header -->
        <header class="main-header header-style-one">
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="container">
                    <div class="inner-container clearfix">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo">
                                <a href="~/home/"><img src="~/assets/images/logo.svg" alt="Avidclan-Logo" /></a>
                            </div>
                        </div>
                        <!--Nav Box-->
                        <div class="nav-outer clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <img src="~/assets/images/icons/icon-bar.png" alt="icon-bar" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="header-upper">
                    <div class="container">
                        <div class="inner-container clearfix">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="~/home/"><img src="~/assets/images/logo.svg" alt="Avidclan-Logo" /></a>
                                </div>
                            </div>
                            <!--Nav Box-->
                            <div class="nav-outer clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <img src="~/assets/images/icons/icon-bar.png" alt="icon-bar" />
                                </div>

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix">
                                        <ul class="navigation clearfix w3_megamenu">
                                            <li><a href="~/home/">Home</a></li>
                                            <li><a href="~/about-us/">About Us</a></li>
                                            <li class="dropdown w3_megamenu-fw ser_menu">
                                                <a href="~/services/">Services</a>
                                                <ul class="dropdown-menu half">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/web-development-company/">Web Development</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Enterprise Solutions"
                                                                           href="~/web-development-company#enterprise-solutions">Enterprise Solutions</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="ECommerce" href="~/web-development-company#ecommerce">ECommerce</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="API &amp; Backend" href="~/web-development-company#backend">API &amp; Backend</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Custom Development"
                                                                           href="~/web-development-company#custom-development">Custom Development</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/mobile-app-development-company/">Mobile Apps</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Native iOS Apps"
                                                                           href="~/mobile-app-development-company#native-ios-apps">Native iOS Apps</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Native Android Apps"
                                                                           href="~/mobile-app-development-company#native-android-apps">Native Android Apps</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Cross Platform"
                                                                           href="~/mobile-app-development-company#cross-platform">Cross Platform</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Hybrid Apps"
                                                                           href="~/mobile-app-development-company#hybrid-apps">Hybrid Apps</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/ui-ux-design-company/">Design</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Analysis" href="~/ui-ux-design-company#analysis">Analysis</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Wireframe" href="~/ui-ux-design-company#wireframe">Wireframing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI / UX Design" href="~/ui-ux-design-company#custom-web-design">Custom Web Design</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI/UX Design" href="~/ui-ux-design-company#uiux-design">UI/UX Design</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI / UX Design" href="~/ui-ux-design-company#mobile-ui-design">Mobile UI Design</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/digital-marketing-services/">Internet Marketing</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/digital-marketing-services#seo-marketing">SEO Marketing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/digital-marketing-services#social-media-marketing">Social Media Marketing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/digital-marketing-services#email-marketing">E-mail Marketing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/digital-marketing-services#content-marketing">Content Marketing</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/quality-assurance-services/">QA</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Manual QA Testing"
                                                                           href="~/quality-assurance-services#manual-qa-testing">Manual QA Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Web Testing Automation"
                                                                           href="~/quality-assurance-services#web-testing-automation">Web Testing Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Mobile App Testing"
                                                                           href="~/quality-assurance-services#mobile-app-testing">Mobile App Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Performance Testing"
                                                                           href="~/quality-assurance-services#performance-testing">Performance Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="API Testing"
                                                                           href="~/quality-assurance-services#api-testing-automation">API Testing</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/iot-service-providers/">IoT</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#industrial-automation">Industrial Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#home-automation">Home Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#smart-healthcare">Smart Healthcare</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#connected-devices">Connected Devices</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown w3_megamenu-fw tec_menu">
                                                <a href="~/technologies/">Technologies</a>
                                                <ul class="dropdown-menu half">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Front End</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/angular-development-company/">Angular</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/reactjs-development-services/">ReactJs</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/vuejs-development-company/">Vue</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/typescript-web-development/">TypeScript</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/html5-development-services/">HTML 5</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Backend</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/dot-net-development-company/">.NET</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/java-development-company/">Java</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/php-development-company/">PHP</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/nodejs-development-company/">Node</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Mobile</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/ios-app-development-services/">iOS</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/android-app-development-company/">Android</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/react-native-app-development-company/">React Native</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/flutter-app-development-company/">Flutter</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/ionic-app-development-company/">Ionic</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/xamarin-development-company/">Xamarin</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Infra and DevOps</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/aws-development-services/">AWS</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/google-cloud-platform-services/">Google Cloud</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/microsoft-azure-devops/">Azure</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/jenkins-management-services/">Jenkins</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/selenium-automation-testing-services/">Selenium</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Database</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/microsoft-sql-server-integration-services/">MS SQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/mysql-development-company/">MySQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/postgresql-database-management/">PostgreSQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/firebase-development-company/">Firebase</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/mongodb-development-services/">MongoDB</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/redis-database-development-company/">Redis</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/microsoft-azure-cosmos-db/">Azure Cosmos DB</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a>Microsoft</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/microsoft-dynamics-ax-development/">Microsoft Dynamics AX</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/microsoft-dynamics-crm-development/">Microsoft Dynamics CRM</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/sharepoint-development-company/">Sharepoint</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="~/portfolio/">Work</a></li>
                                            <li class="cls-menu-blog"><a href="~/blog/">Blog</a></li>
                                            <li class="dropdown w3_megamenu-fw car_menu">
                                                <a href="~/career/">Careers</a>
                                                <ul class="dropdown-menu half testmenu" style="max-width: 560px">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <a href="~/career#career-section">
                                                                    <h3 class="title">Current Openings</h3>
                                                                    <div class="content">
                                                                        <p>
                                                                            We are always looking for smart and enthusiastic people to add to our growing
                                                                            team.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a href="~/life-at-avidclan/">
                                                                    <h3 class="title">Life @@ Avidclan</h3>
                                                                    <div class="content">
                                                                        <p>
                                                                            Being a great place to work is the difference between being a good company and a
                                                                            great company.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- <li><a href="contact.html">Contact Us</a></li> -->
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                                <div class="navbar-right-info">
                                    <div class="link-btn">
                                        <a href="/contact-us/" class="theme-btn btn-style-one">
                                            <span class="btn-title">
                                                <span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact
                                                Us
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu  -->
            <nav class="nav-menu-wrap">
                <ul class="nav-menu menu">
                    <li><a href="~/home/">Home</a></li>
                    <li><a href="~/about-us/">About Us</a></li>
                    <li>
                        <a href="~/services/">Services</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li><a href="~/mobile-app-development-company/">Mobile Apps</a></li>
                            <li><a href="~/web-development-company/">Web Development</a></li>
                            <li><a href="~/ui-ux-design-company/">Design</a></li>
                            <li><a href="~/digital-marketing-services/">Internet Marketing</a></li>
                            <li><a href="~/quality-assurance-services/">QA</a></li>
                            <li><a href="~/iot-service-providers/">IoT</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/technologies/">Technologies</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li>
                                <a href="#">Front End</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/angular-development-company/">Angular</a></li>
                                    <li><a href="~/reactjs-development-services/">ReactJs</a></li>
                                    <li><a href="~/vuejs-development-company/">Vue</a></li>
                                    <li><a href="~/typescript-web-development/">TypeScript</a></li>
                                    <li><a href="~/html5-development-services/">HTML5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Backend</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/dot-net-development-company/">.NET</a></li>
                                    <li><a href="~/java-development-company/">Java</a></li>
                                    <li><a href="~/php-development-company/">PHP</a></li>
                                    <li><a href="~/nodejs-development-company/">Node</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mobile</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/ios-app-development-services/">iOS</a></li>
                                    <li><a href="~/android-app-development-company/">Android</a></li>
                                    <li><a href="~/react-native-app-development-company/">React Native</a></li>
                                    <li><a href="~/flutter-app-development-company/">Flutter</a></li>
                                    <li><a href="~/ionic-app-development-company/">Ionic</a></li>
                                    <li><a href="~/xamarin-development-company/">Xamarin</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Infra and DevOps</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/aws-development-services/">AWS</a></li>
                                    <li><a href="~/google-cloud-platform-services/">Google Cloud</a></li>
                                    <li><a href="~/microsoft-azure-devops/">Azure</a></li>
                                    <li><a href="~/jenkins-management-services/">Jenkins</a></li>
                                    <li><a href="~/selenium-automation-testing-services/">Selenium</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Database</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/microsoft-sql-server-integration-services/">MS SQL</a></li>
                                    <li><a href="~/mysql-development-company/">MySQL</a></li>
                                    <li><a href="~/postgresql-database-management/">PostgreSQL</a></li>
                                    <li><a href="~/firebase-development-company/">Firebase</a></li>
                                    <li><a href="~/mongodb-development-services/">MongoDB</a></li>
                                    <li><a href="~/redis-database-development-company/">Redis</a></li>
                                    <li><a href="~/microsoft-azure-cosmos-db/">Azure Cosmos DB</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Microsoft</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/microsoft-dynamics-ax-development/">Microsoft Dynamics AX</a></li>
                                    <li><a href="~/microsoft-dynamics-crm-development/">Microsoft Dynamics CRM</a></li>
                                    <li><a href="~/sharepoint-development-company/">Sharepoint</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="~/portfolio/">Work</a></li>
                    <li class="cls-menu-blog"><a href="~/blog/">Blog</a></li>
                    <li>
                        <a href="~/career/">Careers</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li><a href="~/career#career-section">Current Openings</a></li>
                            <li><a href="~/life-at-avidclan/">Life @@ Avidclan</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact-us/">Contact Us</a></li>
                </ul>
            </nav>
        </header>

        <section class="blog-section">
            <div class="container">
                <div class="blog-details-wrap">
                    <div class="blog-details-post">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="#"><img src="" alt="" id="blogImage" /></a>
                                <div class="top-meta">
                                    <span class="tag" id="blogTag"></span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span id="admin"><i class="fas fa-user"></i> <a href="#"></a></span>
                                    <span id="spanDate"><i class="far fa-calendar-alt"></i> </span>
                                </div>
                                <h3 class="title" id="Blogtitle"></h3>
                                @RenderBody()
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lets-talk">
            <div class="container">
                <div class="inner-block">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-lg-8 col-xl-7">
                            <div class="sec-title mb-0">
                                <p class="m-1">Require a solution to your software problems?</p>
                                <h2>Want to get in touch?</h2>
                                <div>
                                    <span class="b-txt"><b>Have an idea?</b></span> Do you need some help with it? Avidclan would love
                                    to help you! Kindly click on ‘Contact Us’ to reach us and share your query.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                            <div class="btn-box">
                                <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">
                                    <span class="btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact Us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer sp-two">
            <div class="container">
                <div class="widgets-section mt-190">
                    <div class="row clearfix">
                        <div class="column col-lg-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="footer-widget logo-widget">
                                        <div class="widget-content">
                                            <div class="number">
                                                <div class="num-icon">
                                                    <i class="fas fa-phone-alt"></i>
                                                </div>
                                                <div class="phone">
                                                    <h5 class="title-lbl">Call Us On</h5>
                                                    <a href="tel:+919558450670">+91 95584 50670</a>
                                                    <a href="tel:+917046618869">+91 70466 18869</a>
                                                </div>
                                            </div>
                                            <div class="office-mail">
                                                <div class="mail-icon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="email">
                                                    <h5 class="title-lbl">Mail Us @@</h5>
                                                    <a href="mailto:info@avidclan.com">info@avidclan.com</a>
                                                </div>
                                            </div>
                                            <div class="links-widget">
                                                <h3 class="widget-title mt-4">Follow Us On</h3>
                                                <ul class="social-links clearfix">
                                                    <li>
                                                        <a href="https://www.facebook.com/avidclan/" rel="nofollow" target="_blank">
                                                            <span class="fab fa-facebook-f"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/company/avidclan-technologies/"
                                                           rel="nofollow"
                                                           target="_blank">
                                                            <span class="fab fa-linkedin-in"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/AvidclanT" rel="nofollow" target="_blank">
                                                            <span class="fa-brands fa-x-twitter"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/avidclan_technologies/" rel="nofollow" target="_blank">
                                                            <span class="fab fa-instagram"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="widget-title">Visit Us On</h3>
                                    <div class="address mb-1">
                                        <div class="address-icon">
                                            <img src="~/assets/images/icons/ind-flag.svg" width="24" alt="" />
                                        </div>
                                        <div>
                                            <div class="fw-bold fs-5 mb-1">India</div>
                                            <div class="fw-bold">Ahmedabad</div>
                                            <p class="mb-1 mb-lg-0">
                                                726, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway, Ahmedabad, <br />
                                                Gujarat - 380015
                                            </p>
                                        </div>
                                    </div>
                                    <div class="address mb-1">
                                        <div class="address-icon"></div>
                                        <div>
                                            <div class="fw-bold">Rajkot</div>
                                            <p>
                                                523, RK World Tower, 150 Feet Ring Rd, Sheetal Park, Shastri Nagar, Dharam Nagar Society,
                                                Rajkot, <br />Gujarat - 360006
                                            </p>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="address-icon">
                                            <img src="~/assets/images/icons/usa-flag.svg" width="24" alt="" />
                                        </div>
                                        <div>
                                            <div class="fw-bold fs-5 mb-1">USA</div>
                                            <div class="fw-bold">Virginia</div>
                                            <p class="mb-0">45570 Silver pond sq, Apt 302, Sterling, VA 20164</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column col-lg-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="footer-widget links-widget">
                                        <h3 class="widget-title">Company</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/about-us/">About</a></li>
                                                <li><a href="~/career/">Careers</a></li>
                                                <li><a href="~/career#career-section">Current Openings</a></li>
                                                <li><a href="~/life-at-avidclan/">Life@Avidclan</a></li>
                                                <li><a href="#testimonials">Testimonials</a></li>
                                                <li><a href="~/contact-us/">Contact</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-widget links-widget sm-mb0">
                                        <h3 class="widget-title">Services</h3>
                                        <div class="widget-content">
                                            <ul>
                                                <li><a href="~/web-development-company/">Web Development</a></li>
                                                <li><a href="~/mobile-app-development-company/">Mobile Apps</a></li>
                                                <li><a href="~/ui-ux-design-company/">Design</a></li>
                                                <li><a href="~/digital-marketing-services/">Internet Marketing</a></li>
                                                <li><a href="~/quality-assurance-services/">QA</a></li>
                                                <li><a href="~/iot-service-providers/">IoT</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="footer-widget links-widget">
                                                <h3 class="widget-title">Technologies</h3>
                                                <div class="widget-content">
                                                    <ul>
                                                        <li><a href="~/angular-development-company/">Angular</a></li>
                                                        <li><a href="~/reactjs-development-services/">ReactJs</a></li>
                                                        <li><a href="~/vuejs-development-company/">Vue</a></li>
                                                        <li><a href="~/typescript-web-development/">TypeScript</a></li>
                                                        <li><a href="~/html5-development-services/">HTML5</a></li>
                                                        <li><a href="~/dot-net-development-company/">.NET</a></li>
                                                        <li><a href="~/java-development-company/">Java</a></li>
                                                        <li><a href="~/php-development-company/">PHP</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column col-lg-6">
                                            <h3 class="widget-title">&nbsp;</h3>
                                            <div class="footer-widget links-widget">
                                                <div class="widget-content">
                                                    <ul>
                                                        <li><a href="~/nodejs-development-company/">Node</a></li>
                                                        <li><a href="~/ios-app-development-services/">iOS</a></li>
                                                        <li><a href="~/android-app-development-company/">Android</a></li>
                                                        <li><a href="~/react-native-app-development-company/">React Native</a></li>
                                                        <li><a href="~/flutter-app-development-company/">Flutter</a></li>
                                                        <li><a href="~/ionic-app-development-company/">Ionic</a></li>
                                                        <li><a href="~/xamarin-development-company/">Xamarin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom row no-gutters">
                    <div class="col-md-12">
                        <div class="copyright">© @DateTime.Now.Year <a href="#">Avidclan Technologies</a>, All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookies-infobar">
            We use cookies to ensure that we give you the best experience on our website.
            <div class="cookies-infobar_wrapper">
                <a href="#" id="cookies-infobar-close" class="cookies-infobar_btn">Accept</a>
            </div>
        </div>
    </div>


</body>
</html>

@*<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/bundles/js")"></script>
<script src="~/assets/js/iconify.min.js"></script>
<script src="~/assets/js/intlTelInput.js"></script>
<script src="~/assets/js/script.js"></script>*@

<!--Scripts.Render("~/bundles/js")
    <script src="~/assets/js/bootstrap.min.js"></script>-->
@*<script src="~/assets/js/popper.min.js"></script>*@
<!--<script src="~/assets/js/isotope.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/iconify.min.js"></script>
<script src="~/assets/js/intlTelInput.js"></script>
<script src="~/assets/js/script.js"></script>-->

<script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    @*<script src="~/assets/js/bootstrap-select.min.js"></script>*@
    @*<script src="~/assets/js/jquery.fancybox.js"></script>*@
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/lazyload.js"></script>
    <script src="~/assets/js/scrollbar.js"></script>
    @*<script src="~/assets/js/TweenMax.min.js"></script>*@
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/jClocksGMT.js"></script>
    <script src="~/assets/js/jquery.rotate.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/js/iconify.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/additional-methods.min.js"></script>
    <script src="~/assets/js/intlTelInput.js"></script>
    <script src="~/assets/js/script.js"></script>

@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {
        GetBlogDetails();
    });
    function GetBlogDetails() {
        var id = localStorage.getItem("BlogId");
        var date = localStorage.getItem("BlogDate");
        $.ajax({
                url: '@Url.Action("GetBlogData", "Avidclan")',
                contentType: 'application/json',
                data: { Id: id },
                type: "GET",
                success: function (result) {
                    if (result != null) {
                        var fromdate = moment(result.PostingDate).format('MM/DD/YYYY  HH:mm:ss');
                        var options = { year: 'numeric', month: 'long', day: 'numeric' };
                        var PostingDate = new Date(fromdate);
                        var longDt = PostingDate.toLocaleDateString("en-US", options);

                        $("#blogTag").html(result.BlogType)
                        $("#Blogtitle").html(result.Title)
                        $("#admin a").html(result.PostedBy)
                        $('#blogImage').attr('src', result.Image);
                        $("#spanDate").html(longDt)
                    }

                },
                error: function () {
                    alert('failure');
                }
            });
    }
</script>