@*@using reCAPTCHA.MVC*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    @RenderSection("AdditionalMeta", false)

    <!--<script src="https://www.googletagmanager.com/gtag/js?id=G-72R4P6376Q" async></script>
    <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-72R4P6376Q');
    </script>
    <!-- Google tag (gtag.js)
    <!--<script src="https://www.googletagmanager.com/gtag/js?id=UA-190354516-1" async></script>
    <script async>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-190354516-1');
    </script>-->
    <meta name="msvalidate.01" content="C6EA7291CCD22012F734D3C6649F2F3F" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" media="all" href="~/assets/css/swiper.min.css" defer />
    <link rel="stylesheet" media="all" href="~/assets/css/all-min.css" defer async />
    <link rel="stylesheet" media="all" href="~/assets/css/Avidclan/bootstrap-custom.css" defer async />
    <link rel="stylesheet" media="all" href="~/assets/css/Avidclan/home.css" />
    <link rel="stylesheet" media="all" href="@Styles.Url("~/Content/css")" />
    @*<link rel="stylesheet" media="all" href="@Styles.Url("~/bundles/modernizr")" defer />*@

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5HZ8ZV4Q');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Preloader
    <div class="loader-wrap">
        <div class="preloader"></div>
    </div>-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HZ8ZV4Q"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-wrapper">
        <!-- Preloader -->
        @*<div class="loader-wrap">
                <div class="preloader"></div>
                <div class="layer layer-one"><span class="overlay"></span></div>
                <div class="layer layer-two"><span class="overlay"></span></div>
                <div class="layer layer-three"><span class="overlay"></span></div>
            </div>*@
        <!-- Main Header -->
        <header class="main-header header-style-one">
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="container">
                    <div class="inner-container clearfix">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo">
                                <a href="~/home/"><img src="~/assets/images/logo.svg" alt="Avidclan-Logo" width="100" height="100" /></a>
                            </div>
                        </div>
                        <!--Nav Box-->
                        <div class="nav-outer clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <img src="~/assets/images/icons/icon-bar.png" alt="icon-bar" width="30" height="30" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="header-upper">
                    <div class="container">
                        <div class="inner-container clearfix">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="~/home/"><img src="~/assets/images/logo.svg" alt="Avidclan-Logo" width="100" height="100" /></a>
                                </div>
                            </div>
                            <!--Nav Box-->
                            <div class="nav-outer clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <img src="~/assets/images/icons/icon-bar.png" alt="icon-bar" />
                                </div>

                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix">
                                        <ul class="navigation clearfix w3_megamenu">
                                            <li><a href="~/home/">Home</a></li>
                                            <li><a href="~/about-us/">About Us</a></li>
                                            <li class="dropdown w3_megamenu-fw ser_menu">
                                                <a href="~/services/">Services</a>
                                                <ul class="dropdown-menu half" style="transform: translate(-461.5px);">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/web-development-company/">Web Development</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Enterprise Solutions"
                                                                           href="~/web-development-company#enterprise-solutions">Enterprise Solutions</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="ECommerce" href="~/web-development-company#ecommerce">ECommerce</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="API &amp; Backend" href="~/web-development-company#backend">API &amp; Backend</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Custom Development"
                                                                           href="~/web-development-company#custom-development">Custom Development</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/mobile-app-development-company/">Mobile Apps</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Native iOS Apps"
                                                                           href="~/mobile-app-development-company#native-ios-apps">Native iOS Apps</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Native Android Apps"
                                                                           href="~/mobile-app-development-company#native-android-apps">Native Android Apps</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Cross Platform"
                                                                           href="~/mobile-app-development-company#cross-platform">Cross Platform</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Hybrid Apps"
                                                                           href="~/mobile-app-development-company#hybrid-apps">Hybrid Apps</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/ui-ux-design-company/">Design</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Analysis" href="~/ui-ux-design-company#analysis">Analysis</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Wireframe" href="~/ui-ux-design-company#wireframe">Wireframing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI / UX Design" href="~/ui-ux-design-company#custom-web-design">Custom Web Design</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI/UX Design" href="~/ui-ux-design-company#uiux-design">UI/UX Design</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="UI / UX Design" href="~/ui-ux-design-company#mobile-ui-design">Mobile UI Design</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/quality-assurance-services/">QA</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a aria-label="Manual QA Testing"
                                                                           href="~/quality-assurance-services#manual-qa-testing">Manual QA Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Web Testing Automation"
                                                                           href="~/quality-assurance-services#web-testing-automation">Web Testing Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Mobile App Testing"
                                                                           href="~/quality-assurance-services#mobile-app-testing">Mobile App Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="Performance Testing"
                                                                           href="~/quality-assurance-services#performance-testing">Performance Testing</a>
                                                                    </li>
                                                                    <li>
                                                                        <a aria-label="API Testing"
                                                                           href="~/quality-assurance-services#api-testing-automation">API Testing</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/iot-service-providers/">IoT</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#industrial-automation">Industrial Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#home-automation">Home Automation</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#smart-healthcare">Smart Healthcare</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/iot-service-providers#connected-devices">Connected Devices</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    <a href="~/ai-development-company">Artificial Intelligence</a>
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/ai-development-company#custom-ai-solutions">Custom AI Development</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/ai-development-company#machine-learning">Machine Learning Development</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/ai-development-company#generativeai">Generative AI</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/ai-development-company#ai-deployment">AI Integration and Deployment</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown w3_megamenu-fw tec_menu">
                                                <a href="~/technologies/">Technologies</a>
                                                <ul class="dropdown-menu half" style="transform: translate(-441.5px);">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    Front End
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/angular-development-company/">Angular</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/reactjs-development-services/">ReactJs</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/vuejs-development-company/">Vue</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/typescript-web-development/">TypeScript</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/html5-development-services/">HTML 5</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    Backend
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/dot-net-development-company/">.NET</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/java-development-company/">Java</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/php-development-company/">PHP</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/nodejs-development-company/">Node</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    Mobile
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/ios-app-development-services/">iOS</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/android-app-development-company/">Android</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/react-native-app-development-company/">React Native</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/flutter-app-development-company/">Flutter</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/ionic-app-development-company/">Ionic</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/xamarin-development-company/">Xamarin</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    Infra and DevOps
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/aws-development-services/">AWS</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/google-cloud-platform-services/">Google Cloud</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/microsoft-azure-devops/">Azure</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/selenium-automation-testing-services/">Selenium</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3 class="title">
                                                                    Database
                                                                </h3>
                                                                <ul>
                                                                    <li>
                                                                        <a href="~/microsoft-sql-server-integration-services/">MS SQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/mysql-development-company/">MySQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/postgresql-database-management/">PostgreSQL</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/firebase-development-company/">Firebase</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/mongodb-development-services/">MongoDB</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/redis-database-development-company/">Redis</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="~/microsoft-azure-cosmos-db/">Azure Cosmos DB</a>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="~/portfolio/">Work</a></li>
                                            <li class="cls-menu-blog"><a href="~/blog/">Blog</a></li>
                                            <li class="dropdown w3_megamenu-fw car_menu">
                                                <a href="~/career/">Careers</a>
                                                <ul class="dropdown-menu half testmenu" style="max-width: 560px; transform: translate(-248px);">
                                                    <div class="dropdown-arrow"></div>
                                                    <li class="w3_megamenu-content withoutdesc">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <a href="~/career#career-section">
                                                                    <h3 class="title">Current Openings</h3>
                                                                    <div class="content">
                                                                        <p>
                                                                            We are always looking for smart and enthusiastic people to add to our growing
                                                                            team.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <a href="~/life-at-avidclan/">
                                                                    <h3 class="title">Life @@ Avidclan Technologies</h3>
                                                                    <div class="content">
                                                                        <p>
                                                                            Being a great place to work is the difference between being a good company and a
                                                                            great company.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- <li><a href="contact.html">Contact Us</a></li> -->
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                                <div class="navbar-right-info">
                                    <div class="link-btn">
                                        <a href="/contact-us/" class="theme-btn btn-style-one">
                                            <span class="btn-title">
                                                <span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Contact
                                                Us
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu  -->
            <nav class="nav-menu-wrap">
                <ul class="nav-menu menu">
                    <li><a href="~/home/">Home</a></li>
                    <li><a href="~/about-us/">About Us</a></li>
                    <li>
                        <a href="~/services/">Services</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li><a href="~/mobile-app-development-company/">Mobile Apps</a></li>
                            <li><a href="~/web-development-company/">Web Development</a></li>
                            <li><a href="~/ui-ux-design-company/">Design</a></li>
                            <li><a href="~/quality-assurance-services/">QA</a></li>
                            <li><a href="~/iot-service-providers/">IoT</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/technologies/">Technologies</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li>
                                <a href="#">Front End</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/angular-development-company/">Angular</a></li>
                                    <li><a href="~/reactjs-development-services/">ReactJs</a></li>
                                    <li><a href="~/vuejs-development-company/">Vue</a></li>
                                    <li><a href="~/typescript-web-development/">TypeScript</a></li>
                                    <li><a href="~/html5-development-services/">HTML5</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Backend</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/dot-net-development-company/">.NET</a></li>
                                    <li><a href="~/java-development-company/">Java</a></li>
                                    <li><a href="~/php-development-company/">PHP</a></li>
                                    <li><a href="~/nodejs-development-company/">Node</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mobile</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/ios-app-development-services/">iOS</a></li>
                                    <li><a href="~/android-app-development-company/">Android</a></li>
                                    <li><a href="~/react-native-app-development-company/">React Native</a></li>
                                    <li><a href="~/flutter-app-development-company/">Flutter</a></li>
                                    <li><a href="~/ionic-app-development-company/">Ionic</a></li>
                                    <li><a href="~/xamarin-development-company/">Xamarin</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Infra and DevOps</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/aws-development-services/">AWS</a></li>
                                    <li><a href="~/google-cloud-platform-services/">Google Cloud</a></li>
                                    <li><a href="~/microsoft-azure-devops/">Azure</a></li>
                                    <li><a href="~/selenium-automation-testing-services/">Selenium</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Database</a>
                                <i class="fa fa-angle-right sub-menu-toggle"></i>
                                <ul class="sub-menu menu">
                                    <li class="close">
                                        <div>Back <i class="fa icon fa-angle-left"></i></div>
                                    </li>
                                    <li><a href="~/microsoft-sql-server-integration-services/">MS SQL</a></li>
                                    <li><a href="~/mysql-development-company/">MySQL</a></li>
                                    <li><a href="~/postgresql-database-management/">PostgreSQL</a></li>
                                    <li><a href="~/firebase-development-company/">Firebase</a></li>
                                    <li><a href="~/mongodb-development-services/">MongoDB</a></li>
                                    <li><a href="~/redis-database-development-company/">Redis</a></li>
                                    <li><a href="~/microsoft-azure-cosmos-db/">Azure Cosmos DB</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li><a href="~/portfolio/">Work</a></li>
                    <li class="cls-menu-blog"><a href="~/blog/">Blog</a></li>
                    <li>
                        <a href="~/career/">Careers</a>
                        <i class="fa fa-angle-right sub-menu-toggle"></i>
                        <ul class="sub-menu menu">
                            <li class="close">
                                <div>Back <i class="fa icon fa-angle-left"></i></div>
                            </li>
                            <li><a href="~/career#career-section">Current Openings</a></li>
                            <li><a href="~/life-at-avidclan/">Life @@ Avidclan Technologies</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact-us/">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        @RenderBody()
    </div>

    <!--<script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/iconify.min.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>
    Scripts.Render("~/bundles/js")
    <script src="~/assets/js/intlTelInput.js"></script>-->
    @*
        <script src="~/assets/js/contact.js"></script>*@
    <!--<script src="~/assets/js/script.js"></script>-->
    <!--Scripts.Render("~/bundles/js")
    <script src="~/assets/js/bootstrap.min.js"></script>-->
    @*
        <script src="~/assets/js/popper.min.js"></script>*@
    <!--<script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/iconify.min.js"></script>
    <script src="~/assets/js/intlTelInput.js"></script>
    <script src="~/assets/js/script.js"></script>-->
    <!--<script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>-->
    @*
        <script src="~/assets/js/bootstrap-select.min.js"></script>*@
    @*
        <script src="~/assets/js/jquery.fancybox.js"></script>*@
    <!--<script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/lazyload.js"></script>
    <script src="~/assets/js/scrollbar.js"></script>-->
    @*
        <script src="~/assets/js/TweenMax.min.js"></script>*@
    <!--<script src="~/assets/js/jClocksGMT.js"></script>
    <script src="~/assets/js/jquery.rotate.js"></script>
    <script src="~/assets/js/js.cookie.min.js"></script>
    <script src="~/assets/js/iconify.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/additional-methods.min.js"></script>
    <script src="~/assets/js/intlTelInput.js"></script>
    <script src="~/assets/js/script.js"></script>-->
    <script src="~/assets/js/swiper.min.js" defer></script>
    <script src="~/assets/js/jquery.js"></script>
    @Scripts.Render("~/Content/js")
    @*<script src="~/assets/js/jquery.js"></script>*@
    <script src="~/assets/js/popper.min.js" defer></script>
    <script src="~/assets/js/bootstrap.min.js" defer></script>
    @*
        <script src="~/assets/js/bootstrap-select.min.js"></script>*@
    @*
        <script src="~/assets/js/jquery.fancybox.js"></script>*@
    @*<script src="~/assets/js/isotope.js"></script>*@
    @*
        <script src="~/assets/js/owl.js"></script>*@
    @*<script src="~/assets/js/appear.js"></script>*@
    @*<script src="~/assets/js/wow.js"></script>*@
    @*<script src="~/assets/js/lazyload.js"></script>*@
    @*<script src="~/assets/js/scrollbar.js"></script>*@
    @*
        <script src="~/assets/js/TweenMax.min.js"></script>*@
    @*<script src="~/assets/js/jClocksGMT.js"></script>*@
    @*<script src="~/assets/js/jquery.rotate.js"></script>*@
    <script src="~/assets/js/js.cookie.min.js" defer></script>
    <script src="~/assets/js/iconify.min.js" defer></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/additional-methods.min.js" defer></script>
    <script src="~/assets/js/intlTelInput.js"></script>
    <script src="~/assets/js/script.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async></script>

    <script type="text/javascript" defer>
        (function ($) {
        "use strict";
        $(".numberonly").keypress(function (e) {
        var charCode = e.which ? e.which : event.keyCode;

        if (String.fromCharCode(charCode).match(/[^0-9]/g)) return false;
        });

        var code = "+1";
        $("#phone").val(code);

        $("#phone").intlTelInput({
        utilsScript: "/assets/js/utils.js",
        separateDialCode: true,
        initialCountry: "us",
        });
            $("#mobilet").val(code);
            $("#mobilet").intlTelInput({
                utilsScript: "/assets/js/utils.js",
                separateDialCode: true,
                initialCountry: "us",
            });

        $(".contactno").keypress(function (e) {
        var charCode = e.which ? e.which : event.keyCode;
        if (String.fromCharCode(charCode).match(/[^0-9]/g)) return false;
        });


        /*CONTACT FORM START*/
        var Contactform = $(".contact_form"),
        message = $(".contact_msg"),
        form_data;

        function done_func(response) {
        console.log(response);
        //if (response == "Sent") {
        window.location.replace("/thankyou");
        grecaptcha.reset();
        setTimeout(function () {
        message.fadeOut();
        }, 3000);
        Contactform.find('input:not([type="submit"]), textarea').val("");
        //}

        $('#button-spinner').hide();

        }

        Contactform.submit(function (e) {

        e.preventDefault();
        var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#code").val(countrycode);

        form_data = $(this).serialize();

        if (!$(".contact_form").valid()) {
        return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //e.preventDefault();
        //return false;
        //}


        $('#button-spinner').show();
        $('#sbmtbtn').attr("disabled", true);
        var data = {
        FirstName: $("#firstname").val(),
        LastName: $("#lastname").val(),
        Email: $("#email").val(),
        Phoneumber: $("#phone").val(),
        Message: $("#message").val(),
        CountryCode: countrycode,
        }


        $.ajax({
        type: "POST",
        url: "/api/Mail/SendContactDetails",
        contentType: 'application/json',
        data: JSON.stringify(data),
        }).done(done_func);
        });

        $("form[name='contactinfo']").validate({
        errorPlacement: function (error, element) {
        if ($(element).is("#phone")) {
        element.closest(".intl-tel-input").after(error);
        } else {
        error.insertAfter(element);
        }
        },
        rules: {
        firstname: "required",
        lastname: "required",
        email: {
        required: true,
        email: true,
        },
        phone: {
        required: true,
        digits: true,
        minlength: 10,
        maxlength: 10
        },
        message: {
        required: true,
        minlength: 25,
        },
        fcaptcha: {
        required: true,
        },
        },
        messages: {
        firstname: "Please enter your First Name",
        lastname: "Please enter your Last Name",
        phone: {
        required: "Please enter phone number",
        digits: "Please enter valid phone number",
        minlength: "Please enter valid phone number",
        maxlength: "Please enter valid phone number",
        },
        email: {
        required: "Please enter email address",
        email: "Please enter a valid email address.",
        },
        message: {
        required: "Please write your Message",
        minlength: "Please write at least 25 characters",
        },
        fcaptcha: {
        required: "Please verify Captcha",
        },
        },
        submitHandler: function (Contactform) {
        /*Contactform.submit();*/
        Contactform.submit();
        },
        });

        /*CONTACT FORM END*/

        /*Contact Us FORM START*/
        var Contactform = $("#form_contact"),
            message = $(".contact_msg"),
            form_data;

        function done_func(response) {
            console.log(response);
            if (response == "Sent") {
            window.location.replace("/thankyou");
            /*grecaptcha.reset();*/
            setTimeout(function () {
                message.fadeOut();
            }, 3000);
            Contactform.find('input:not([type="submit"]), textarea').val("");
            }

            $('#button-spinner').hide();

        }

        Contactform.submit(function (e) {
            e.preventDefault();
            var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
            $("#CountryCode").val(countrycode);

            form_data = $(this).serialize();

            if (!$(".form_contact").valid()) {
                return false;
            }
            //var response = grecaptcha.getResponse();
            //if (response.length == 0) {
            ////reCaptcha not verified
            //alert("Please Verify Captcha!");
            //e.preventDefault();
            //return false;
            //}


            $('#button-spinner').show();
            $('#btnSubmit').attr("disabled", true);
            var data = {
                FirstName: $("#firstname").val(),
                /*LastName: $("#lastname").val(),*/
                Email: $("#email").val(),
                Phoneumber: $("#phone").val(),
                Message: $("#message").val(),
                CountryCode: countrycode,
            }

            $.ajax({
                type: "POST",
                url: "/api/Mail/SendContactDetails",
                contentType: 'application/json',
                data: JSON.stringify(data),
            }).done(done_func);
        });

        $("form[name='contactDetail']").validate({
            errorPlacement: function (error, element) {
                if ($(element).is("#phone")) {
                    element.closest(".intl-tel-input").after(error);
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                firstname: "required",
                email: {
                    required: true,
                    email: true,
                },
                phone: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 10
                },
                message: {
                    required: true,
                    minlength: 25,
                }
            },
            messages: {
                firstname: "Please enter your First Name",
                email: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address.",
                },
                phone: {
                    required: "Please enter phone number",
                    digits: "Please enter valid phone number",
                    minlength: "Please enter valid phone number",
                    maxlength: "Please enter valid phone number",
                },
                message: {
                    required: "Please write your Message",
                    minlength: "Please write at least 25 characters",
                }
            },
            submitHandler: function (Contactform) {
                /*Contactform.submit();*/
                Contactform.submit();
            },
        });

        /*Contact Us FORM END*/

        /*APPLICATION FORM START*/

        var Candidateform = $(".career_form"),
        message = $(".career_msg"),
        form_data;


        function Application_Form(response) {
        if (response == "Sent") {
        window.location.replace("/thankyou");
        message.fadeIn().removeClass("alert-danger").addClass("alert-success");
        message.text(response);
        grecaptcha.reset();
        setTimeout(function () {
        message.fadeOut();
        }, 3000);
        Candidateform.find('input:not([type="submit"]), textarea').val("");
        }
        $('#button-spinner').hide();
        }

        Candidateform.submit(function (e) {

        e.preventDefault();

        if (!$(".career_form").valid()) {
        return false;
        }

        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        //alert("Please Verify Captcha!");
        //evt.preventDefault();
        //return false;
        //}
        $('#button-spinner').show();
        $('#btnSendEmail').attr("disabled",true);
        //var Position = $("#caseOption").val();
        var Position = $("#caseOption option:selected").text();
        var Name = $("#name").val();
        var Email = $("#email").val();
        var ContactNumber = $("#contactno").val();
        var Resume = $("#attachmentFile").get(0);
        var files = Resume.files;
        var Message = $("#message").val();

        var fileData = new FormData();
        fileData.append("Resume", files[0]);
        fileData.append('Name', Name);
        fileData.append('Email', Email);
        fileData.append('ContactNumber', ContactNumber);
        fileData.append('Message', Message);
        fileData.append('Position', Position);

        return $.ajax({
        type: "POST",
        url: "/api/Mail/SendCandidateDetails",
        data: fileData,
        cache: false,
        contentType: false,
        processData: false,
        }).done(Application_Form);
        });

        $("form[name='career_form_data']").validate({
        errorPlacement: function (error, element) {
        if ($(element).is("select")) {
        element.next().after(error);
        } else {
        error.insertAfter(element);
        }
        },

        debug: true,
        success: "valid",
        rules: {
        caseOption: "required",
        name: "required",
        email: {
        required: true,
        email: true,
        },
        contactno: {
        required: true,
        digits: true,
        minlength: 10,
        maxlength: 10,
        },
        attachmentFile: {
        required: true,
        extension: "pdf,doc,docx",
        },
        message: {
        required: true,
        },
        },
        messages: {
        caseOption: "Please select position",
        name: "Please enter your Name",
        contactno: {
        required: "Please enter phone number",
        digits: "Please enter valid phone number",
        minlength: "Please enter valid phone number",
        maxlength: "Please enter valid phone number"
        },
        email: {
        required: "Please enter email address",
        email: "Please enter a valid email address.",
        },
        attachmentFile: {
        required: "Please choose a file",
        extension: "Please choose a valid file type",
        },
        message: {
        required: "Please write your Message",
        },
        },
        submitHandler: function (Candidateform) {
        Candidateform.submit();
        },
        });


        /*APPLICATION FORM END*/



        /*PROJECT DETAILS FORM START*/

        var Projectform = $(".project_form"),
        message = $(".project_msg"),
        form_data;

        function ProjectSuccess(response) {
        if (response == "Sent") {
        window.location.replace("/thankyou");
        message.fadeIn().removeClass("alert-danger").addClass("alert-success");
        message.text(response);
        grecaptcha.reset();
        setTimeout(function () {
        message.fadeOut();
        }, 3000);
        Projectform.find('input:not([type="submit"]), textarea').val("");
        }

        $('#button-spinner').hide();
        }

        Projectform.submit(function (e) {
        e.preventDefault();

        var code = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
        $("#scode").val(code);

        form_data = $(this).serialize();
        if (!$(".project_form").valid()) {
        return false;
        }
        //var response = grecaptcha.getResponse();
        //if (response.length == 0) {
        ////reCaptcha not verified
        //alert("Please Verify Captcha!");
        //evt.preventDefault();
        //return false;
        //}

        $('#button-spinner').show();
        $('#btnSendEmail').attr("disabled", true);
        var Projectdata = {
        FirstName: $("#firstname").val(),
        LastName: $("#lastname").val(),
        Email: $("#email").val(),
        Phone: $("#phone").val(),
        Service: $("#servicename").val(),
        Budget: $("#budget").val(),
        StartDate: $("#starttime").val(),
        Requirement: $("#prequirement").val(),
        ProjectDetails: $("#projectbrief").val(),
        CountryCode: code,
        }

        $.ajax({
        type: "POST",
        url: "/api/Mail/SendProjectDetails",
        contentType: 'application/json',
        data: JSON.stringify(Projectdata),
        }).done(ProjectSuccess);
        });


        $("form[name='project_form_data']").validate({
        errorPlacement: function (error, element) {
        if ($(element).is("#phone")) {
        element.closest(".intl-tel-input").after(error);
        } else if (element.attr("class").indexOf("selectpicker") != -1) {
        var mpar = $(element).closest("div.bootstrap-select");
        error.insertAfter($(".dropdown-toggle", mpar));
        } else {
        error.insertAfter(element);
        }
        },


        rules: {
        firstname: "required",
        lastname: "required",
        phone:
        {
        required: true,
        digits: true,
        minlength: 10,
        maxlength: 10
        },
        servicename: "required",
        email: {
        required: true,
        email: true,
        },
        budget: "required",
        starttime: "required",
        prequirement: "required",
        projectbrief: {
        required: true,
        minlength: 25,
        },
        },
        messages: {
        firstname: "Please enter your First Name",
        lastname: "Please enter your Last Name",
        /*phone: "Please enter your Phone Number",*/
        phone: {
        required: "Please enter phone number",
        digits: "Please enter valid phone number",
        minlength: "Please enter valid phone number",
        maxlength: "Please enter valid phone number",
        },
        servicename: "Please select a Service",
        email: "Please enter a valid Email Address",
        budget: "Please select a valid Budget",
        starttime: "Please select Start Time",
        prequirement: "Please select Requirement",
        projectbrief: {
        required: "Please write brief Project Description",
        minlength: "Please write at least 25 characters",
        },
        },

        submitHandler: function (Projectform) {
        form.submit();

        },
        });
        /*PROJECT DETAILS FORM END*/



        })(jQuery);
        function CareerOption() {
        $.ajax({
        url: "/Avidclan/GetCareerOption",
        type: "GET",
        dataType: "json",
        success: function (data) {
        $.each(data, function (index, item) {
        var opt = new Option(item.JobTitle, item.Id);
        $('.dropdownjobtitle').append(opt);

        });
        }
        })
        }
        function ClearModalPopup() {
        $('ul.list').empty();
        }
        function GetBlogStatusByName(name) {
        $.ajax({
        url: '@Url.Action("GetBlogStatusByName", "Avidclan")',
        contentType: 'application/json',
        data: { name: name },
        type: "GET",
        success: function (result) {
        if (result != null) {
        if (result.Status) {
        $(".cls-menu-blog").css("display", "block");
        }
        else {
        $(".cls-menu-blog").css("display", "none");
        }
        }
        else {
        $(".cls-menu-blog").css("display", "none");
        }

        },
        error: function () {
        alert('failure');
        }
        });
        }
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>

