@*@using reCAPTCHA.MVC*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    @RenderSection("AdditionalMeta", false)

    <meta name="msvalidate.01" content="C6EA7291CCD22012F734D3C6649F2F3F" />
    <!-- Google Tag Manager -->
    @*<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5HZ8ZV4Q');</script>*@
    <!-- End Google Tag Manager -->


    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5HZ8ZV4Q');</script>
    <!-- End Google Tag Manager -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="~/assets/css/Avidclan/bootstrap-custom.css" />
    <link rel="stylesheet" media="all" href="~/assets/css/Avidclan/home_old.css" />

    @*<link rel="stylesheet" media="all" href="~/assets/css/swiper.min.css" />*@
    <link rel="stylesheet" media="all" href="~/assets/css/all-min.css" />

    @*<link rel="stylesheet" media="all" href="~/assets/css/Avidclan/home.min.css" />*@

    <link rel="stylesheet" href="~/assets/css/jquery.fancybox.min.css" media="print" onload="this.media='all';">
    <link rel="stylesheet" media="all" href="@Styles.Url("~/Content/css")" />
    <link href="/assets/css/intlTelInput.css" rel="stylesheet" />
    <style>
        p.text.fs-5 {
            font-size: 1.25rem;
            margin: 1rem 0;
            line-height: 1.5
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HZ8ZV4Q" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HZ8ZV4Q"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page-wrapper">
        <!-- Preloader -->
        @*<div class="loader-wrap">
                <div class="preloader"></div>
                <div class="layer layer-one"><span class="overlay"></span></div>
                <div class="layer layer-two"><span class="overlay"></span></div>
                <div class="layer layer-three"><span class="overlay"></span></div>
            </div>*@
        <!-- Main Header -->
        <header class="main-header header-upper header-style-one" style="z-index: 99 !important;">
            <nav class="navbar navbar-expand-lg bg-white custom-new-shadow w-100 position-fixed" style="z-index: 99 !important;">
                <div class="container d-flex align-items-center justify-content-between">

                    <a class="navbar-brand" href="/">
                        <img loading="lazy" height="55" width="195" src="~/assets/images/avidclan_logo.svg" alt="Logo">
                    </a>
                    <button class="navbar-toggler shadow-none rounded-circle p-2" style="border: none;" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" id="menuToggle">
                            <img src="~/assets/images/imagenew/menu.png" alt="Menu" class="img-fluid" id="menuIcon">
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-0 gap-xl-4 gap-lg-2 fs-lg-5 fs-6 fw-medium px-3 py-2 py-lg-0 p-lg-0">

                            <li class="nav-item border_b dropdown pb-2 mb-2 mb-lg-0 position-relative">
                                <!-- Services link (always redirects) -->
                                <a class="d-inline-block fw-semibold nav-link active custom-fs-18" href="/services/">
                                    Services
                                </a>

                                <!-- Mobile‐only arrow at the far right, inline with Services -->
                                <span class="d-lg-none mobile-arrow-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false">
                                    <img src="~/assets/images/imagenew/arrow-up-black.svg"
                                         alt="toggle"
                                         class="arrow-icon-img"
                                         width="20"
                                         height="20" />
                                </span>



                                <!-- Decorative red square -->
                                <div class="red-square-box"></div>

                                <!-- Mega-menu dropdown -->
                                <div class="dropdown-menu sub_menu w-100 bg-white p-3 p-lg-5 pt-lg-5">
                                    <div class="row flex-wrap w-100 row-gap-3">
                                        <!-- Web Development -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/web-development-company/">Web Development</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/web-development-company#custom-web-application-development">Custom Development</a></li>
                                                <li><a href="/web-development-company#full-stack-development">Full Stack Development</a></li>
                                                <li><a href="/web-development-company#enterprise-web-solutions">Enterprise Web Solutions</a></li>
                                                <li><a href="/web-development-company#progressive-web-app-development">PWA Development</a></li>
                                                <li><a href="/web-development-company#modern-e-commerce-solutionst">E-Commerce Development</a></li>
                                                <li><a href="/web-development-company#cms-development">CMS Development</a></li>
                                            </ul>
                                        </div>

                                        <!-- Mobile Apps -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/mobile-app-development-company/">Mobile Apps</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/mobile-app-development-company#custom-mobile-app-development">Custom App Development</a></li>
                                                <li><a href="/mobile-app-development-company#ios-app-development">iOS App Development</a></li>
                                                <li><a href="/mobile-app-development-company#android-app-development">Android App Development</a></li>
                                                <li><a href="/mobile-app-development-company#cross-platform-development">Cross-Platform App</a></li>
                                                <li><a href="/mobile-app-development-company#flutter-app-development">Flutter App Development</a></li>
                                                <li><a href="/mobile-app-development-company#react-native-app-development">React Native App </a></li>
                                                <li><a href="/mobile-app-development-company#app-modernization-&-maintenance">App Modernization</a></li>
                                            </ul>
                                        </div>

                                        <!-- Design -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/ui-ux-design-company/">Design</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/ui-ux-design-company#user-research-&-analysis">User Research & Analysis</a></li>
                                                <li><a href="/ui-ux-design-company#wireframing-&-prototyping">Wireframing & Prototyping</a></li>
                                                <li><a href="/ui-ux-design-company#ux-strategy-&-consulting">UX Strategy & Consulting </a></li>
                                                <li><a href="/ui-ux-design-company#custom-uiux-design">Custom UI/UX Design</a></li>
                                                <li><a href="/ui-ux-design-company#mobile-uiux-design">Mobile UI/UX Design</a></li>
                                                <li><a href="/ui-ux-design-company#web-app-uiux-design">Web App UI/UX Design</a></li>
                                                <li><a href="/ui-ux-design-company#uiux-modernization-&-redesign">Modernization & Redesign</a></li>
                                            </ul>
                                        </div>

                                        <!-- QA -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/quality-assurance-services/">QA</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/quality-assurance-services#manual-software-testing">Manual Software Testing</a></li>
                                                <li><a href="/quality-assurance-services#mobile-qa-services">Mobile QA Services</a></li>
                                                <li><a href="/quality-assurance-services#web-automation-testing">Web Automation Testing</a></li>
                                                <li><a href="/quality-assurance-services#api-testing-automation">API Testing Automation</a></li>

                                                <li><a href="/quality-assurance-services#outsourced-qa-&-managed-services">Outsourced QA Services</a></li>
                                                <li><a href="/quality-assurance-services#performance-&-load-testing">Performance & Load Testing</a></li>
                                            </ul>
                                        </div>

                                        <!-- IoT -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/iot-service-providers/">IoT</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/iot-service-providers#iot-device-integration">IoT Device Integration</a></li>
                                                <li><a href="/iot-service-providers#iot-mobile-app-development">IoT App Development</a></li>
                                                <li><a href="/iot-service-providers#iot-cloud-&-data-management">IoT Cloud Management</a></li>
                                                <li><a href="/iot-service-providers#industrial-iot-solutions">Industrial IoT Solutions</a></li>
                                                <li><a href="/iot-service-providers#iot-security-&-compliance">IoT Security & Compliance</a></li>
                                            </ul>
                                        </div>

                                        <!-- AI -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/ai-development-company">Artificial Intelligence</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/ai-development-company#custom-ai-solutions-development">Custom AI Solutions</a></li>
                                                <li><a href="/ai-development-company#end-to-end-ai-system-development">End-to-End Development</a></li>
                                                <li><a href="/ai-development-company#generative-ai-solutions">Generative AI Solutions</a></li>
                                                <li><a href="/ai-development-company#ai-integration-and-deployment">Integration & Deployment </a></li>
                                                <li><a href="/ai-development-company#machine-learning-solutions">Machine Learning Solutions</a></li>
                                                <li><a href="/ai-development-company#ai-powered-chatbots-&-virtual-assistants">Chatbot Development </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item border_b dropdown pb-2 mb-2 mb-lg-0 position-relative">
                                <!-- Technologies link (always redirects) -->
                                <a class="d-inline-block fw-semibold nav-link active custom-fs-18" href="/technologies/">
                                    Technologies
                                </a>

                                <!-- Mobile‐only arrow at the far right, inline with Technologies -->
                                <span class="d-lg-none mobile-arrow-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false">
                                    <img src="~/assets/images/imagenew/arrow-up-black.svg"
                                         alt="toggle"
                                         class="arrow-icon-img"
                                         width="20"
                                         height="20" />
                                </span>

                                <!-- Decorative red square -->
                                <div class="red-square-box"></div>

                                <!-- Mega-menu dropdown -->
                                <div class="dropdown-menu sub_menu w-100 bg-white p-3 p-lg-5 pt-lg-5">
                                    <div class="row flex-wrap w-100 row-gap-3">
                                        <!-- Front End -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="#">Front End</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/angular-development-company/">Angular</a></li>
                                                <li><a href="/reactjs-development-services/">ReactJs</a></li>
                                                <li><a href="/vuejs-development-company/">Vue</a></li>
                                                <li><a href="/typescript-web-development/">TypeScript</a></li>
                                                <li><a href="/html5-development-services/">HTML 5</a></li>
                                            </ul>
                                        </div>

                                        <!-- Backend -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="#">Backend</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/dot-net-development-company/">.NET</a></li>
                                                <li><a href="/java-development-company/">Java</a></li>
                                                <li><a href="/php-development-company/">PHP</a></li>
                                                <li><a href="/nodejs-development-company/">Node</a></li>
                                            </ul>
                                        </div>

                                        <!-- Mobile -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="#">Mobile</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/ios-app-development-services/">iOS</a></li>
                                                <li><a href="/android-app-development-company/">Android</a></li>
                                                <li><a href="/react-native-app-development-company/">React Native</a></li>
                                                <li><a href="/flutter-app-development-company/">Flutter</a></li>
                                                <li><a href="/ionic-app-development-company/">Ionic</a></li>
                                                <li><a href="/xamarin-development-company/">Xamarin</a></li>
                                            </ul>
                                        </div>

                                        <!-- Infra and DevOps -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="#">Infra and DevOps</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/aws-development-services/">AWS</a></li>
                                                <li><a href="/google-cloud-platform-services/">Google Cloud</a></li>
                                                <li><a href="/microsoft-azure-devops/">Azure</a></li>
                                                <li><a href="/selenium-automation-testing-services/">Selenium</a></li>
                                            </ul>
                                        </div>

                                        <!-- Database -->
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="#">Database</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/microsoft-sql-server-integration-services/">MS SQL</a></li>
                                                <li><a href="/mysql-development-company/">MySQL</a></li>
                                                <li><a href="/postgresql-database-management/">PostgreSQL</a></li>
                                                <li><a href="/firebase-development-company/">Firebase</a></li>
                                                <li><a href="/mongodb-development-services/">MongoDB</a></li>
                                                <li><a href="/redis-database-development-company/">Redis</a></li>
                                                <li><a href="/microsoft-azure-cosmos-db/">Azure Cosmos DB</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item border_b dropdown pb-2 mb-2 mb-lg-0 position-relative">
                                <!-- Hire Resources link -->
                                <a class="d-inline-block fw-semibold nav-link active custom-fs-18" href="#">
                                    Hire resources
                                </a>

                                <!-- Mobile-only arrow -->
                                <span class="d-lg-none mobile-arrow-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/images/imagenew/arrow-up-black.svg" alt="toggle" class="arrow-icon-img" width="20" height="20" />
                                </span>

                                <!-- Decorative red square -->
                                <div class="red-square-box"></div>

                                <!-- Dropdown menu -->
                                <div class="dropdown-menu hire_box w-100 bg-white p-3 p-lg-3 pt-lg-3">
                                    <h5 class="mb-0 mb-md-2">
                                        <a class="text_dark fw-semibold" href="#">Hire Skilled Resources</a>
                                    </h5>
                                    <ul>
                                        <li>
                                            <a href="/hire-custom-software-developers/">Hire Custom Software Developers</a>
                                        </li>
                                        <li>
                                            <a href="/hire-web-app-developers/">Hire Web App Developer</a>
                                        </li>
                                        <li>
                                            <a href="/hire-mobile-app-developers/">Hire Mobile App Developer</a>
                                        </li>
                                        <li>
                                            <a href="/hire-dot-net-developers/">Hire .NET Developers</a>
                                        </li>
                                        <li>
                                            <a href="/hire-ui-ux-designers/">Hire UI/UX Designers</a>
                                        </li>
                                        <li class="custom-padding-2">
                                            <a href="/hire-ai-developers/">Hire AI Developers</a>
                                        </li>
                                        <li class="custom-padding-2">
                                            <a href="/hire-angular-developers/">Hire Angular Developers</a>
                                        </li>
                                        <li class="custom-padding-2">
                                            <a href="/hire-reactjs-developers/">Hire ReactJS Developers</a>
                                        </li>
                                        <li class="custom-padding-2">
                                            <a href="/hire-ml-developers/">Hire Machine Learning Developers</a>
                                        </li>
                                        <li>
                                            <a href="/hire-qa-automation-tester/">Hire Automation Tester</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item border_b dropdown pb-2 mb-2 mb-lg-0 position-relative">
                                <!-- Company link -->
                                <a class="d-inline-block fw-semibold nav-link active custom-fs-18" href="#">
                                    Company
                                </a>

                                <!-- Mobile-only arrow -->
                                <span class="d-lg-none mobile-arrow-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/assets/images/imagenew/arrow-up-black.svg" alt="toggle" class="arrow-icon-img" width="20" height="20" />
                                </span>

                                <!-- Decorative red square -->
                                <div class="red-square-box"></div>

                                <!-- Dropdown menu -->
                                <div class="dropdown-menu company_box w-100 bg-white p-3 p-lg-3 pt-lg-3">
                                    <div class="row flex-wrap w-100 row-gap-3">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/about-us/">About Us</a>
                                            </h5>
                                            <ul>
                                                <li>
                                                    <a href="/about-us/">About Avidclan Technologies</a>
                                                </li>
                                                <li>
                                                    <a href="/countries-we-serve/">Countries We Serve</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="/career/">Careers</a>
                                            </h5>
                                            <ul>
                                                <li>
                                                    <a href="/career#career-section/">Current Openings</a>
                                                </li>
                                                <li>
                                                    <a href="/life-at-avidclan-technologies/">Life at Avidclan Technologies</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <h5 class="mb-0 mb-md-2">
                                                <a class="text_dark fw-semibold" href="">Resources</a>
                                            </h5>
                                            <ul>
                                                <li><a href="/blog/">Blogs</a></li>
                                                <li><a href="/case-studies/">Case Studies</a></li>
                                                <li><a href="/company-news/top-logistics-software-development-company-2025-by-techreviewer/">Company News</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item border_b pb-2 mb-2 mb-lg-0">
                                <a class="fw-semibold nav-link active custom-fs-18" aria-current="page"
                                   href="/portfolio/">Portfolio</a>
                            </li>

                            <li class="nav-item border_b pb-2 mb-2 mb-lg-0 d-lg-none">
                                <a class="fw-semibold nav-link active" href="/contact-us/">Contact Us</a>
                            </li>


                            <li class="nav-item d-none d-lg-block ms-lg-2">
                                <a class="nav-link btn btn-primary fw-bold rounded-5 custom-btn-padding shadow-none"
                                   href="/contact-us/">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                             aria-hidden="true" role="img" class="iconify iconify--ion me-2" width="25"
                                             height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"
                                             data-icon="ion:call-sharp" data-height="25">
                                            <path fill="currentColor"
                                                  d="M478.94 370.14c-5.22-5.56-23.65-22-57.53-43.75c-34.13-21.94-59.3-35.62-66.52-38.81a3.83 3.83 0 0 0-3.92.49c-11.63 9.07-31.21 25.73-32.26 26.63c-6.78 5.81-6.78 5.81-12.33 4c-9.76-3.2-40.08-19.3-66.5-45.78s-43.35-57.55-46.55-67.3c-1.83-5.56-1.83-5.56 4-12.34c.9-1.05 17.57-20.63 26.64-32.25a3.83 3.83 0 0 0 .49-3.92c-3.19-7.23-16.87-32.39-38.81-66.52c-21.78-33.87-38.2-52.3-43.76-57.52a3.9 3.9 0 0 0-3.89-.87a322.4 322.4 0 0 0-56 25.45A338 338 0 0 0 33.35 92a3.83 3.83 0 0 0-1.26 3.74c2.09 9.74 12.08 50.4 43.08 106.72c31.63 57.48 53.55 86.93 100 133.22S252 405.21 309.54 436.84c56.32 31 97 41 106.72 43.07a3.86 3.86 0 0 0 3.75-1.26A337.7 337.7 0 0 0 454.35 430a322.7 322.7 0 0 0 25.45-56a3.9 3.9 0 0 0-.86-3.86">
                                            </path>
                                        </svg> Contact Us
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- WhatsApp Chat Widget -->
            <div id="whatsapp-widget">
                <div id="whatsapp-icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Icon">
                </div>
            </div>

            <style>
                #whatsapp-widget {
                    position: fixed;
                    bottom: 100px;
                    right: 20px;
                    z-index: 9999;
                }

                #whatsapp-icon {
                    background: #25D366;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }

                    #whatsapp-icon:hover {
                        transform: scale(1.1);
                    }

                    #whatsapp-icon img {
                        width: 35px;
                        height: 35px;
                    }
            </style>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const icon = document.getElementById("whatsapp-icon");
                    icon.addEventListener("click", () => {
                        const phone = "918200968896"; // your WhatsApp number (no + or spaces)
                        const message = "Hello";
                        const encodedMessage = encodeURIComponent(message);

                        // Use the reliable API URL
                        const url = `https://api.whatsapp.com/send?phone=${phone}&text=${encodedMessage}`;

                        // Open in new tab/window
                        window.open(url, "_blank");
                    });
                });
            </script>

        </header>
        @RenderBody()
    </div>
    <button id="backToTop" class="back-to-top position-fixed background-primary rounded-circle p-2" style="z-index:99;">
        <img src="~/assets/images/imagenew/arrow-up (1).svg" alt="Back to Top" class="back-to-top-img" />
    </button>

    <!-- Custom Scripts -->
    <script src="/assets/js/script.js" defer></script>
    <script src="/assets/js/iconify.min.js" defer></script>

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Swiper -->
    <script src="~/assets/js/swiper-bundle-min.min.js"></script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <!-- Owl Carousel -->
    <script src="~/assets/js/Avidclan/owl.carousel.min.js"></script>
    <script src="~/assets/js/intlTelInput.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/additional-methods.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: true,
            navText: [
                '<img src="/assets/images/imagenew/chevron-left.svg" alt="Left" width="50">',
                '<img src="/assets/images/imagenew/chevron-right.svg"" alt="Right" width="50">'
            ],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 3
                },
                1200: {
                    items: 6
                }
            }
        });

    </script>
    <script type="text/javascript">
     // temprory hide usa location address from the footer
     window.onload = function () {
         document.querySelector('.address-usa').remove();  // This will remove the element from the DOM entirely
     };
     (function ($) {
     "use strict";
     $(".numberonly").keypress(function (e) {
     var charCode = e.which ? e.which : event.keyCode;

     if (String.fromCharCode(charCode).match(/[^0-9]/g)) return false;
     });

     var code = "+1";
     $("#phone").val(code);

     $("#phone").intlTelInput({
     utilsScript: "/assets/js/utils.js",
     separateDialCode: true,
     initialCountry: "us",
     });
         $("#mobilet").val(code);
         $("#mobilet").intlTelInput({
             utilsScript: "/assets/js/utils.js",
             separateDialCode: true,
             initialCountry: "us",
         });

     $(".contactno").keypress(function (e) {
     var charCode = e.which ? e.which : event.keyCode;
     if (String.fromCharCode(charCode).match(/[^0-9]/g)) return false;
     });






     /*CONTACT FORM START*/
     var Contactform = $(".contact_form"),
     message = $(".contact_msg"),
     form_data;

     function done_func(response) {
     console.log(response);
         //if (response == "Sent") {
         window.location.replace("/contact-us-thank-you");
     grecaptcha.reset();
     setTimeout(function () {
     message.fadeOut();
     }, 3000);
     Contactform.find('input:not([type="submit"]), textarea').val("");
     //}

     $('#button-spinner').hide();

     }

     Contactform.submit(function (e) {

     e.preventDefault();
     var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
     $("#code").val(countrycode);

     form_data = $(this).serialize();

     if (!$(".contact_form").valid()) {
     return false;
     }
     //var response = grecaptcha.getResponse();
     //if (response.length == 0) {
     ////reCaptcha not verified
     //alert("Please Verify Captcha!");
     //e.preventDefault();
     //return false;
     //}


     $('#button-spinner').show();
     $('#sbmtbtn').attr("disabled", true);
     var data = {
     FirstName: $("#firstname").val(),
     LastName: $("#lastname").val(),
     Email: $("#email").val(),
     Phoneumber: $("#phone").val(),
     Message: $("#message").val(),
     CountryCode: countrycode,
     }


     $.ajax({
     type: "POST",
     url: "/api/Mail/SendContactDetails",
     contentType: 'application/json',
     data: JSON.stringify(data),
     }).done(done_func);
     });

     $("form[name='contactinfo']").validate({
     errorPlacement: function (error, element) {
     if ($(element).is("#phone")) {
     element.closest(".intl-tel-input").after(error);
     } else {
     error.insertAfter(element);
     }
     },
     rules: {
     firstname: "required",
     lastname: "required",
     email: {
     required: true,
     email: true,
     },
     phone: {
     required: true,
     digits: true,
     minlength: 10,
     maxlength: 10
     },
     message: {
     required: true,
     minlength: 25,
     },
     fcaptcha: {
     required: true,
     },
     },
     messages: {
     firstname: "Please enter your first name",
     lastname: "Please enter your last name",
     phone: {
     required: "Please enter phone number",
     digits: "Please enter valid phone number",
     minlength: "Please enter valid phone number",
     maxlength: "Please enter valid phone number",
     },
     email: {
     required: "Please enter email address",
     email: "Please enter a valid email address.",
     },
     message: {
     required: "Please write your message",
     minlength: "Please write at least 25 characters",
     },
     fcaptcha: {
     required: "Please verify Captcha",
     },
     },
     submitHandler: function (Contactform) {
     /*Contactform.submit();*/
     Contactform.submit();
     },
     });

     /*CONTACT FORM END*/

     /*Contact Us FORM START*/
     var Contactform = $("#form_contact"),
         message = $(".contact_msg"),
         form_data;

     function done_func(response) {
         console.log(response);
         if (response == "Sent") {
             window.location.replace("/contact-us-thank-you");
         /*grecaptcha.reset();*/
         setTimeout(function () {
             message.fadeOut();
         }, 3000);
         Contactform.find('input:not([type="submit"]), textarea').val("");
         }

         $('#button-spinner').hide();

     }

     Contactform.submit(function (e) {
         e.preventDefault();
         var countrycode = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
         $("#CountryCode").val(countrycode);

         form_data = $(this).serialize();

         if (!$(".form_contact").valid()) {
             return false;
         }
         //var response = grecaptcha.getResponse();
         //if (response.length == 0) {
         ////reCaptcha not verified
         //alert("Please Verify Captcha!");
         //e.preventDefault();
         //return false;
         //}


         $('#button-spinner').show();
         $('#btnSubmit').attr("disabled", true);
         var data = {
             FirstName: $("#firstname").val(),
             /*LastName: $("#lastname").val(),*/
             Email: $("#email").val(),
             Phoneumber: $("#phone").val(),
             Message: $("#message").val(),
             CountryCode: countrycode,
         }

         $.ajax({
             type: "POST",
             url: "/api/Mail/SendContactDetails",
             contentType: 'application/json',
             data: JSON.stringify(data),
         }).done(done_func);
     });

     $("form[name='contactDetail']").validate({
         errorPlacement: function (error, element) {
             if ($(element).is("#phone")) {
                 element.closest(".intl-tel-input").after(error);
             } else {
                 error.insertAfter(element);
             }
         },
         rules: {
             firstname: "required",
             email: {
                 required: true,
                 email: true,
             },
             phone: {
                 required: true,
                 digits: true,
                 minlength: 10,
                 maxlength: 10
             },
             message: {
                 required: true,
                 minlength: 25,
             }
         },
         messages: {
             firstname: "Please enter your first name",
             email: {
                 required: "Please enter email address",
                 email: "Please enter a valid email address.",
             },
             phone: {
                 required: "Please enter phone number",
                 digits: "Please enter valid phone number",
                 minlength: "Please enter valid phone number",
                 maxlength: "Please enter valid phone number",
             },
             message: {
                 required: "Please write your message",
                 minlength: "Please write at least 25 characters",
             }
         },
         submitHandler: function (Contactform) {
             /*Contactform.submit();*/
             Contactform.submit();
         },
     });

     /*Contact Us FORM END*/



     /*APPLICATION FORM START*/

     var Candidateform = $(".career_form"),
     message = $(".career_msg"),
     form_data;


         function Application_Form(response) {

     if (response == "Sent") {
         window.location.replace("/career-thank-you");
     message.fadeIn().removeClass("alert-danger").addClass("alert-success");
     message.text(response);
     grecaptcha.reset();
     setTimeout(function () {
     message.fadeOut();
     }, 3000);
     Candidateform.find('input:not([type="submit"]), textarea').val("");
     }
     $('#button-spinner').hide();
     }

     Candidateform.submit(function (e) {

     e.preventDefault();

     if (!$(".career_form").valid()) {
     return false;
     }

     //var response = grecaptcha.getResponse();
     //if (response.length == 0) {
     //alert("Please Verify Captcha!");
     //evt.preventDefault();
     //return false;
     //}
     $('#button-spinner').show();
     $('#btnSendEmail').attr("disabled",true);
     //var Position = $("#caseOption").val();
     var Position = $("#caseOption option:selected").text();
     var Name = $("#name").val();
     var Email = $("#email").val();
     var ContactNumber = $("#contactno").val();
     var Resume = $("#attachmentFile").get(0);
     var files = Resume.files;
     var Message = $("#message").val();

     var fileData = new FormData();
     fileData.append("Resume", files[0]);
     fileData.append('Name', Name);
     fileData.append('Email', Email);
     fileData.append('ContactNumber', ContactNumber);
     fileData.append('Message', Message);
     fileData.append('Position', Position);

     return $.ajax({
     type: "POST",
     url: "/api/Mail/SendCandidateDetails",
     data: fileData,
     cache: false,
     contentType: false,
     processData: false,
     }).done(Application_Form);
     });

     $("form[name='career_form_data']").validate({
     errorPlacement: function (error, element) {
     if ($(element).is("select")) {
     element.next().after(error);
     } else {
     error.insertAfter(element);
     }
     },

     debug: true,
     success: "valid",
     rules: {
     caseOption: "required",
     name: "required",
     email: {
     required: true,
     email: true,
     },
     contactno: {
     required: true,
     digits: true,
     minlength: 10,
     maxlength: 10,
     },
     attachmentFile: {
     required: true,
     extension: "pdf,doc,docx",
     },
     message: {
     required: true,
     },
     },
     messages: {
     caseOption: "Please select position",
     name: "Please enter your Name",
     contactno: {
     required: "Please enter phone number",
     digits: "Please enter valid phone number",
     minlength: "Please enter valid phone number",
     maxlength: "Please enter valid phone number"
     },
     email: {
     required: "Please enter email address",
     email: "Please enter a valid email address.",
     },
     attachmentFile: {
     required: "Please choose a file",
     extension: "Please choose a valid file type",
     },
     message: {
     required: "Please write your message",
     },
     },
     submitHandler: function (Candidateform) {
     Candidateform.submit();
     },
     });


     /*APPLICATION FORM END*/



     /*PROJECT DETAILS FORM START*/

     var Projectform = $(".project_form"),
     message = $(".project_msg"),
     form_data;

     function ProjectSuccess(response) {
     if (response == "Sent") {
         window.location.replace("/services-thank-you");
     message.fadeIn().removeClass("alert-danger").addClass("alert-success");
     message.text(response);
     grecaptcha.reset();
     setTimeout(function () {
     message.fadeOut();
     }, 3000);
     Projectform.find('input:not([type="submit"]), textarea').val("");
     }

     $('#button-spinner').hide();
     }

     Projectform.submit(function (e) {
     e.preventDefault();

     var code = $("#phone").intlTelInput("getSelectedCountryData").dialCode;
     $("#scode").val(code);

     form_data = $(this).serialize();
     if (!$(".project_form").valid()) {
     return false;
     }
     //var response = grecaptcha.getResponse();
     //if (response.length == 0) {
     ////reCaptcha not verified
     //alert("Please Verify Captcha!");
     //evt.preventDefault();
     //return false;
     //}

     $('#button-spinner').show();
     $('#btnSendEmail').attr("disabled", true);
     var Projectdata = {
     FirstName: $("#firstname").val(),
     LastName: $("#lastname").val(),
     Email: $("#email").val(),
     Phone: $("#phone").val(),
     Service: $("#servicename").val(),
     Budget: $("#budget").val(),
     StartDate: $("#starttime").val(),
     Requirement: $("#prequirement").val(),
     ProjectDetails: $("#projectbrief").val(),
     CountryCode: code,
     }

     $.ajax({
     type: "POST",
     url: "/api/Mail/SendProjectDetails",
     contentType: 'application/json',
     data: JSON.stringify(Projectdata),
     }).done(ProjectSuccess);
     });


     $("form[name='project_form_data']").validate({
     errorPlacement: function (error, element) {
     if ($(element).is("#phone")) {
     element.closest(".intl-tel-input").after(error);
     } else if (element.attr("class").indexOf("selectpicker") != -1) {
     var mpar = $(element).closest("div.bootstrap-select");
     error.insertAfter($(".dropdown-toggle", mpar));
     } else {
     error.insertAfter(element);
     }
     },


     rules: {
     firstname: "required",
     lastname: "required",
     phone:
     {
     required: true,
     digits: true,
     minlength: 10,
     maxlength: 10
     },
     servicename: "required",
     email: {
     required: true,
     email: true,
     },
     budget: "required",
     starttime: "required",
     prequirement: "required",
     projectbrief: {
     required: true,
     minlength: 25,
     },
     },
     messages: {
     firstname: "Please enter your first name",
     lastname: "Please enter your last name",
     /*phone: "Please enter your Phone Number",*/
     phone: {
     required: "Please enter phone number",
     digits: "Please enter valid phone number",
     minlength: "Please enter valid phone number",
     maxlength: "Please enter valid phone number",
     },
     servicename: "Please select a Service",
     email: "Please enter a valid Email Address",
     budget: "Please select a valid Budget",
     starttime: "Please select Start Time",
     prequirement: "Please select Requirement",
     projectbrief: {
     required: "Please write brief Project Description",
     minlength: "Please write at least 25 characters",
     },
     },

     submitHandler: function (Projectform) {
     form.submit();

     },
     });
     /*PROJECT DETAILS FORM END*/



     })(jQuery);
     function CareerOption() {
     $.ajax({
     url: "/Avidclan/GetCareerOption",
     type: "GET",
     dataType: "json",
     success: function (data) {
     $.each(data, function (index, item) {
     var opt = new Option(item.JobTitle, item.Id);
     $('.dropdownjobtitle').append(opt);

     });
     }
     })
     }
     function ClearModalPopup() {
     $('ul.list').empty();
     }
     function GetBlogStatusByName(name) {
     $.ajax({
     url: '@Url.Action("GetBlogStatusByName", "Avidclan")',
     contentType: 'application/json',
     data: { name: name },
     type: "GET",
     success: function (result) {
     if (result != null) {
     if (result.Status) {
     $(".cls-menu-blog").css("display", "block");
     }
     else {
     $(".cls-menu-blog").css("display", "none");
     }
     }
     else {
     $(".cls-menu-blog").css("display", "none");
     }

     },
     error: function () {
     alert('failure');
     }
     });
     }


    </script>


    @RenderSection("scripts", required: false)

</body>
</html>

