<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    @{
        ViewBag.Title = "HiredotNetDevelopers";
    }


    @{
        ViewBag.Title = "Index";
        var context = "@context";
        var type = "@type";
        var id = "@id";
        var graph = "@graph";
    }

    @section AdditionalMeta
{
        <meta property="og:url" content="https://www.avidclan.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies">
        <meta property="og:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <meta property="og:image" content="https://www.avidclan.com/assets/images/logo.svg">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="https://twitter.com/AvidclanT">
        <meta name="twitter:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies">
        <meta name="twitter:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <meta name="twitter:image" content=" https://twitter.com/AvidclanT/header_photo ">

        <title>Custom Web and Mobile App Development Company | Avidclan Technologies</title>
        <meta name="description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <link rel="canonical" href="https://www.avidclan.com/" />

        <link href="~/assets/css/swiper-bundle-min.css" rel="stylesheet" />
        <link href="~/assets/css/Avidclan/hiringpages.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="~/assets/css/Avidclan/blog.css" />
        <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Avidclan Technologies",
        "alternateName": "Avidclan Technologies",
        "url": "https://www.avidclan.com/",
        "logo": "https://www.avidclan.com/assets/images/logo.svg",
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "955-845-0670",
        "contactType": "sales",
        "areaServed": "IN",
        "availableLanguage": ["en","Hindi"]
        },
        "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
        ]
    }
        </script>

        <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Avidclan Technologies",
      "image": "https://www.avidclan.com/assets/images/logo.svg",
      "email": "solutions@avidclan.com",
      "@id": "https://www.avidclan.com/",
      "url": "https://www.avidclan.com/",
      "telephone": "955-845-0670",
      "priceRange": "$$$",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1206, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway",
        "addressLocality": "Ahmedabad",
        "postalCode": "380015",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 23.0270316,
        "longitude": 72.5062509
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Wednesday",
          "Tuesday",
          "Friday",
          "Thursday"
        ],
        "opens": "10:30",
        "closes": "19:30"
      },
     "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
      ]
    }
        </script>
        <script type="text/javascript">
            $('#btngetstarted').click(function () {
                $('#btnpricing').fadeOut(250).fadeIn(250);
            });
        </script>
    }
</head>
<body>
    <!-- Banner Section -->
    <section class="banner-section-two">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="pl-3">
                        <h1>HIRE DEDICATED .NET DEVELOPERS</h1>
                        <h3>Unleash the power of the .NET Development with our expert Solutions</h3>
                        <p class="text">
                            At Avidclan Technologies, we are a premier .NET development company with a proven legacy of delivering innovative solutions for businesses of all sizes, from web to desktop applications. Transform your business with our expert team, which surpasses your expectations by harnessing the full potential of the .NET framework to ensure your projects, whether enterprise-grade software or cutting-edge applications.
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 text-center">
                    <img src="~/assets/images/hiringpages/Illustration.png" width="400" height="400" alt="development" />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex">
                    <button class="btn-tech-title btn-techtitle-font me-4" style=" /* display: inline-block; */ ">
                        Get Started
                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                    </button>
                    <button class="btn-banner-title btn-title-font">Check our pricing plans</button>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section-->
    <!--Avidclan Banner div Section-->
    <section class="custom-bg py-4" style="margin-top: 14px">
        <!-- Background color applied to the section -->
        <div class="container">
            <div class="row text-center">
                <!-- Centered content -->
                <div class="col-3 col-md-3">
                    <!-- 2 columns on small screens, 4 on medium and larger screens -->
                    <div class="p-3">
                        <!-- Light background for the image container -->
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 1" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 2" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 3" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 4" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Avidclan div Section-->
    <!--    our services Section start-->

    

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Hire our .NET Developers to build Tailored Business Solutions </h2>
                                <hr class="hr-cls center-block" />
                                <p class="text m-0 header_description">At Avidclan Technologies, we harness the power of .NET Technology to create scalable, secure, high-performance applications. From enterprise solutions to dynamic web applications, Our skilled .NET developers provide customized solutions for web, desktop, and cloud platforms that leverage productivity and business growth.</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">.Net Microservices and Docker Containerization Deployment</h4>
                            <p class="custom-card-content">
                                Hire experts in .NET Microservices and Docker Containerization. We deploy scalable, efficient solutions that streamline operations, enhance performance, and ensure seamless integration for your business needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">End-to-End .NET Core Development</h4>
                            <p class="custom-card-content">
                                We offer a full-cycle .NET Core development, from development to deployment. Providing scalable, robust and cross-platform applications as per your needs and integrate seamlessly into your existing systems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">.NET Consultancy Services</h4>
                            <p class="custom-card-content">
                                Our .NET consultants provides you  expert guidance and insightful strategies to help you make informed decisions regarding optimization, application performance, security, and alignment with your business goals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">Migration and Integration services</h4>
                            <p class="custom-card-content">
                                Migrate and Integrate your legacy systems to .NET Framework with cloud solutions. Our .Net Developers ensure smooth transitions, enhanced performance and efficient data synchronization, leveraging .NET’s power and cloud scalability for optimal results.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">Enterprise App Development</h4>
                            <p class="custom-card-content">
                                Specializing in the development of enterprise-grade applications for businesses using .Net technology. Our products are designed to be as efficient, scalable, and integrated as possible, providing precise and dependable answers to challenging business problems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">.NET Web Application Development</h4>
                            <p class="custom-card-content">
                                We make use of. NET technologies to develop robust, scalable enterprise applications that put an emphasis on precise and dependable fulfillment of complex business requirements, seamless integration, and high performance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">.NET Maintenance and Support</h4>
                            <p class="custom-card-content">
                                As a top .NET development company, we provide comprehensive maintenance and support services that include safe, quick page loading, automated backups, error-free plugin performance, updated software versions, decreased downtime, security, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card custom-card-box">
                        <div class="card-body">
                            <h4 class="servicesubtitle">Microservices and Docker Containerization</h4>
                            <p class="custom-card-content">
                                Hire experts in .NET Microservices and Docker Containerization. We deploy scalable, efficient solutions that streamline operations, enhance performance, and ensure seamless integration for your business needs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our services Section end-->
    <!-- CTA Section start-->
    <section class="lets-talk ctasection">
        <div class="container">
            <div class="inner-block ctasection-inner-block">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="sec-title mb-0">
                            <h3 class="ctasectiontexct">"Unlock the Power of .NET for Your Next Project"</h3>
                            <div>
                                Start your project with confidence by engaging our experienced .NET developers for reliable and scalable solutions
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:8px;" align="center">
                        <div class="cta-btn-box align-items-center" align="center">
                            <a href="~/contact-us/" class="btn-style-one btn-light  d-flex align-items-center justify-content-center">
                                <span class="cta-btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Let’s Connect</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA Section end-->
    <!--Technologies section start-->
    <section class="techsection">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="avidclan_section_title text-center mb-50">
                        <div class="sec-title">
                            <h2 class="sec-title-h2">Technologies</h2>
                            <hr class="hr-cls center-block" />
                            <p class="text m-0 header_description">We exhibit integrity and transparency at the top-notch level by protecting your intellectual ideas through strict NDA rules.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sec-tech-titlediv" style="margin-top:10px;">
                    <div class="content-box tech-title-box pull-left">
                        <h4>Frameworks</h4>
                    </div>
                    <div class="content-box">
                        <p>
                            <ul class="fa-ul inline-list">
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>ASP.NET</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>WPF</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>WF</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Blazor</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>SignalR</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sec-tech-titlediv" style="margin-top:10px;">
                    <div class="content-box tech-title-box pull-left">
                        <h4>Libraries</h4>
                    </div>
                    <div class="content-box">
                        <p>
                            <ul class="fa-ul inline-list">
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>LINQ</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>ADO.NET</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>System. Data</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>AutoMapper</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Serilog</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Nlog</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sec-tech-titlediv" style="margin-top:10px;">
                    <div class="content-box tech-title-box">
                        <h4>Databases</h4>
                    </div>
                    <div class="content-box">
                        <p>
                            <ul class="fa-ul inline-list">
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>SQL Server</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Oracle</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>MY SQL</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>MongoDB</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>SignalR</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sec-tech-titlediv" style="margin-top:10px;">
                    <div class="content-box tech-title-box">
                        <h4>Tools and Utilities</h4>
                    </div>
                    <div class="content-box">
                        <p>
                            <ul class="fa-ul inline-list">
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Visual Studio</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>NuGet</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Docker</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Git Hub</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Jira</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Azure Devops</li>
                                <li style="background-color:white;"><span class="fa-li"><i class="fa-solid fa-circle fa-xs"></i></span>Docker</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 align-items-center">
                    <a>
                        <span class="btn-tech-title btn-techtitle-font">
                            Schedule a Developer Interview
                            <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--Technologies section end-->
    <!--company success section start-->
    <div class="container" style="margin-top:15px;">
        <div class="row">
            <!-- First Item -->
            <div class="col-md-6 col-12 mb-3">
                <div style="border:none;">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important;">Who are we?</h2>
                                    <hr class="hr-cls" />
                                    <p class="detail-content m-0">
                                        A mindful team of tech innovators transforming bold ideas into digital masterpieces. We at Avidclan fuse creativity with technology, crafting user-centric solutions that captivate and drive the success of global leaders
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="card-img" style="border:none;">
                        <img src="~/assets/images/hiringpages/Rectangle 128.png" class="detail-content-img" />
                    </div>
                </div>
            </div>
            <!-- Second Item -->
            <div class="col-md-3 col-12 mb-3">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <div class="detail-contentbox-dark">
                            <img src="~/assets/images/hiringpages/Office Team.svg" />
                            <div class="c-number">100+</div>
                            <p>Clients Served Globally</p>
                        </div>
                        <div class="detail-contententbox-light">
                            <img src="~/assets/images/hiringpages/Team.svg" />
                            <div class="number-style">30+</div>
                            <p>Team Strength</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third Item -->
            <div class="col-md-3 col-12 mb-3">
                <div class="card" style="border: none;">
                    <div class="card-body">
                        <div class="detail-contententbox-light">
                            <img src="~/assets/images/hiringpages/Delivered.svg" />
                            <div class="number-style">150+</div>
                            <p>Projects Accomplished</p>
                        </div>
                        <div class="detail-contentbox-dark">
                            <img src="~/assets/images/hiringpages/Satisfaction.svg" />
                            <div class="c-number">98%</div>
                            <p>Success Ratio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--company sucess section end-->
    <!--hire from avidclan section start-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img class="hireavidclanImg" src="~/assets/images/hiringpages/Rectangle 124.png" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="row">
                        <col-md-12>
                            <div class="service-block">
                                <div class="detail-section-div">
                                    <div class="avidclan_section_title text-wrap">
                                        <div class="sec-title">
                                            <h2 class="detail-title" style="padding-bottom: 0px !important;">Why Hire from Avidclan Technologies?</h2>
                                            <hr class="hr-cls" />
                                            <p class="detail-content m-0">
                                                At Avidclan we have a well-organized process that allows us to assess each talent's abilities and experience to choose the best talent to meet your needs and assist you in creating a robust, cross-platform and innovative app that will grow your company.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </col-md-12>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/dev 2.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Expert team of  Developers</h5>
                                    <p class="card-text">We exhibit integrity and transparency at the top-notch level by protecting your intellectual ideas through strict NDA rules.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/solutions.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Tailored Solutions</h5>
                                    <p class="card-text">Our custom solutions guarantee relevance and optimize the impact of your project by perfectly aligning with your business objectives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/cpo.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Cost -Performance Optimization</h5>
                                    <p class="card-text">Our primary objective is to provide economical solutions while enhancing efficiency to guarantee optimal return on investment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/legacy.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Legacy Modernization</h5>
                                    <p class="card-text">We at Avidclan Technologies skillfully upgrade legacy systems to modern .NET Framework boosting efficiency and scalability.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/track record.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Proven Track Record</h5>
                                    <p class="card-text">Our portfolio highlights successful projects across domains, delivering solutions that drive business growth, enhance productivity, and exceed expectations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card hire-avidclan-card" style="width: 18rem;">
                                <img src="~/assets/images/hiringpages/communication.svg" />
                                <div class="card-body">
                                    <h5 class="card-title hire-avidclan-card-tittle">Transparent Communication</h5>
                                    <p class="card-text">
                                        We use an agile development approach 
                                        and make sure your project has a transparent
                                        workflow , open lines of communication, and a reliable reporting system.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hire from avidclan section end-->
    <!--our pricing section start-->
    <section>
        <div class="container">
            <div class="row">
                <col-md-12>
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Our Pricing Plans</h2>
                                    <hr class="hr-cls center-block" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        "Explore our flexible pricing plans and choose the one that fits your needs. Contact us for a custom quote."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </col-md-12>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card pricing-card-light">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-light-heading">Hourly Rate</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  2 to 4 years of experience</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Dedicated developer</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Best for short-term engagement</li>
                        </ul>
                        <div class="card-body">
                            <h5 class="pricing-card-light-heading center-block">$120/month</h5>
                            <button class="btn-tech-title btn-techtitle-font me-4" style=" /* display: inline-block; */ ">
                                Hire Part-Time Developers
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card pricing-card-dark">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-dark-heading">Monthly Retain</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  2 to 4 years of experience</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Dedicated developer</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Best for short-term engagement</li>
                        </ul>
                        <div class="card-body">
                            <h5 class="pricing-card-dark-heading center-block">$120/month</h5>
                            <button class="btn-tech-title btn-techtitle-font me-4">
                                Hire Part-Time Developers
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card pricing-card-light">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-light-heading">Project Based</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  2 to 4 years of experience</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Dedicated developer</li>
                            <li><span class="fa-li"><i class="fa fa-exclamation-circle"></i></span>  Best for short-term engagement</li>
                        </ul>
                        <div class="card-body">
                            <h5 class="pricing-card-light-heading center-block">$120/month</h5>
                            <button class="btn-tech-title btn-techtitle-font me-4" style=" /* display: inline-block; */ ">
                                Hire Part-Time Developers
                                <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our pricing section end-->
    <!--benefits of hiring section start-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Benefits of hiring dedicated developers</h2>
                                    <hr class="center-block" style="width: 500px;" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        Boost Your Business with Our Reliable and Efficient .NET Solutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/acute.png" alt="Quick Around Time" />
                    <span class="benefits-of-hiring-text">Quick Around Time</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/perm_contact_calendar.png" alt="Direct Point of Contact" />
                    <span class="benefits-of-hiring-text">Direct Point of Contact</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/architecture.png" alt="Scalable Architecture" />
                    <span class="benefits-of-hiring-text">Scalable Architecture</span>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/integration_instructions.png" alt="Seamless Integration" />
                    <span class="benefits-of-hiring-text">Seamless Integration</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/category_FILL0_wght400_GRAD0_opsz24.png" alt="Dedicated Resources" />
                    <span class="benefits-of-hiring-text">Dedicated Resources</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/payments.png" alt="Cost Effective" />
                    <span class="benefits-of-hiring-text">Cost Effective</span>
                </div>
            </div>

        </div>
    </section>
    <!--benefits of hiring section end-->
    <!--development process section start-->
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Our Development Process</h2>
                                    <hr class="center-block" style="width: 500px;" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        Streamlined, Efficient, and Transparent: A Step-by-Step Journey Through Our Expert .NET Development Process.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="~/assets/images/hiringpages/development_process.png" class="development-process-imgbox img-fluid" alt="Development Process" />
                </div>
            </div>

        </div>
    </section>
    <!--development process section end-->
    <!--Hiring process section start-->
    <section>
        <div class="container">
            <div class="row center-block">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Hiring Process</h2>
                                    <hr class="hr-cls center-block" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        Join Our Team: Streamlined Hiring for Talented .NET Developers Ready to Make an Impact.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 d-flex flex-column align-items-end hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/initialConsultation.png" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Initial Consultation</span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="/assets/images/hiringpages/arrow.png" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/Pricing.png" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">
                        Pricing ( Select Model)
                    </span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="/assets/images/hiringpages/arrow.png" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box" src="~/assets/images/hiringpages/teamAugamentation.png" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Team Augmentation</span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="/assets/images/hiringpages/arrow.png" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/projectJickoff.png" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">
                        Project
                        Kickoff
                    </span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="/assets/images/hiringpages/arrow.png" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/DevelopmentandDelivery.png" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Development and Delivery</span>
                </div>
            </div>
        </div>
    </section>
    <!--HiringProces section end-->
    <!--our work section start-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Benefits of hiring dedicated developers</h2>
                                    <hr class="center-block" style="width: 500px;" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        Boost Your Business with Our Reliable and Efficient .NET Solutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/e-shala-portfolio.jpg" alt="e-shala-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>E-Shala</h4>
                                <p>
                                    School management app used by teachers and students to manage attendance, assignments and more
                                    activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/prizai-portfolio.jpg" alt="prizai-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Prizai</h4>
                                <p>
                                    App used by customers wanting to get salon services online by getting benefit of various
                                    referral programs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/improve-portfolio.jpg" alt="improve-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Improve</h4>
                                <p>
                                    App focused on health and fitness factors, which engages its user to get fit by providing
                                    knowledge on diet, exercise.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our work section end-->
    <!--Industry section start-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Related Blogs</h2>
                                    <hr class="center-block" style="width: 350px;" />
                                    <p class="detail-content m-0 center-block text-wrap">
                                        Discover More: Explore Our Related Blogs on .NET Development.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/financeandbanking.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/healthcare.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/ecommerce.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/manufacturing.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/education.png" />
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/Government.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/IOT.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/petroleumindusties.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/logistic.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/wellnessandfitness.png" />
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
            </div>

        </div>
    </section>
    <!--Industry section end-->
    <!--testimonials section start-->
    <section class="testimonial-section-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Client Testimonials</h2>
                                    <hr class="center-block" style="width: 366px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Hear, what are client says
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_wrapper">
                <div class="swiper-container cinkes_testimonial_spage_active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                    or requests. It was a great pleasure to work with the Avidclan Technologies team.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    We have worked with the team many times over different projects in the last few years, and always
                                    value having them working with us. They are great communicators and the quality of work is
                                    excellent.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                    understood the requirements very well and delivered well ahead of time.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Grégoire P.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                    to perfect their work and made sure that we were fully satisfied with the quality of work.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                    were very easy to work with.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                    <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                    <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
                </div>
            </div>
        </div>
    </section>

    <!--testimonials section end-->
    @*<div id="testimonials">
            @Html.Partial("_ClientFeedback")
        </div>*@
    <!--frequently asked question section start-->
    <section class="FAQ-section testimonial-section-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Frequently asked Questions ( FAQs )</h2>
                                    <hr class="center-block" style="width: 682px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Your Questions Answered: Everything You Need to Know About Our .NET Development Service.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Is Angular for front end development?
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Yes, Angular is a framework for front end web application development.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Is it expensive to build solutions using Angular?
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Angular offers relatively low cost and high impact solutions, and is the most popular web front
                                    end development framework. Being an open-source framework, Angular offers high performance at a
                                    relatively low price.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Is it possible to migrate legacy applications with Angular?
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Absolutely! You can modify, upgrade, customise and fix bugs for your legacy applications with
                                    version migration to Angular. We at Avidclan Technologies specialise in modernising legacy applications for
                                    better views, high performance and speed using Angular.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Does Avidclan Technologies offer post-sales support?
                                </button>
                            </h2>
                            <div id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Yes! At Avidclan Technologies, we support our clients through the full development life cycle of all projects.
                                    Our expert Angular developers ensure that post-development maintenance support and updates are
                                    taken care of.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive"
                                        aria-expanded="false"
                                        aria-controls="collapseFive">
                                    Can we create animations or customised designs with Angular?
                                </button>
                            </h2>
                            <div id="collapseFive"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Absolutely, this is what Angular is for! Customised web views are the core strength of this robust
                                    framework. At Avidclan Technologies we leverage the force of Angular to develop beautiful looking websites,
                                    with animations, accessibility features, portion views and much more! All that with a lightweight,
                                    high performance web app.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix"
                                        aria-expanded="false"
                                        aria-controls="collapseSix">
                                    Does Angular support Dynamic Loading?
                                </button>
                            </h2>
                            <div id="collapseSix"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Yes, Angular supports Dynamic Loading where a program can access the memory on run time, access
                                    and execute the functions and load and execute the needed libraries.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven"
                                        aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    What is the difference between Angular and AngularJS?
                                </button>
                            </h2>
                            <div id="collapseSeven"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingSeven"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Angular and AngularJS have multiple differences, starting with the language itself. While
                                    AngularJS uses Javascript, Google recommends using TypeScript for Angular. The architecture for
                                    AngularJS supports model-view controller design, whereas Angular uses components and directives.
                                    AngularJS isn’t supported by mobile browsers, Angular is.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--frequently asked question section end-->
    <!-- Blog Section -->
    <section class="blog-content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Frequently asked Questions ( FAQs )</h2>
                                    <hr class="center-block" style="width: 682px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Your Questions Answered: Everything You Need to Know About Our .NET Development Service.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-grid-wrap">
                <div class="row" id="demo">
                </div>
            </div>

            <!-- Blog Pagination Start -->
            <div class="blog-pagination">
                <ul class="pagination justify-content-center" id="pagination" style="margin-top: 70px;">
                </ul>
            </div>
            <!-- Blog Pagination End -->
        </div>
    </section>
    <!-- Blog Section -->
    <!--let's talk section start-->
    <section class="lets-talk">
        <div class="container">
            <div class="inner-block" style="background: var(--Secondary, #142149) !important;">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-8 col-xl-7">
                        <div class="mb-0">
                            <h3 class="lets-talk-title">Ready to Transform your Business with .NET Expertise? Let's talk!</h3>
                            <div class="lets-talk-content mt-3">
                                Partner with us to unlock the full power of .NET. We'll leverage cutting-edge technologies to drive your business forward, delivering innovative solutions that meet your unique goals and challenges.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                        <div class="btn-box">
                            <a href="~/contact-us/" class="theme-btn btn-style-one btn-light">                                
                                <span class="btn-title" style="color: #142149;"><img src="~/assets/images/hiringpages/ion_call-sharp.png" style="width: 22px; height: 22px; margin-right:5px;" />Schadule a consultation ?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--let's talk section end-->
    <!--schedule section start-->
    <section class="developer-interview-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <img class="devloper-interview-img-box" src="~/assets/images/hiringpages/devloperInterview.png" />
                </div>
                <div class="col-md-6 col-sm-3">
                    <div class="row">
                        <div class="col-auto" style="margin-left:12px;">
                            <h3 class="schedule-interview-title">
                                Schedule a Developer Interview now
                            </h3>
                        </div>
                    </div>
                    <form class="enquire-form-box">
                        <div class="form-group interview-form-input-control">
                            <input type="text" class="form-control" id="usr" placeholder="Your Name">
                        </div>
                        <div class="form-group interview-form-input-control">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group interview-form-input-control">
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="123-456-7890" aria-label="Phone number" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group interview-form-input-control">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell us about your project"></textarea>
                        </div>
                        <button class="btn-enquire-now btn-techtitle-font me-4" style=" /* display: inline-block; */ ">
                            Enquire Now
                            <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                        </button>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--schadule section end-->
    <script src="~/assets/js/swiper-bundle-min.js"></script>
    <script>
        // Siwper JS

        let swiperCard = new Swiper(".card-content", {
            loop: true,
            spaceBetween: 32,
            grabCursor: true,

            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },

            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },

            breakpoints: {
                768: { slidesPerView: 3 },
                1200: { slidesPerView: 6 },
            },
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetSectionData(1);
        });
        function GetSectionData(id) {
            $.ajax({
                type: "GET",
                url: "/Avidclan/GetSectionData?page=" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#demo").html("");
                    var sectionblog = "";
                    var paginationData = "";
                    var imageURL = "https://cms.avidclan.com";
                    var counter = 0;
                    $.each(data.data.ListBlog, function (k, v) {
                        if (counter >= 3) return false; // Break the loop after 3 iterations
                        var options = { year: 'numeric', month: 'long', day: 'numeric' };
                        var PostingDate = new Date(v.PostingDate);
                        var longDt = PostingDate.toLocaleDateString("en-US", options);
                        var Descriptionlength = v.MetaDescription.length > 80 ? v.MetaDescription.substring(0, 80) + "…" : v.MetaDescription;
                        /* var url = imageURL + v.Image;*/
                        sectionblog += '<div class="col-lg-4 col-md-6">' +
                            '<div class="blog-box">' +
                            '<div class="blog-img img img-fluid">' +
                            '<a href="/blog/' + v.PageUrl + '"><img class="BlogImages" src="' + v.Image + '" alt="" style=height:216px; ></a>' +
                            '<div class="top-meta">' +
                            '<span class="tag" style="font-style: normal;">' + v.BlogType + '</span>' +
                            '</div>' +
                            '</div>' +
                            '<div class="blog-content-box">' +
                            '<h1 class="title blog-title-text"><a href="/blog/' + v.PageUrl + '" style="font-style: normal;">' + v.Title + '</a></h1>' +
                            '<p class="blog-meta-desc">' + Descriptionlength + '</p>' +
                            '<div class="blog-ref-by-content-box">' +
                            '<span class="blog-ref-by-text"><i class="fas fa-user"></i> <a style="font-style: normal;" href="#">' + v.PostedBy + '</a></span>' +
                            '<span class="" id="admindateid_' + v.Id + '" class="blog-dt-text">' + longDt + '</span>' +
                            '</div>' +
                            '</div>' +
                            '<div class="blog-btn" style="margin-left: 83px;">' +
                            '<a href="/blog/' + v.PageUrl + '")>' +
                            ' <span class="btn-tech-title btn-techtitle-font">' +
                            'Read Full Article <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>' +
                            '</span>' +
                            '</a>' +                           
                            '</div>' +
                            '</div>' +
                            '</div>';
                        counter++; // Increment the counter after each iteration
                    })                        
                    $('#demo').html(sectionblog);
                    document.querySelector('.loader').style.display = 'none';
                    if (data.data.pager.EndPage > 1) {
                        paginationData += '<ul class="pagination">'
                        if (data.data.pager.CurrentPage > 1) {
                            let previousPage = (data.data.pager.CurrentPage) - 1;
                            paginationData += '<li class="page-item">' + '<a class="page-link" onclick="GetSectionData(' + previousPage + ')"  href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a>' + '</li>'
                        }
                        for (var page = data.data.pager.StartPage; page <= data.data.pager.EndPage; page++) {
                            var isActive = (page == data.data.pager.CurrentPage) ? "active" : "";
                            paginationData += '<li class="' + isActive + ' page-item">' +
                                '<a class="page-link" onclick="GetSectionData(' + page + ')" href="javascript:void(0);">' + page + '</a>' +
                                '</li>'
                        }
                        if (data.data.pager.CurrentPage < data.data.pager.TotalPages) {
                            let nextPage = (data.data.pager.CurrentPage) + 1;
                            paginationData += '<li class="page-item">' +
                                '<a class="page-link" onclick="GetSectionData(' + nextPage + ')" href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a>' +
                                '</li>'
                        }
                        paginationData += '</ul>'
                    }
                    $('#pagination').html(paginationData);

                    var uri = window.location.href.toString();
                    if (uri.indexOf("?") > 0) {
                        var clean_uri = uri.substring(0, uri.indexOf("?"));
                        window.history.replaceState({}, document.title, clean_uri);
                    }

                    if (id > 1) {
                        var currentURL = window.location.href;
                        var newURL = currentURL + (currentURL.indexOf('?') !== -1 ? '&' : '?') + 'page=' + id;
                        history.pushState({ path: newURL }, '', newURL);
                    }
                },
                error: function (result) {
                    alert("Error Ocurred!");
                }
            });
        }
    </script>
    @Html.Partial("_FooterWith190")
</body>
</html>
