<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    @{
        ViewBag.Title = "HiredotNetDevelopers";
    }


    @{
        ViewBag.Title = "Index";
        var context = "@context";
        var type = "@type";
        var id = "@id";
        var graph = "@graph";
    }

    @section AdditionalMeta
{
        <meta property="og:url" content="https://www.avidclan.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies">
        <meta property="og:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <meta property="og:image" content="https://www.avidclan.com/assets/images/logo.svg">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="https://twitter.com/AvidclanT">
        <meta name="twitter:title" content="Custom Web and Mobile App Development Company | Avidclan Technologies">
        <meta name="twitter:description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <meta name="twitter:image" content=" https://twitter.com/AvidclanT/header_photo ">

        <title>Custom Web and Mobile App Development Company | Avidclan Technologies</title>
        <meta name="description" content="Avidclan Technologies: Your custom web and mobile app development company. Empowering startups to enterprises with Web and Mobile App Development, AI/ML Services, UI/UX Design, Digital Marketing, and QA Services. Get a quote now!">
        <link rel="canonical" href="https://www.avidclan.com/" />

        <link href="~/assets/css/swiper-bundle-min.css" rel="stylesheet" />
        <link href="~/assets/css/Avidclan/hiringpages.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="~/assets/css/Avidclan/blog.css" />
        <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "Avidclan Technologies",
        "alternateName": "Avidclan Technologies",
        "url": "https://www.avidclan.com/",
        "logo": "https://www.avidclan.com/assets/images/logo.svg",
        "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "955-845-0670",
        "contactType": "sales",
        "areaServed": "IN",
        "availableLanguage": ["en","Hindi"]
        },
        "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
        ]
    }
        </script>

        <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Avidclan Technologies",
      "image": "https://www.avidclan.com/assets/images/logo.svg",
      "email": "solutions@avidclan.com",
      "@id": "https://www.avidclan.com/",
      "url": "https://www.avidclan.com/",
      "telephone": "955-845-0670",
      "priceRange": "$$$",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1206, Shivalik Shilp, Iskcon Cross Roads, S.G. Highway",
        "addressLocality": "Ahmedabad",
        "postalCode": "380015",
        "addressCountry": "IN"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 23.0270316,
        "longitude": 72.5062509
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Wednesday",
          "Tuesday",
          "Friday",
          "Thursday"
        ],
        "opens": "10:30",
        "closes": "19:30"
      },
     "sameAs": [
        "https://www.facebook.com/avidclan/",
        "https://twitter.com/AvidclanT",
        "https://www.instagram.com/avidclan_technologies/",
        "https://www.linkedin.com/company/avidclan-technologies/",
        "https://www.tumblr.com/blog/avidclan-technologies/"
      ]
    }
        </script>
        <script type="text/javascript">
            $('#btngetstarted').click(function () {
                $('#btnpricing').fadeOut(250).fadeIn(250);
            });
        </script>
    }
</head>
<body>
    <!-- Banner Section -->
    <section class="banner-section-two section-box-spacing">
        <div class="container banner-section-box">
            <div class="row">
                <div class="col-lg-7 order-lg-2 order-md-2 order-sm-3 order-2">
                    <div class="pl-3">
                        <h1>HIRE DEDICATED .NET DEVELOPERS</h1>
                        <h3 class="hiring-section-subtittle">Unleash the power of the .NET Development with our expert Solutions</h3>
                        <p class="text">
                            At Avidclan Technologies, we are a premier .NET development company with a proven legacy of delivering innovative solutions for businesses of all sizes, from web to desktop applications. Transform your business with our expert team, which surpasses your expectations by harnessing the full potential of the .NET framework to ensure your projects, whether enterprise-grade software or cutting-edge applications.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 d-flex flex-column flex-md-row">
                            <div class="btn-box">
                                <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one get-started-btn-mobile-ui">
                                    <span class="btn-title">
                                        Get Started
                                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                    </span>
                                </a>
                            </div>
                            <div class="btn-box btn-check-price">
                                <button onclick="scrollToSection('pricing_section')" class="btn-banner-title btn-title-font">
                                    Check our pricing plans
                                </button>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-5 order-md-2 order-sm-3 order-1 text-center">
                    <img src="~/assets/images/hiringpages/Illustration.png" class="img-fluid" alt="development" />
                </div>
            </div>

        </div>
    </section>

    <!--End Banner Section-->
    <!--Avidclan Banner div Section-->
    <section class="custom-bg py-4 section-box-spacing" style="margin-top: 14px">
        <!-- Background color applied to the section -->
        <div class="container">
            <div class="row text-center">
                <!-- Centered content -->
                <div class="col-3 col-md-3">
                    <!-- 2 columns on small screens, 4 on medium and larger screens -->
                    <div class="p-3">
                        <!-- Light background for the image container -->
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 1" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 2" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 3" />
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="p-3">
                        <img src="~/assets/images/hiringpages/Vector.png" class="img-fluid" alt="Image 4" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Avidclan div Section-->
    <!--    our services Section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Hire our .NET Developers to build Tailored Business Solutions </h2>
                                <hr class="hr-cls center-block" />
                                <p class="text m-0 header_description">At Avidclan Technologies, we harness the power of .NET Technology to create scalable, secure, high-performance applications. From enterprise solutions to dynamic web applications, Our skilled .NET developers provide customized solutions for web, desktop, and cloud platforms that leverage productivity and business growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">Custom .NET Application Development</h4>
                        <p class="">
                            Our .NET experts craft bespoke .NET applications suited to your specific business requirements. From enterprise-level systems to s we ensure your application perfectly corresponds with your operational requirements and growth objectives.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">End-to-End .NET Core Development</h4>
                        <p class="custom-card-content">
                            We offer a full-cycle .NET Core development, from development to deployment. Providing scalable, robust and cross-platform applications as per your needs and integrate seamlessly into your existing systems.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">.NET Consultancy Services</h4>
                        <p class="custom-card-content">
                            Our .NET consultants provides you  expert guidance and insightful strategies to help you make informed decisions regarding optimization, application performance, security, and alignment with your business goals.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">Migration and Integration services</h4>
                        <p class="custom-card-content">
                            Migrate and Integrate your legacy systems to .NET Framework with cloud solutions. Our .Net Developers ensure smooth transitions, enhanced performance and efficient data synchronization, leveraging .NET’s power and cloud scalability for optimal results.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4 mt-2">
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">Enterprise App Development</h4>
                        <p class="custom-card-content">
                            Specializing in the development of enterprise-grade applications for businesses using .Net technology. Our products are designed to be as efficient, scalable, and integrated as possible, providing precise and dependable answers to challenging business problems.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">.NET Application Development</h4>
                        <p class="custom-card-content">
                            We make use of. NET technologies to develop robust, scalable enterprise applications that put an emphasis on precise and dependable fulfillment of complex business requirements, seamless integration, and high performance.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">.NET Maintenance and Support</h4>
                        <p class="custom-card-content">
                            As a top .NET development company, we provide comprehensive maintenance and support services that include safe, quick page loading, automated backups, error-free plugin performance, updated software versions, decreased downtime, security, and more.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="custom-card-box">
                        <h4 class="service-card-subtitle">Microservices and Docker Containerization</h4>
                        <p class="custom-card-content">
                            Hire experts in .NET Microservices and Docker Containerization. We deploy scalable, efficient solutions that streamline operations, enhance performance, and ensure seamless integration for your business needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our services Section end-->
    <!-- CTA Section start-->
    <section class="ctasection section-box-spacing section-box-spacing-mobile-ui">
        <div class="container" style="background: var(--Secondary, #142149) !important;">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                    <div class="sec-title mb-0">
                        <h3 class="ctasectiontexct">"Unlock the Power of .NET for Your Next Project"</h3>
                        <div class="cta-content-text">
                            Start your project with confidence by engaging our experienced .NET developers for reliable and scalable solutions
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12" align="center">
                    <div class="cta-btn-box align-items-center" align="center">
                        <a href="~/contact-us/" class="btn-style-one btn-light  d-flex align-items-center justify-content-center">
                            <span class="cta-btn-title"><span class="iconify me-2" data-icon="ion:call-sharp" data-height="25"></span>Let’s Connect</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA Section end-->
    <!--Technologies section start-->
    <section class="techsection section-box-spacing">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Technologies</h2>
                                <hr class="hr-cls center-block" />
                                <p class="text m-0 header_description">We exhibit integrity and transparency at the top-notch level by protecting your intellectual ideas through strict NDA rules.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sec-tech-titlediv section-box-spacing-mobile-ui">
                <div class="col-md-2 col-lg-2">
                    <div class="tech-title-box tech-box" style="float: left;">
                        <h4>Frameworks</h4>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 my-auto">
                    <div class="tech-box" style="/* float: left; */">
                        <ul class=" inline-list">
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>ASP.NET</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>WPF</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>WF</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Blazor</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>SignalR</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row sec-tech-titlediv section-box-spacing-mobile-ui">
                <div class="col-md-2 col-lg-2">
                    <div class="tech-title-box tech-box" style="float: left;">
                        <h4>Libraries</h4>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 my-auto">
                    <div class="tech-box" style="/* float: left; */">
                        <ul class="inline-list">
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>LINQ</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>ADO.NET</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>System. Data</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>AutoMapper</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Serilog</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Nlog</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row sec-tech-titlediv section-box-spacing-mobile-ui">
                <div class="col-md-2 col-lg-2">
                    <div class="tech-title-box tech-box" style="float: left;">
                        <h4>Databases</h4>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 my-auto">
                    <div class="tech-box" style="/* float: left; */">
                        <ul class="inline-list">
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>SQL Server</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Oracle</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>MY SQL</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>MongoDB</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>SignalR</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row sec-tech-titlediv section-box-spacing-mobile-ui">
                <div class="col-md-2 col-lg-2">
                    <div class="tech-title-box tech-box" style="float: left !important;">
                        <h4>Tools and Utilities</h4>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 my-auto">
                    <div class="tech-box" style="/* float: left; */">
                        <ul class="inline-list">
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Visual Studio</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>NuGet</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Docker</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Git Hub</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Jira</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Azure Devops</li>
                            <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Docker</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-box">
                    <a href="~/services#project_inquiry_form" class="theme-btn btn-style-one text-center mt-4 mb-3">
                        <span class="btn-title">
                            Schedule a Developer Interview
                            <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Technologies section end-->
    <!--company success section start-->
    <section>
        <div class="container section-box-spacing" style="margin-top:15px;">
            <div class="row">
                <div class="col-md-12 col-lg-6 mb-3">
                    <div>
                        <div class="service-block">
                            <div class="detail-section-div">
                                <div class="avidclan_section_title text-wrap">
                                    <div class="sec-title custom-about-box">
                                        <h2 class="detail-title" style="padding-bottom: 0px !important;">Who are we?</h2>
                                        <hr class="hr-cls hr-cls-mobile-view" />
                                        <p class="detail-content m-0">
                                            A mindful team of tech innovators transforming bold ideas into digital masterpieces. We at Avidclan fuse creativity with technology, crafting user-centric solutions that captivate and drive the success of global leaders
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-img" style="border:none;">
                            <img src="~/assets/images/hiringpages/Rectangle 128.png" class="detail-content-img" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="detail-contentbox-dark">
                                    <img src="~/assets/images/hiringpages/Office Team.svg" />
                                    <div class="c-number">100+</div>
                                    <p class="detail-contentbox-dark-p">Clients Served Globally</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="detail-contententbox-light">
                                    <img src="/assets/images/hiringpages/Delivered.svg" />
                                    <div class="number-style">150+</div>
                                    <p style="margin-bottom:38px;" class="detail-contententbox-light-p">Projects Delivered</p>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div>
                                <div class="detail-contententbox-light">
                                    <img src="~/assets/images/hiringpages/Team.svg" />
                                    <div class="number-style">30+</div>
                                    <p class="about-avidclan-text detail-contententbox-light-p">Developers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="detail-contentbox-dark">
                                    <img src="~/assets/images/hiringpages/Satisfaction.svg" />
                                    <div class="c-number">90%</div>
                                    <p class="about-avidclan-text detail-contentbox-dark-p">Satisfaction Rate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--company sucess section end-->
    <!--hire from avidclan section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-people-grp-leftside lg_only fixed" id="img-people-grp-leftside">
                        <img class="hireavidclanImg" src="~/assets/images/hiringpages/Rectangle 124.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row sidebar-wrap lg_only">
                        <div class="avidclan_section_title text-wrap">
                            <div class="sec-title">
                                <h2 class="detail-title" style="padding-bottom: 0px !important;">Why Hire from Avidclan Technologies?</h2>
                                <hr class="hr-cls" />
                                <p class="detail-content m-0" style="box-shadow: 0px 12px 24px 0px rgba(33, 37, 41, 0.06);">
                                    At Avidclan we have a well-organized process that allows us to assess each talent's abilities and experience to choose the best talent to meet your needs and assist you in creating a robust, cross-platform and innovative app that will grow your company.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box"><img src="~/assets/images/hiringpages/dev 2.svg" /></div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Expert team of  Developers</h5>
                                    <p class="card-text">We exhibit integrity and transparency at the top-notch level by protecting your intellectual ideas through strict NDA rules.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 tailor-solution-box">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box">
                                    <img src="~/assets/images/hiringpages/solutions.svg" />
                                </div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Tailored Solutions</h5>
                                    <p class="card-text">Our custom solutions guarantee relevance and optimize the impact of your project by perfectly aligning with your business objectives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 mt-3">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box">
                                    <img src="~/assets/images/hiringpages/cpo.svg" />
                                </div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Cost -Performance Optimization</h5>
                                    <p class="card-text">Our primary objective is to provide economical solutions while enhancing efficiency to guarantee optimal return on investment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 mt-3">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box">
                                    <img src="~/assets/images/hiringpages/legacy.svg" />
                                </div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Legacy Modernization</h5>
                                    <p class="card-text">We at Avidclan Technologies skillfully upgrade legacy systems to modern .NET Framework boosting efficiency and scalability.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 mt-3">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box">
                                    <img src="~/assets/images/hiringpages/track record.svg" />
                                </div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Proven Track Record</h5>
                                    <p class="card-text">Our portfolio highlights successful projects across domains, delivering solutions that drive business growth, enhance productivity, and exceed expectations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 mt-3">
                            <div class="hire-avidclan-card">
                                <div class="hire-section-icon-box">
                                    <img src="~/assets/images/hiringpages/communication.svg" />
                                </div>
                                <div>
                                    <h5 class="card-title hire-avidclan-card-tittle">Transparent Communication</h5>
                                    <p class="card-text">
                                        We use an agile development approach
                                        and make sure your project has a transparent
                                        workflow , open lines of communication, and a reliable reporting system.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hire from avidclan section end-->
    <!--our pricing section start-->
    <section class="section-box-spacing" id="pricing_section">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Our Pricing Plans</h2>
                                <hr class="hr-cls center-block" />
                                <p class="text m-0 header_description">
                                    "Explore our flexible pricing plans and choose the one that fits your needs. Contact us for a custom quote."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-card-light">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-light-heading">Hourly Rate</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" />  2 to 4 years of experience</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" />  Dedicated developer</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" /> Best for short-term engagement</li>
                        </ul>
                        <div style="width:100%;">
                            <h5 class="pricing-card-light-heading center-block">$120/month</h5>
                            <div class="btn-box  text-center mt-3">
                                <button onclick="window.location.href='~/services#project_inquiry_form';" class="theme-btn btn-style-one">
                                    <span class="btn-title" style="padding: 10px 20px!important;">
                                        Hire Part-Time Developers
                                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                    </span>
                                </button>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 rating-box-mobile-ui">
                    <div class="pricing-card-dark">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-dark-heading">Monthly Retain</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon_blue.svg" />  2 to 4 years of experience</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon_blue.svg" />  Dedicated developer</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon_blue.svg" /> Best for short-term engagement</li>
                        </ul>
                        <div style="width:100%;">
                            <h5 class="pricing-card-dark-heading center-block">$120/month</h5>
                            <div class="btn-box  text-center mt-3">
                                <button onclick="window.location.href='~/services#project_inquiry_form';" class="theme-btn btn-style-one">
                                    <span class="btn-title" style="padding: 10px 20px!important;">
                                        Hire Part-Time Developers
                                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 rating-box-mobile-ui">
                    <div class="pricing-card-light">
                        <div class="card-body center-block">
                            <h5 class="card-title pricing-card-light-heading">Project Based</h5>
                        </div>
                        <ul class="fa-ul">
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" />2 to 4 years of experience</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" />Dedicated developer</li>
                            <li><img src="~/assets/images/hiringpages/exclamatory_icon.svg" /> Best for short-term engagement</li>
                        </ul>
                        <div style="width:100%;">
                            <h5 class="pricing-card-light-heading center-block">$120/month</h5>
                            <div class="btn-box  text-center mt-3">
                                <button onclick="window.location.href='~/services#project_inquiry_form';" class="theme-btn btn-style-one">
                                    <span class="btn-title" style="padding: 10px 20px!important;">
                                        Hire Part-Time Developers
                                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our pricing section end-->
    <!--benefits of hiring section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Benefits of hiring dedicated developers</h2>
                                <hr class="center-block" style="width: 500px;"/>
                                <p class="text m-0 header_description">
                                    Boost Your Business with Our Reliable and Efficient .NET Solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/acute.png" alt="Quick Around Time" />
                    <span class="benefits-of-hiring-text">Quick Around Time</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center benefits-icon-box">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/perm_contact_calendar.png" alt="Direct Point of Contact" />
                    <span class="benefits-of-hiring-text">Direct Point of Contact</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center benefits-icon-box">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/architecture.png" alt="Scalable Architecture" />
                    <span class="benefits-of-hiring-text">Scalable Architecture</span>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-md-4 d-flex flex-column align-items-center">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/integration_instructions.png" alt="Seamless Integration" />
                    <span class="benefits-of-hiring-text">Seamless Integration</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center benefits-icon-box">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/category_FILL0_wght400_GRAD0_opsz24.png" alt="Dedicated Resources" />
                    <span class="benefits-of-hiring-text">Dedicated Resources</span>
                </div>
                <div class="col-md-4 d-flex flex-column align-items-center benefits-icon-box">
                    <img class="benefits-of-hiring-img mb-2" src="~/assets/images/hiringpages/payments.png" alt="Cost Effective" />
                    <span class="benefits-of-hiring-text">Cost Effective</span>
                </div>
            </div>

        </div>
    </section>
    <!--benefits of hiring section end-->
    <!--development process section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row mt-5">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Our Development Process</h2>
                                <hr class="center-block" style="width: 500px;"/>
                                <p class="text m-0 header_description">At Avidclan Technologies, we harness the power of .NET Technology to create scalable, secure, high-performance applications. From enterprise solutions to dynamic web applications, Our skilled .NET developers provide customized solutions for web, desktop, and cloud platforms that leverage productivity and business growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12" style="border:none;" id="develoment-process-div">
                    <img src="~/assets/images/hiringpages/development_process.png" class="development-process-imgbox img-fluid w-100" alt="Development Process" />
                </div>
                <div class="col-md-12 col-sm-12" style="border:none;display:none;" id="develoment-process-div-mobile">
                    <img src="~/assets/images/hiringpages/working process path.png" class="development-process-imgbox img-fluid w-100" alt="Development Process" />
                </div>
            </div>

        </div>
    </section>
    <!--development process section end-->
    <!--Hiring process section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row center-block">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Hiring Process</h2>
                                <hr class="hr-cls center-block" />
                                <p class="text m-0 header_description">
                                    Join Our Team: Streamlined Hiring for Talented .NET Developers Ready to Make an Impact.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-2"></div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/initial_cons.svg" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Initial Consultation</span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="~/assets/images/hiringpages/arrow.svg" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/pricing.svg" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">
                        Pricing ( Select Model)
                    </span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="~/assets/images/hiringpages/arrow.svg" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box" src="~/assets/images/hiringpages/team_augament.svg" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Team Augmentation</span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="~/assets/images/hiringpages/arrow.svg" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/project.svg" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">
                        Project
                        Kickoff
                    </span>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="arrow-icon mt-5" src="~/assets/images/hiringpages/arrow.svg" />
                    </div>
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center hiringprocess-content-box">
                    <div class="d-flex align-items-center">
                        <img class="hiringprocess-img-box " src="~/assets/images/hiringpages/development_delivery.svg" />
                    </div>
                    <span class="hiringprocess-text-box text-wrap mt-3">Development and Delivery</span>
                </div>
            </div>
        </div>
    </section>
    <!--HiringProces section end-->
    <!--our work section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Our Work</h2>
                                <hr class="center-block"  style="width:250px;" />
                                <p class="text m-0 header_description">
                                    Our happiness lies in the history we share with our clients and customers! We make every effort to turn your idea into reality that changes user perspective. Have a look at our Portfolio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/e-shala-portfolio.jpg" alt="e-shala-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>E-Shala</h4>
                                <p>
                                    School management app used by teachers and students to manage attendance, assignments and more
                                    activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/prizai-portfolio.jpg" alt="prizai-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Prizai</h4>
                                <p>
                                    App used by customers wanting to get salon services online by getting benefit of various
                                    referral programs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-block-five masonry-item por-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/assets/images/gallery/improve-portfolio.jpg" alt="improve-portfolio" />
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <h4>Improve</h4>
                                <p>
                                    App focused on health and fitness factors, which engages its user to get fit by providing
                                    knowledge on diet, exercise.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our work section end-->
    <!--Industry section start-->
    <section class="section-box-spacing">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="avidclan_section_title text-center mb-50">
                            <div class="sec-title">
                                <h2 style="font-family: Poppins !important; padding-bottom: 0">Industries we serve in</h2>
                                <hr class="center-block"  style="width: 350px;"/>
                                <p class="text m-0 header_description">
                                    Transforming diverse industries with innovative, robust, and scalable .NET solutions for seamless digital growth and success.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/financeandbanking.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/healthcare.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/ecommerce.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/manufacturing.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/education.png" />
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/Government.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/IOT.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/petroleumindusties.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/logistic.png" />
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center">
                    <img class="industries-img-box mb-2" src="~/assets/images/hiringpages/wellnessandfitness.png" />
                </div>
                <div class="col-md-1 d-flex flex-column align-items-center">

                </div>
            </div>

        </div>
    </section>
    <!--Industry section end-->
    <!--testimonials section start-->
    <section class="bg-img-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Client Testimonials</h2>
                                    <hr class="center-block" style="width: 366px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Hear, what are client says
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cinkes_testimonial_spage_wrapper">
                <div class="swiper-container cinkes_testimonial_spage_active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Skillfuly accomplished the complex development tasks. Team was available for discussion on changes
                                    or requests. It was a great pleasure to work with the Avidclan Technologies team.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/1.jpg" alt="darpon-k" srcset="~/assets/images/user/1.jpg 100w, ~/assets/images/user/1.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Darpon K.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">CEO & Founder</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    We have worked with the team many times over different projects in the last few years, and always
                                    value having them working with us. They are great communicators and the quality of work is
                                    excellent.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/2.jpg" srcset="~/assets/images/user/2.jpg 100w, ~/assets/images/user/2.jpg 1080w" sizes="100vw" alt="Tom-A-technical-director" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Tom A.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Technical Director</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Avidclan Technologies did a splendid job building our UI and frontend exactly the way we wanted. They
                                    understood the requirements very well and delivered well ahead of time.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/3.jpg" alt="gregoire-p-managibg-director" srcset="~/assets/images/user/3.jpg 100w, ~/assets/images/user/3.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Grégoire P.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Managing director</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Team communicates very well and adheres to deadlines, even getting work done early. They take time
                                    to perfect their work and made sure that we were fully satisfied with the quality of work.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/4.jpg" alt="nicholas-p-web-designer" srcset="~/assets/images/user/4.jpg 100w, ~/assets/images/user/4.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Nicolas P.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Web Designer</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cinkes_testimonial_spage_content">
                                <p class="cinkes_testimonial_spage_message">
                                    Fantastic skills and the development team has got a great eye for detail and accuracy and they
                                    were very easy to work with.
                                </p>
                                <div class="cinkes_testimonial_spage_author mt-35">
                                    <span class="cinkes_testimonial_spage_author_img">
                                        <img src="~/assets/images/user/5.jpg" alt="sanuka-s-sales-manager" srcset="~/assets/images/user/5.jpg 100w, ~/assets/images/user/5.jpg 1080w" sizes="100vw" width="100" height="100" class="lazyload" loading="lazy" />
                                    </span>
                                    <div class="cinkes_testimonial_spage_author_text">
                                        <b class="cinkes_testimonial_spage_author_name">Sanuka S.</b><br />
                                        <span class="cinkes_testimonial_spage_author_designation">Sales Manager</span>
                                        <div class="cinkes_testimonial_spage_author_rating text-primary">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cinkes_testimonial_spage_navigation text-center mt-35">
                    <div class="cinkes_testimonial_spage_prev"><i class="fas fa-long-arrow-alt-left"></i></div>
                    <div class="cinkes_testimonial_spage_next"><i class="fas fa-long-arrow-alt-right"></i></div>
                </div>
            </div>
        </div>
    </section>

    <!--testimonials section end-->
    @*<div id="testimonials">
            @Html.Partial("_ClientFeedback")
        </div>*@
    <!--frequently asked question section start-->
    <section class="FAQ-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Frequently asked Questions ( FAQs )</h2>
                                    <hr class="center-block" style="width: 682px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Your Questions Answered: Everything You Need to Know About Our .NET Development Services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    What skills should I look for in a .NET Framework Developer?
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Seek for C and ASP proficiency. web services, MVC, and NET. Knowledge of front-end technologies and SQL Server proficiency are also beneficial.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    What is the hiring Process?
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Transparent, Simple, and Straight-forward, from initial consultation to project kickoff
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    How do I ensure the developer is a good fit for my project?
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Interview technical candidates and go over previous project experience. Evaluate their ability to work with your unique technology stack and requirements as well as their problem-solving abilities.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">
                                    What are the costs associated with hiring a .NET Framework developer?
                                </button>
                            </h2>
                            <div id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Based on the developer's background, the project's complexity, and location, costs may change. Generally speaking, contracts, hourly, or full-time employment are available for developers.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive"
                                        aria-expanded="false"
                                        aria-controls="collapseFive">
                                    What support you offer?
                                </button>
                            </h2>
                            <div id="collapseFive"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    24/7 Support and maintenance services
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix"
                                        aria-expanded="false"
                                        aria-controls="collapseSix">
                                    Can I work with a specific .NET developer for projects or hourly work?
                                </button>
                            </h2>
                            <div id="collapseSix"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingSix"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Whether you are hiring on an hourly or project-based basis, We at Avidclan provide flexible hiring models that can be tailored to your needs. Our project-specific engagement models, which are focused on your project's goal, include Fixed Price Model, and others.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven"
                                        aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    What our Dot Net programmers can do for you?
                                </button>
                            </h2>
                            <div id="collapseSeven"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingSeven"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="fa-ul">
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Custom app development</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Cloud migration</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Framework architecture</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Enterprise solutions</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Web portal development</li>
                                    </ul>
                                    <ul class="fa-ul">
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Application modernization</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>Mobile app development</li>
                                        <li class="inline-list-li"><span><i class="fa-solid fa-circle fa-xs"></i></span>CMS website development</li>
                                        <li class="inline-list-li">
                                            <span><i class="fa-solid fa-circle fa-xs"></i></span>Remote ASP dot net migration services
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight"
                                        aria-expanded="false"
                                        aria-controls="collapseEight">
                                    What are the hiring engagement options available at Avidclan?
                                </button>
                            </h2>
                            <div id="collapseEight"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingEight"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    At Avidclan, we have three hiring modules. Part-time, Quarterly, and Annual all have their plans and working hours accordingly. You can check that out in our pricing plans section
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseNine"
                                        aria-expanded="false"
                                        aria-controls="collapseNine">
                                    What if I am not satisfied with the hired .Net developer's work and would like to exit?
                                </button>
                            </h2>
                            <div id="collapseNine"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingNine"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    If you're not satisfied with the hired .NET developer's work, you can opt for a hassle-free exit. We offer flexible terms to ensure your project meets your expectations without any commitment concerns. But we ensure that exit phase will never come.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--frequently asked question section end-->
    <!-- Blog Section -->
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="service-block">
                        <div class="detail-section-div">
                            <div class="avidclan_section_title text-wrap">
                                <div class="sec-title center-block">
                                    <h2 class="detail-title" style="padding-bottom: 0px !important; text-align: center;">Related Blogs</h2>
                                    <hr class="center-block" style="width: 250px;" />
                                    <p class="detail-content m-0  text-wrap" style="text-align: center">
                                        Discover More: Explore Our Related Blogs on .NET Development.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-grid-wrap">
                <div class="row" id="demo">
                </div>
            </div>

            <!-- Blog Pagination Start -->
            <div class="blog-pagination">
                <ul class="pagination justify-content-center" id="pagination" style="margin-top: 70px;">
                </ul>
            </div>
            <!-- Blog Pagination End -->
        </div>
    </section>
    <!-- Blog Section -->
    <!--let's talk section start-->
    <section class="lets-talk section-box-spacing">
        <div class="container">
            <div class="row align-items-center inner-block" style="background: var(--Secondary, #142149) !important;">
                <div class="col-md-12 col-lg-8 col-xl-7">
                    <div class="mb-0">
                        <h3 class="lets-talk-title">Ready to Transform your Business with .NET Expertise? Let's talk!</h3>
                        <div class="lets-talk-content mt-3">
                            Partner with us to unlock the full power of .NET. We'll leverage cutting-edge technologies to drive your business forward, delivering innovative solutions that meet your unique goals and challenges.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-xl-5 text-end">
                    <div class="btn-box">
                        <a href="~/contact-us/" class="theme-btn btn-style-one btn-light text-center">
                            <span class="btn-title" style="color: #142149;"><img src="~/assets/images/hiringpages/ion_call-sharp.png" style="width: 22px; height: 22px; margin-right:5px;" />Schedule a consultation </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--let's talk section end-->
    <!--schedule section start-->
    <section class="developer-interview-section section-box-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-3">
                    <img class="" src="~/assets/images/hiringpages/devloperInterview.png" />
                </div>
                <div class="col-md-6 col-lg-6 col-sm-3 mt-4">
                    <div class="row">
                        <div class="col-auto" style="margin-left:12px;">
                            <h3 class="schedule-interview-title">
                                Schedule a Developer Interview now
                            </h3>
                        </div>
                    </div>
                    <form id="hiringform" method="post" name="hiring_form_data">
                        <div class="col-md-12">
                            <div class="form-group interview-form-input-control">
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group interview-form-input-control">
                                <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group interview-form-input-control">
                                <input type="tel" class="form-control" name="ContactNumber" id="ContactNumber" placeholder="123-456-7890" aria-label="Phone number" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group interview-form-input-control">
                                <textarea class="form-control" id="Message" name="Message" rows="3" placeholder="Tell us about your project"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-box" style="margin-left: 13px">
                                <button type="button" class="theme-btn btn-style-one" name="submit" id="btnSendHMail">
                                    <span class="btn-title">
                                        Enquire Now
                                        <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span>
                                        </span>
                                </button>
                            </div>                            
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--schadule section end-->
    <script src="~/assets/js/swiper-bundle-min.js"></script>
    <script>
        // Siwper JS

        let swiperCard = new Swiper(".card-content", {
            loop: true,
            spaceBetween: 32,
            grabCursor: true,

            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },

            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },

            breakpoints: {
                768: { slidesPerView: 3 },
                1200: { slidesPerView: 6 },
            },
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var BlogType = ".NET"
            GetSectionData(BlogType);


            $('#btnSendHMail').on('click', function () {
                var Name = $("#Name").val();
                var Email = $("#Email").val();
                var ContactNumber = $("#ContactNumber").val();
                var Message = $("#Message").val();

                // Simple validation rules
    if (Name === "") {
        alert("Please enter your name.");
        return false;
    }

    if (Email === "") {
        alert("Please enter your email.");
        return false;
    } else {
        // Email format validation
        var emailPattern = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!emailPattern.test(Email)) {
            alert("Please enter a valid email address.");
            return false;
        }
    }

    if (ContactNumber === "") {
        alert("Please enter your contact number.");
        return false;
    } else {
        // Basic phone number format validation (US format in this case)
        var phonePattern = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
        if (!phonePattern.test(ContactNumber)) {
            alert("Please enter a valid phone number.");
            return false;
        }
    }

    if (Message === "") {
        alert("Please provide details about your project.");
        return false;
    }



                var fileData = new FormData();
                fileData.append('Name', Name);
                fileData.append('Email', Email);
                fileData.append('ContactNumber', ContactNumber);
                fileData.append('Message', Message);

                return $.ajax({
                    type: "POST",
                    url: "/api/Mail/SendHiringDotNetDetails",
                    data: fileData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response) { // check whether response is received
                            window.location.replace("/thankyou");
                            message.fadeIn().removeClass("alert-danger").addClass("alert-success");
                            message.text(response);
                            grecaptcha.reset();
                            setTimeout(function () {
                                message.fadeOut();
                            }, 3000);
                           // Candidateform.find('input:not([type="submit"]), textarea').val("");
                        }
                    }
                });
            });

        });

    </script>
    <script type="text/javascript">
        function GetSectionData(BlogType) {
            $.ajax({
                type: "GET",
                url: "/Avidclan/GetSectionDataByBlogType?BlogType=" + BlogType,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    $("#demo").html("");
                    var sectionblog = "";
                    var paginationData = "";
                    var imageURL = "https://cms.avidclan.com";

                    $.each(data.data.ListBlog, function (k, v) {

                        var options = { year: 'numeric', month: 'long', day: 'numeric' };
                        var PostingDate = new Date(v.PostingDate);
                        var longDt = PostingDate.toLocaleDateString("en-US", options);
                        var Descriptionlength = v.MetaDescription.length > 80 ? v.MetaDescription.substring(0, 80) + "…" : v.MetaDescription;

                        sectionblog += '<div class="col-lg-4 col-md-6">' +
                            '<div class="single-blog">' +
                            '<div class="blog-img img img-fluid">' +
                            '<a href="/blog/' + v.PageUrl + '"><img class="BlogImages" src="' + v.Image + '" alt="" style="height:216px;"></a>' +
                            '</div> ' +
                            '<div class="blog-content w-100">' +
                            '<h1 class="title blog-title"><a href="/blog/' + v.PageUrl + '">' + v.Title + '</a></h1>' +
                            '<div class="blog-meta"><span><i class="fas fa-user icon-image"></i><span class="by-separator">by</span><a href="#">' + v.PostedBy + '</a></span><span id="admindateid_36"><i class="far fa-calendar-alt"></i>' + longDt + '</span></div>' +
                            '<div class="read-article">' +
                            '<div class="btn-box  text-center mt-3">' +
                            '<button onclick="window.location.href=\'' + '/blog/' + v.PageUrl + '\'"' + 'class="theme-btn btn-style-one text-center"><span class="btn-title">Read Full Article <span class="iconify ms-2" data-icon="entypo:arrow-long-right" data-height="25"></span></span></button>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';

                    })
                    onclick = "window.location.href='/services#project_inquiry_form';"
                    $('#demo').html(sectionblog);

                },
                error: function (result) {
                    alert("Error Ocurred!");
                }
            });
        }
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth' });
            }
        }


        // hiring dwtail submit : send mail

        //var hiringform = $("#hiringform");
        //hiringform.submit(function (e) {

        //    e.preventDefault();

        //    if (!$(".career_form").valid()) {
        //        return false;
        //    }

        //    $('#button-spinner').show();
        //    $('#btnSendEmail').attr("disabled", true);

            
        //});

        function SendMail() {
            
        }

    </script>
    @Html.Partial("_Footer")
</body>
</html>
